<div class="container-fluid">
    <div class="block-header">
        <h2>Settings > Payment System Settings</h2>
    </div>
    <!-- Vertical Layout -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="header">
                    <h2>Payment System Settings (Advertisement system + Pro System)</h2>
                </div>
                <div class="body">
                    <div class="alert alert-success payment-settings-alert"></div>
                    <form class="payment-settings" method="POST">
                        <?php if(Wo_IsAdmin() == true){ ?>
                        <label for="bitcoin">Bitcoin Payment Method </label>
                        <div class="form-group">
                            <input type="radio" name="bitcoin" id="bitcoin-enabled" value="yes" <?php echo ($wo['config']['bitcoin'] == 'yes') ? 'checked': '';?>>
                            <label for="bitcoin-enabled">Enabled</label>
                            <input type="radio" name="bitcoin" id="bitcoin-disabled" value="no" <?php echo ($wo['config']['bitcoin'] == 'no') ? 'checked': '';?>>
                            <label for="bitcoin-disabled" class="m-l-20">Disabled</label>
                        </div>
                        <label for="credit_card">Credit Card Payment Method </label>
                        <div class="form-group">
                            <input type="radio" name="credit_card" id="credit_card-enabled" value="yes" <?php echo ($wo['config']['credit_card'] == 'yes') ? 'checked': '';?>>
                            <label for="credit_card-enabled">Enabled</label>
                            <input type="radio" name="credit_card" id="credit_card-disabled" value="no" <?php echo ($wo['config']['credit_card'] == 'no') ? 'checked': '';?>>
                            <label for="credit_card-disabled" class="m-l-20">Disabled</label>
                        </div> 
                        <label for="alipay">Alipay Payment Method </label>
                        <div class="form-group">
                            <input type="radio" name="alipay" id="alipay-enabled" value="yes" <?php echo ($wo['config']['alipay'] == 'yes') ? 'checked': '';?>>
                            <label for="alipay-enabled">Enabled</label>
                            <input type="radio" name="alipay" id="alipay-disabled" value="no" <?php echo ($wo['config']['alipay'] == 'no') ? 'checked': '';?>>
                            <label for="alipay-disabled" class="m-l-20">Disabled</label>
                        </div> 
                        <br>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="stripe_secret" name="stripe_secret" class="form-control" value="<?php echo $wo['config']['stripe_secret'];?>">
                                <label class="form-label">Stripe API Secret Key <small>Your Stripe secret key that starts with sk_</small></label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="stripe_id" name="stripe_id" class="form-control" value="<?php echo $wo['config']['stripe_id'];?>">
                                <label class="form-label">Stripe Publishable Key <small>Your Stripe publishable key that starts with pk_</small></label>
                            </div>
                        </div>
                            <br>
                        <label for="paypal_mode">PayPal Mode</label>
                        <div class="form-group">
                            <input type="radio" name="paypal_mode" id="paypal_mode-enabled" value="live" <?php echo ($wo['config']['paypal_mode'] == 'live') ? 'checked': '';?>>
                            <label for="paypal_mode-enabled">Live</label>
                            <input type="radio" name="paypal_mode" id="paypal_mode-disabled" value="sandbox" <?php echo ($wo['config']['paypal_mode'] == 'sandbox') ? 'checked': '';?>>
                            <label for="paypal_mode-disabled" class="m-l-20">SandBox</label>
                        </div> 
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="paypal_id" name="paypal_id" class="form-control" value="<?php echo $wo['config']['paypal_id'];?>">
                                <label class="form-label">PayPal Clinet ID</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="paypal_secret" name="paypal_secret" class="form-control" value="<?php echo $wo['config']['paypal_secret'];?>">
                                <label class="form-label">PayPal Secret Key</label>
                            </div>
                        </div>
                        <?php }elseif(Wo_IsNormalAdmin()){ ?> <!--For Company Admin-->
                            <label for="paypal_mode">PayPal Mode</label>
                            <div class="form-group">
                                <input type="radio" name="paypal_mode" id="paypal_mode-enabled" value="live" <?php echo (Wo_CompanyPaymentConfig()->paypal_mode == 'live') ? 'checked': '';?>>
                                <label for="paypal_mode-enabled">Live</label>
                                <input type="radio" name="paypal_mode" id="paypal_mode-disabled" value="sandbox" <?php echo (Wo_CompanyPaymentConfig()->paypal_mode == 'sandbox') ? 'checked': '';?>>
                                <label for="paypal_mode-disabled" class="m-l-20">SandBox</label>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" id="paypal_id" name="paypal_id" class="form-control" value="<?php echo Wo_CompanyPaymentConfig()->paypal_id;?>">
                                    <label class="form-label">PayPal Clinet ID</label>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" id="paypal_secret" name="paypal_secret" class="form-control" value="<?php echo Wo_CompanyPaymentConfig()->paypal_secret;?>">
                                    <label class="form-label">PayPal Secret Key</label>
                                </div>
                            </div>
                        <?php } ?><!--End For Company Admin-->
                        <input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- #END# Vertical Layout -->
<script>
$(function() {
    var form_payment_settings = $('form.payment-settings');
    form_payment_settings.ajaxForm({
        url: Wo_Ajax_Requests_File() + '?f=admin_setting&s=update_general_setting',
        beforeSend: function() {
            form_payment_settings.find('.waves-effect').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                form_payment_settings.find('.waves-effect').text('Save');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('.payment-settings-alert').html('<i class="fa fa-check"></i> Settings updated successfully');
                setTimeout(function () {
                    $('.payment-settings-alert').empty();
                }, 2000);
            }
        }
    });
});
</script>