<?php

//var_dump($wo['messageuser']);
?>

<div class="message-user-info-cssz">
    <div class="message-user-info-css">
        <img src="<?php echo $wo['messageuser']['avatar']; ?>" width="100px" alt="">
        <h4><?php echo $wo['messageuser']['name']; ?></h4>
        <div><hr></div>
    </div>
    <div class="info">
        <div>
            <h5>Address</h5>
            <span><?php echo $wo['messageuser']['address'] ?></span>
        </div>
            <div class="clearfix"></div>
        <div>
            <h5>About</h5>
            <span><?php echo $wo['messageuser']['about'] ?></span>
        </div>
            <div class="clearfix"></div>
        <div>
            <h5>Date Of Birth</h5>
            <span><?php echo $wo['messageuser']['birthday'] ?></span>
        </div>
            <div class="clearfix"></div>
        <div>
            <h5>Gender</h5>
            <span><?php echo $wo['messageuser']['gender'] ?></span>
        </div>
            <div class="clearfix"></div>
        <div>
            <h5>Language</h5>
            <span><?php echo $wo['messageuser']['language'] ?></span>
        </div>
    </div>
</div>
