<div class="page-margin">
   <div class="row">
      <div class="col-md-2"><?php echo Wo_LoadPage("sidebar/left-sidebar"); ?></div>
      <div class="col-md-10 profile-lists bgf">
          <div class="list-group-item bgf" style="font-family: OpenSansBold; color: #253452;"><i class="fas fa-flag"></i> <?php echo $wo['lang']['my_pages'];?><span class="<?php echo Wo_RightToLeft('pull-right'); ?>" ><a href="<?php echo Wo_SeoLink('index.php?link1=create-page');?>" data-ajax="?link1=create-page"><?php echo $wo['lang']['create']; ?></a></span></div>
          <div class="setting-well">
              <div class="<!--row--> bgf">
                  <table class="b-sug-table" style="/*display: inline-flex;*/">
                      <tr>
                          <td class="yp">Your Pages</td>
                          <td class="ts">Top Suggestions</td>
                          <td class="lp">Liked Pages</td>
                      </tr>
                  </table>
                  <div class="clearfix"></div>
<!--                <div class="col-md-4">-->
<!--                              --><?php
//                              if ($wo['config']['pages'] == 1) {
//                                  $pages = Wo_PageSug(1);
//                //                  var_dump($pages);
//                                  if (count($pages) != 0) {
//                                      ?>
<!--                                      <ul class="list-group b-sidebar-pages-s b-right-sidebar" id="sidebar-page-list-container">-->
<!--                                          <li class="list-group-item text-muted bgf" contenteditable="false">-->
<!--                <!--                              --><?php ////echo $wo['lang']['pages_you_may_like']; ?>
<!--                                              Top Suggestions-->
<!--                                              <span onclick="Wo_ReloadSideBarPages();" class="--><?php //echo Wo_RightToLeft('pull-right');?><!-- refresh">-->
<!--                                                    <i class="fa fa-chevron-circle-right progress-icon" data-icon="chevron-circle-right"></i>-->
<!--                                              </span>-->
<!--                                          </li>-->
<!--                                          <li style="background-color: #ffffff; padding: 12px;border-radius: 3px">-->
<!--                                              <div class="sidebar-pages-may-know-container">-->
<!--                                                  --><?php
//                                                  foreach ($pages as $wo['PageList']) {
//                                                      $wo['PageList']['user_name'] = $wo['PageList']['name'];
//                                                      echo Wo_LoadPage('sidebar/page-suggestion-sidebar');
//                                                  }
//                                                  ?>
<!--                                              </div>-->
<!--                                              <div class="clear"></div>-->
<!--                                          </li>-->
<!--                                      </ul>-->
<!--                                  --><?php //} }  ?>
<!--                </div>-->
                <div class="col-md-12 list-group no-shadowb jq-sds">
                    <?php
                    $pages = Wo_GetMyPages();
//                    var_dump($pages);$wo['bpages'] = Wo_GetMyPages();
                    if (count($pages) > 0) {
                        $wo['page'] = $pages[0];
                        echo Wo_LoadPage('page/pages-list');
                        echo "<div class='col-md-8'><div class='row '>";
                        foreach ($pages as $key => $wo['page']) {
                            echo ($key != 0) ? Wo_LoadPage('page/pages-list') : "";
                        }
                        echo "</div></div>";
                    } else {
                        echo '<h5 class="search-filter-center-text"> ' . $wo['lang']['no_pages_found'] . '</h5>';
                    }
                    ?>

                <!-- --><?php
                /*                    $mpages = b_likesPages();
                        var_dump($mpages);
                 */?>

                   <div class="clear"></div>
                </div>
              </div>
         </div>
      </div>
<!--      --><?php //echo Wo_LoadPage('sidebar/content');?>
   </div>
</div>


<script>
    $(document).ready(function () {
        $(".lp").click(function () {
            $.get(Wo_Ajax_Requests_File(), {
                f: 'pages',
                s: 'liked',
            }, function (data) {
                if(data.status == 200) {
                    if (data.html.length == 0) {
                        $('.sidebar-pages-may-know-container').html('<h2><div class="no-more-pages text-center">No more pages to like</div></h2>');
                    } else {
                        $('.jq-sds').hide().html(data.html).fadeIn(300);
                        // $( ".profile-style:nth-child(1)" ).removeClass( "col-md-4" );
                        // $( ".profile-style:nth-child(1)" ).addClass( "col-md-4" );
                        // $(".profile-style:first").nextAll().removeClass("col-md-4");
                        // $(".profile-style:nth-child(1)").nextAll().addClass("col-md-3");
                    }
                }
                Wo_progressIconLoader($('#sidebar-page-list-container').find('.refresh'));
            });
        });
        $(".ts").click(function () {
            $.get(Wo_Ajax_Requests_File(), {
                f: 'pages',
                s: 'suggestion',
            }, function (data) {
                if(data.status == 200) {
                    if (data.html.length == 0) {
                        $('.sidebar-pages-may-know-container').html('<h2><div class="no-more-pages text-center">No more pages to like</div></h2>');
                    } else {
                        $('.jq-sds').hide().html(data.html).fadeIn(300);
                        // $( ".profile-style:nth-child(1)" ).removeClass( "col-md-4" );
                        // $( ".profile-style:nth-child(1)" ).addClass( "col-md-4" );
                        // $(".profile-style:first").nextAll().removeClass("col-md-4");
                        // $(".profile-style:nth-child(1)").nextAll().addClass("col-md-3");
                    }
                }
                Wo_progressIconLoader($('#sidebar-page-list-container').find('.refresh'));
            });
        });
        $(".yp").click(function () {
            $.get(Wo_Ajax_Requests_File(), {
                f: 'pages',
                s: 'your',
            }, function (data) {
                if(data.status == 200) {
                    if (data.html.length == 0) {
                        $('.sidebar-pages-may-know-container').html('<h2><div class="no-more-pages text-center">No more pages to like</div></h2>');
                    } else {
                        $('.jq-sds').hide().html(data.html).fadeIn(300);
                        // $( ".profile-style:nth-child(1)" ).removeClass( "col-md-4" );
                        // $( ".profile-style:nth-child(1)" ).addClass( "col-md-4" );
                        // $(".profile-style:first").nextAll().removeClass("col-md-4");
                        // $(".profile-style:nth-child(1)").nextAll().addClass("col-md-3");
                        // $("profile-style:not(:first-child)").nextAll().removeClass("col-md-4");

                        // $("profile-style:not(:first-child)").nextAll().addClass("col-md-3");
                    }
                }
                Wo_progressIconLoader($('#sidebar-page-list-container').find('.refresh'));
            });
        });



    });
</script>