

<div class="profile-style col-md-4">
   <a href="<?php echo $wo['page']['url'];?>" data-ajax="?link1=timeline&u=<?php echo $wo['page']['page_name'];?>">
      <div class="avatar <?php echo Wo_RightToLeft('pull-left');?>" style="/*width: 265px; height: 250px;*/ overflow: hidden;">
         <img src="<?php echo $wo['page']['avatar'];?>" alt="<?php echo $wo['page']['page_name']; ?> Profile Picture" style="width: 100%;border: 1px solid #b5a8a8;" />
      </div>
   </a>
    <div class="clearfix"></div>
    <div style="border: 1px solid #b5a8a8;border-top: 0px;padding: 5px 0px 0px 0px;">
        <a style="color: #2f3a45;font-family: OpenSansBold;font-size: 15px;" href="<?php echo $wo['page']['url'];?>" data-ajax="?link1=timeline&u=<?php echo $wo['page']['page_name'];?>" class="g-font">
            <?php echo $wo['page']['page_title']; ?>
        </a>

    <div style="padding-bottom: 10px;">
<!--   <div class="page-website"></div>-->
    <span style="color: #2f3a45;"><?php echo $wo['page']['category'] ?></span>
    <?php  if($wo['page']['is_page_onwer'] == false) {
            if(b_isLikedPages($wo['page']['page_id']) == null){
        ?>
        <div class="options-buttonssd pull-right " style="/*position: absolute;margin-top: -55px;margin-right: 98px;z-index: 1; margin-left: 212px;*/ ">
        <span class="user-follow-button page-like-btn">
            <span id="like-4">
                <button type="button" onclick="Wo_RegisterPageLike($wo['page']['page_id'])" class="btn btn-default btn-sm" style="background-color: #e0e0e0;padding: 2px 15px;">
                <i class="fa fa-thumbs-up progress-icon" data-icon="thumbs-up"></i>
                <span class="button-text"> Like</span>
                </button>
            </span>
        </span>
        <span class="user-follow-button page-like-btn"></span>
        </div>
    <?php } } ?>
        </div>
    </div>
<!--   <a href="<?php /*//echo Wo_SeoLink('index.php?link1=page-setting&page=' .  $wo['page']['page_name']); */?><!--" data-ajax="?link1=page-setting&page=--><?php /*//echo $wo['page']['page_name'];*/?><!--" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> --><?php /*//echo $wo['lang']['edit']; */?><!--</a>-->
</div>
<?php
//    var_dump($wo['page']);
?>

