<?php 

$page           = (!empty($_GET['page-id']) && is_numeric($_GET['page-id'])) ? $_GET['page-id'] : 1;
$filter_keyword = (!empty($_GET['query'])) ? Wo_Secure($_GET['query']) : '';
$filter_type    = '';
$db->pageLimit  = 50;

$company_id = $wo['user']['company_id']; // have to change

if (!empty($filter_keyword)) {
  $sql   = "(
    `id`          LIKE '%$filter_keyword%' OR 
    `group_name`  LIKE '%$filter_keyword%' OR
    `group_title` LIKE '%$filter_keyword%' OR
    `about`       LIKE '%$filter_keyword%'
  )";

  $sqlN   = "(
    `id`          LIKE '%$filter_keyword%' AND `company_id` = '$company_id' OR 
    `group_name`  LIKE '%$filter_keyword%' AND `company_id` = '$company_id' OR
    `group_title` LIKE '%$filter_keyword%' AND `company_id` = '$company_id' OR
    `about`       LIKE '%$filter_keyword%' AND `company_id` = '$company_id'
  )";

  if(Wo_IsAdmin()){
      $groups = $db->where($sql)->orderBy('id', 'DESC')->objectbuilder()->paginate(T_GROUPS, $page);
  }elseif(Wo_IsNormalAdmin()){
      $groups = $db->where($sqlN)->orderBy('id', 'DESC')->objectbuilder()->paginate(T_GROUPS, $page);
  }

} 

else {
    if(Wo_IsAdmin()){
        $groups = $db->objectbuilder()->orderBy('id', 'DESC')->paginate(T_GROUPS, $page);
    }elseif(Wo_IsNormalAdmin()){
        $groups = $db->where('company_id',$company_id,'=')->objectbuilder()->orderBy('id', 'DESC')->paginate(T_GROUPS, $page);
    }

}

if (($page > $db->totalPages) && !empty($_GET['page-id'])) {
  header("Location: " . Wo_LoadAdminLinkSettings('manage-groups'));
  exit();
}

?>
<div class="container-fluid">
    <div class="block-header">
        <h2>Manage Features > Groups</h2>
    </div>
    <!-- Vertical Layout -->
    <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="info-box bg-orange  hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">people</i>
                </div>
                <div class="content">
                    <div class="text">TOTAL GROUPS</div>
                    <div class="number count-to" data-from="0" data-to="<?php echo Wo_CountAllData('group'); ?>" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <div class="info-box bg-orange  hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">people_outline</i>
                </div>
                <div class="content">
                    <div class="text">JOINED GROUPS</div>
                    <div class="number count-to" data-from="0" data-to="<?php echo Wo_CountGroupData('members'); ?>" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <div class="info-box bg-orange  hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">mode_edit</i>
                </div>
                <div class="content">
                    <div class="text">TOTAL POSTS</div>
                    <div class="number count-to" data-from="0" data-to="<?php echo Wo_CountGroupData('groups_posts'); ?>" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <div class="info-box bg-orange  hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">library_add</i>
                </div>
                <div class="content">
                    <div class="text">JOIN REQUESTS</div>
                    <div class="number count-to" data-from="0" data-to="<?php echo Wo_CountGroupData('join_requests'); ?>" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Manage & Edit Groups</h2>
                </div>
                <div class="body">
                    <div class="row">
                      <div class="col-md-4" style="margin-bottom:0;">
                        <form method="get" action="<?php echo Wo_LoadAdminLinkSettings('manage-groups'); ?>">
                          <div class="row">
                            <div class="col-md-11">
                              <div class="form-group form-float">
                                  <div class="form-line">
                                      <input type="text" name="query" id="query" class="form-control" value="<?php echo($filter_keyword); ?>">
                                      <label class="form-label search-form">
                                        Search for group ID, group name, group  title.
                                      </label>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-1">
                               <button class="btn btn-info">Search</button>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </form>
                      </div>
                    </div>
                   <input type="hidden" id="hash_id" name="hash_id" value="<?php echo Wo_CreateSession();?>">
                   <div class="clearfix"></div>
                    <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
					                <th>Group Name</th>
					                <th>Owner</th>
					                <th>Category</th>
                                    <th>Memebers</th>
					                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php 
    				                foreach ($groups as $grouplist) {
                                        $wo['grouplist']            = Wo_GroupData($grouplist->id);
                                        $wo['grouplist']['members'] = Wo_CountGroupMembers($grouplist->id);
                                        $wo['grouplist']['owner']   = Wo_UserData($grouplist->user_id);
    				                    echo Wo_LoadAdminPage('manage-groups/list');
    				                }
				                ?>
                            </tbody>
                        </table>
                    </div>
                    <div class="wo-admincp-feturepager">
                        <div class="pull-left">
                            <span>
                              <?php echo "Showing $page out of " . $db->totalPages; ?>
                            </span>
                        </div>
                        <div class="pull-right">
                          <nav>
                              <ul class="pagination">
                                  <li>
                                    <a href="<?php echo Wo_LoadAdminLinkSettings('manage-groups?page-id=1'); ?>" class="waves-effect" title='First Page'>
                                        <i class="material-icons">first_page</i>
                                    </a>
                                  </li>
                                  <?php if ($page > 1) {  ?>
                                    <li>
                                        <a href="<?php echo Wo_LoadAdminLinkSettings('manage-groups?page-id=' . ($page - 1)); ?>" class="waves-effect" title='Previous Page'>
                                            <i class="material-icons">chevron_left</i>
                                        </a>
                                    </li>
                                  <?php  } ?>

                                  <?php 
                                    $nums       = 0;
                                    $nums_pages = ($page > 4) ? ($page - 4) : $page;

                                    for ($i=$nums_pages; $i <= $db->totalPages; $i++) { 
                                      if ($nums < 20) {
                                  ?>
                                    <li class="<?php echo ($page == $i) ? 'active' : ''; ?>">
                                      <a href="<?php echo Wo_LoadAdminLinkSettings('manage-groups?page-id=' . ($i)); ?>" class="waves-effect">
                                        <?php echo $i ?>   
                                      </a>
                                    </li>

                                  <?php } $nums++; }?>

                                  <?php if ($db->totalPages > $page) { ?>
                                    <li>
                                        <a href="<?php echo Wo_LoadAdminLinkSettings('manage-groups?page-id=' . ($page + 1)); ?>" class="waves-effect" title="Next Page">
                                            <i class="material-icons">chevron_right</i>
                                        </a>
                                    </li>
                                  <?php } ?>
                                  <li>
                                    <a href="<?php echo Wo_LoadAdminLinkSettings('manage-groups?page-id=' . ($db->totalPages)); ?>" class="waves-effect" title='Last Page'>
                                        <i class="material-icons">last_page</i>
                                    </a>
                                  </li>
                              </ul>
                          </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
<script>

function Wo_DeleteGroup(group_id) {
  if (confirm("Are you sure you want to delete this group?") == false) {
    return false;
  }
  hash_id = $('#hash_id').val();
  $('#GroupID_' + group_id).fadeOut(300, function() {
    $(this).remove();
  });
  $.get(Wo_Ajax_Requests_File(),{f:'admin_setting',s:'delete_group',group_id: group_id, hash_id:hash_id});
}

</script>