<div class="page-margin">
   <div class="row">
      <div class="col-md-2" style="/*width: 245px;padding: 20px 0px 0px 42px;*/"><?php echo Wo_LoadPage("sidebar/left-sidebar"); ?></div>
      <div class="col-md-7" style="padding-left: 22px">
         <?php if ($wo['config']['user_status'] == 1) { ?>
         <div class="user-status-home" style="margin-top: 10px">
           <ul class="status-list">
           <li>
            <div class="user-avatar">
              <a href="<?php echo Wo_SeoLink('index.php?link1=create-status'); ?>"><img src="<?php echo $wo['user']['avatar'];?>"></a>
            </div>  
            <div class="plus" onclick="window.location.href='<?php echo Wo_SeoLink('index.php?link1=create-status'); ?>'"><i class="fa fa-plus-circle"></i></div>
          </li>
           <?php
           if ($wo['config']['user_status'] == 1) {
              $get_user_status = Wo_GetFriendsStatus(array('limit' => 8));
              if (!empty($get_user_status)) {
                 ?>
                 <?php
                 foreach ($get_user_status as $key => $wo['user_status']) {
                    echo Wo_LoadPage('home/user-status');
                 }
              } 
              if (Wo_CountStories() > 8) {
                ?>
                <div class="time pull-right view-more-stories" title="<?php echo $wo['lang']['see_all'] ?>"><a href="<?php echo Wo_SeoLink('index.php?link1=more-status'); ?>"><i class="fa fa-bars"></i></a></div><div class="clear"></div>
                <?php
              }
           } 
           ?>
           </ul>
         </div>
         <?php 
        }
//         if (Wo_IsThereAnnouncement() === true) {
//           $announcement = Wo_GetHomeAnnouncements();
         if (Wo_IsThereCompanyAnnouncement() === true) {
           $announcement = Wo_GetHomeAnnouncements();
//             Wo_IsThereCompanyAnnouncement()
         ?>
         <div class="home-announcement">
            <div class="alert alert-white">
               <span class="close announcements-option" data-toggle="tooltip" onclick="Wo_ViewAnnouncement(<?php echo $announcement['id']; ?>);" title="<?php echo $wo['lang']['hide'];?>">
               <i class="fa fa-remove"></i>
               </span>
               <?php echo $announcement['text']; ?>
            </div>
            <!-- .alert .alert-success -->
         </div>
         <!-- .home-announcement -->
         <?php
         } 
         if($wo['loggedin'] == true) {
            echo Wo_LoadPage('story/publisher-box');
         } 
        
         if ($wo['config']['order_posts_by'] == 0) {
        ?>
        <div class="order-by"> 
          <div class="dropdown">
             <?php echo $wo['lang']['store_posts_by'] ?>: <a class="dropdown-toggle" type="button" data-toggle="dropdown">
             <span class="order-text"><?php echo ($wo['user']['order_posts_by'] == 0) ? $wo['lang']['all'] : $wo['lang']['people_i_follow']; ?></span>
             <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="#" onclick="Wo_StorePosts(0);"><?php echo $wo['lang']['all'] ?></a></li>
               <li><a href="#" onclick="Wo_StorePosts(1);"><?php echo $wo['lang']['people_i_follow'] ?></a></li>
             </ul>
           </div>
        </div>
        <?php } ?>
        <div class="posts-count" onclick="Wo_GetNewPosts();"></div>
        <div class="posts_load">
            <div class="white-loading list-group">
              <div class="cs-loader">
                <div class="cs-loader-inner">
                  <label> ●</label>
                  <label> ●</label>
                  <label> ●</label>
                  <label> ●</label>
                  <label> ●</label>
                  <label> ●</label>
                </div>
              </div>
            </div>
        </div>
         <!-- #posts -->
      </div>
      <!-- .col-md-8 -->
      <?php echo Wo_LoadPage('sidebar/content');?>
   </div>
   <!-- .row -->
</div>
<!-- .page-margin -->

<?php 
if ($wo['user']['social_login'] == 1) { 
  echo Wo_LoadPage('modals/create-password');
} 
?>
<script type="text/javascript">
$(function() {
    setTimeout(loadposts, 100);
});
function loadposts() {
  $.get(Wo_Ajax_Requests_File() + '?f=load_posts', function(data) {
    $('.posts_load').html(data);
  });
}
  <?php if ($wo['user']['social_login'] == 1) { ?>
  $(window).on("load", function (e) {
       $('#create-password').modal('show');
    });
  $(function() {
    var create_password_container = $('#create-password');
    $('form.create-password').ajaxForm({
      url: Wo_Ajax_Requests_File() + '?f=update_new_logged_user_details',
      beforeSend: function() {
        Wo_progressIconLoader($('form.create-password').find('button'));
      },
      success: function(data) {
        if (data.status == 200) {
          create_password_container.find('.error-container').html("<div class='alert alert-success'>" + data.message + "</div>");
           $('#update-username').attr('href', data.url);
           setTimeout(function() {
            $('#create-password').modal('hide');
           }, 1500);
        } else {
          var errors = data.errors.join("<br>");
          create_password_container.find('.error-container').html("<div class='alert alert-danger'>" + errors + "</div>");
        }
        Wo_progressIconLoader($('form.create-password').find('button'));
      }
    });
  });

<?php } ?>

function Wo_StorePosts(type) {
  if (type > 1) {
     return false;
  }
  if (type == 0) {
    $('.order-text').text('<?php echo $wo['lang']['all'] ?>');
  } else {
    $('.order-text').text('<?php echo $wo['lang']['people_i_follow'] ?>');
  }
  $('.posts_load').html(' <div class="white-loading list-group"><div class="cs-loader"><div class="cs-loader-inner"><label> ●</label><label> ●</label><label> ●</label><label> ●</label><label> ●</label><label> ●</label></div></div></div>');
  $.get(Wo_Ajax_Requests_File() + '?f=update_order_by', {type:type}, function (data) {
    if (data.status == 200) {
      loadposts();
    }
  });
}

function Wo_ViewAnnouncement(id) {
    var announcement_container = $('.home-announcement');
    $.get(Wo_Ajax_Requests_File() + '?f=update_announcement_views', {id:id}, function (data) {
      if (data.status == 200) {
          announcement_container.slideUp(200, function () {
            $(this).remove();
          });
      }
    });
}
</script>