<?php
use Aws\S3\S3Client;
$s3 = new S3Client([
    'version'     => 'latest',
    'region'      => $wo['config']['region'],
    'credentials' => [
        'key'    => $wo['config']['amazone_s3_key'],
        'secret' => $wo['config']['amazone_s3_s_key'],
    ]
]);
//var_dump($s3);
//$s3Client = (new \Aws\Sdk)->createMultiRegionS3(['version' => 'latest']);
//$objs = $s3->getObjectInfo('bleumeet','upload');
//$si = $s3->folderSizeRawPrettyFromSource($objs);
//$objects = $s3Client->listObjects(['Bucket' => 'bleumeet']);
//$result = $s3->listBuckets();
//foreach ($result['Buckets'] as $bucket) {
//    echo $bucket['Name'] . "\n";
//    var_dump($bucket);
//}

//var_dump($result);
//$results = $s3Client->getPaginator('ListObjects', [
//    'Bucket' => 'bleumeet'
//]);
//
//foreach ($results as $result) {
//    foreach ($result['Contents'] as $object) {
//        echo $object['Key'] . "\n";
//    }
//}
?>

<tr class="setting-pagelist" id="PageID_<?php echo $wo['pagelist']['page_id']?>" data-page-id="<?php echo $wo['pagelist']['page_id']?>">
   <td><?php echo $wo['comp']['id']?></td>
   <td><?php echo $wo['comp']['name']?></td>
   <td><?php echo $wo['comp']['domain']?></td>
   <td><?php echo $wo['comp']['email']?></td>
   <td><?php echo $wo['comp']['value']?></td>
   <td  data-toggle="modal" data-target="#modelSize<?= $wo['comp']['id'] ?>" id="new-v"><?php echo $wo['comp']['size']?></td>
    <?php $id = $wo['comp']['value']; ?>
   <td><?php echo company_dataused_by_id($id); ?></td>
   <td><?php echo $wo['comp']['status']?></td>

<!--<td>
      <a target = "_blank" class="btn btn-info waves-effect waves-light" href="<?php /*echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['pagelist']['page_name']) */?>">EDIT</a>
      <button onclick="Wo_DeletePage(<?php /*echo $wo['pagelist']['page_id']*/?>);" type="button" class="btn btn-danger waves-effect waves-light">DELETE</button>
   </td>-->
</tr>

<!-- Model for add size start-->
<div class="modal fade" id="modelSize<?= $wo['comp']['id'] ?>" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="" class="change-company-size" method="post">
                <div class="modal-body">
<!--                    <input type="hidden" name="ossn_ts" value="--><?php //echo $timestamp;?><!--" />-->
<!--                    <input type="hidden" name="ossn_token" value="--><?php //echo $token;?><!--" />-->
<!---->
                    <input type="hidden" name="id" value="<?= $wo['comp']['id']; ?>">
                    <input type="number" class="" value="<?= $wo['comp']['size']; ?>" name="size" placeholder="In MB">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" class="c-h">Close</button>
                    <button type="submit" class="btn btn-default" data-dismiss="">save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- Model for add size End-->
<script>

    $(function() {
        var company = $('form.change-company-size');
        company.ajaxForm({
            url: Wo_Ajax_Requests_File() + '?f=company&s=size',

            success: function(data) {
                if (data.status == 200) {
                    // form_email_settings.find('button').text('Save');
                    // $("html, body").animate({ scrollTop: 0 }, "slow");
                    $("#new-v").text(data['size']);
                    $("#c-h").trigger('click');
                    $('.email-settings-alert').html('<i class="fa fa-check"></i> Settings updated successfully');
                    setTimeout(function () {
                        $('.email-settings-alert').empty();
                    }, 2000);
                }
            }
        });
    });
</script>
