<div class="container-fluid">
    <div class="block-header">
        <h2>Manage Features > Forums > Manage Forums</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Manage Forums</h2>
                </div>
                <div class="body">
                   <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                      <th>ID</th>
					                  <th>Title</th>
					                  <th>Description</th>
					                  <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                            <?php
                                if(Wo_main_company())
                                    $forums = Wo_GetForums(array('limit' => 500000, 'order_by' => 'DESC'));
                                else
                                    $company_id = Wo_Current_Company()->value;
                                    $forums = Wo_GetForums(array('limit' => 500000, 'order_by' => 'DESC', 'company_id' => $company_id));
                            ?>
                            <?php foreach ($forums as $forum): ?>
						        <tr class="forum-list" id="<?php echo $forum['id']; ?>" data-rmd-forum-ident="<?php echo $forum['id']; ?>" >
						            <td><?php echo $forum['id']; ?></td>
						            <td><?php echo $forum['name']; ?></td>
						            <td><?php echo $forum['description']; ?></td>
						            <td>
						                <button class="btn main btn-danger waves-effect waves-light delete-forum" id="<?php echo $forum['id']; ?>">
						                    DELETE
						                </button>
						           </td>
						        </tr>
						    <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal fade" id="delete-forum">
   <div class="modal-dialog">
      <div class="modal-content modal-col-red">
         <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i> Delete Forum</h4>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete this forum?</p>
         </div>
         <div class="modal-footer">
            <button  type="button" onclick="Wo_DelForum($('#delete-forum').attr('data-forum-ident'))" class="btn btn-link">DELETE</button>
            <button  type="button" class="btn btn-link" data-dismiss="modal">CLOSE</button>
         </div>
      </div>
   </div>
</div>
<script>
$(function () {
  $('table').DataTable();
});
 $(document).on('click', ".delete-forum", function(event) {
    event.preventDefault();
    $("#delete-forum").attr('data-forum-ident', $(this).attr('id')).modal('show');
});
function Wo_DelForum(id) {
    if (!id) {
        return false;
    } else {
      $("#delete-forum").modal("hide");
      $("[data-rmd-forum-ident='" + id + "']").slideUp(function() {
          $(this).remove()
      });
      $.ajax({
          type: "GET",
          url: Wo_Ajax_Requests_File(),
          data: {
              id: id,
              f: 'delete-forum'
          },
          dataType: 'json'
      });
    }
}
</script>