<div class="list-group profile-lists">
   <div class="list-group-itemb"><i class="fa fa-fw fa-users"></i> <?php echo $wo['lang']['members'];?></div>

    <div class="">
        <!--       <i class="fa fa-fw fa-cog"></i>--><?php //echo $wo['lang']['general_setting'];?><!-- -->
        <!--       <a href="--><?php //echo $wo['setting']['url'];?><!--" data-ajax="?link1=timeline&u=--><?php //echo $wo['setting']['page_name'];?><!--">(--><?php //echo $wo['setting']['name'];?><!--)</a>-->

        <div class="pt10 mb0" style="padding-top: 10px; ">

            <div class="clear"></div>
            <ul class="list-group filterby settings-by" style="display: -webkit-box;">
                <li style="padding: 3px 18px" class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'general-setting') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=general-setting');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=general-setting"><?php echo $wo['lang']['general'];?></a></li>
                <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'privacy-setting') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=privacy-setting');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=privacy-setting"><?php echo $wo['lang']['privacy'];?></a></li>
                <!--            <li class="list-group-item filter-by-li --><?php //echo ($wo['setting_page'] == 'avatar-setting') ? 'avtive': '';?><!--"><a href="--><?php //echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=avatar-setting');?><!--" data-ajax="?link1=group-setting&group=--><?php //echo $wo['setting']['group_name']?><!--&link3=avatar-setting">--><?php //echo $wo['lang']['avatar_and_cover'];?><!--</a></li>-->
                <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'group-members') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=group-members');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=group-members"><?php echo $wo['lang']['members'];?></a></li>
                <?php if ($wo['setting']['join_privacy'] == 2) { ?>
                    <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'requests') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=requests');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=requests"><?php echo $wo['lang']['join_requests'];?>
                            <?php
                            $requests = Wo_CountGroupRequests($wo['setting']['id']);
                            if ($requests > 0) { ?>
                                <div class="report-not-seen <?php echo Wo_RightToLeft('pull-right');?>"><?php echo $requests;?></div>
                            <?php } ?>
                        </a></li>
                <?php } ?>
                <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'delete-group') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=delete-group');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=delete-group" ><?php echo $wo['lang']['delete_group'];?></a></li>
            </ul>
        </div>
    </div>

   <div class="setting-well">
      <?php
         $requests = Wo_GetGroupSettingMembers($wo['setting']['id']);
         if (count($requests) > 0) {
            foreach ($requests as $wo['member']) {
                echo Wo_LoadPage('group-setting/members-list');
            }
         } else {
            echo '<h5 class="search-filter-center-text"> ' . $wo['lang']['no_members_found'] . '</h5>';
         }
         ?>
      <div class="clear"></div>
   </div>
</div>