<div class="sidebar-conatnier">
      <div class="home profile-style sidebar-profile-style main">
         <div class="card hovercard">
            <div class="cardheader">
               <img src="<?php echo $wo['setting']['cover']?>" id="cover-image" alt="<?php echo $wo['setting']['name']?> Cover Image">
            </div>
            <div class="avatar">
               <img id="updateGroupImage-<?php echo $wo['setting']['id']?>" alt="<?php echo $wo['setting']['name']?> Profile Picture" src="<?php echo $wo['setting']['avatar']?>">
            </div>
            <div class="info">
               <div class="title">
                  <a id="user-full-name" data-ajax="?link1=timeline&u=<?php echo $wo['setting']['group_name'];?>" href="<?php echo $wo['setting']['url'];?>"><?php echo $wo['setting']['name']?></a>
               </div>
            </div>
         </div>
      </div>
      <ul class="list-group filterby settings-by">
            <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'general-setting') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=general-setting');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=general-setting"><?php echo $wo['lang']['general'];?></a></li>
            <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'privacy-setting') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=privacy-setting');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=privacy-setting"><?php echo $wo['lang']['privacy'];?></a></li>
<!--            <li class="list-group-item filter-by-li --><?php //echo ($wo['setting_page'] == 'avatar-setting') ? 'avtive': '';?><!--"><a href="--><?php //echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=avatar-setting');?><!--" data-ajax="?link1=group-setting&group=--><?php //echo $wo['setting']['group_name']?><!--&link3=avatar-setting">--><?php //echo $wo['lang']['avatar_and_cover'];?><!--</a></li>-->
             <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'group-members') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=group-members');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=group-members"><?php echo $wo['lang']['members'];?></a></li>
            <?php if ($wo['setting']['join_privacy'] == 2) { ?>
            <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'requests') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=requests');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=requests"><?php echo $wo['lang']['join_requests'];?> 
            <?php 
            $requests = Wo_CountGroupRequests($wo['setting']['id']);
            if ($requests > 0) { ?>
                  <div class="report-not-seen <?php echo Wo_RightToLeft('pull-right');?>"><?php echo $requests;?></div>
            <?php } ?>
            </a></li>
            <?php } ?>
            <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'delete-group') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' . $wo['setting']['group_name'] . '&link3=delete-group');?>" data-ajax="?link1=group-setting&group=<?php echo $wo['setting']['group_name']?>&link3=delete-group" ><?php echo $wo['lang']['delete_group'];?></a></li>
       </ul>
         <?php echo Wo_LoadPage('footer/sidebar-footer')?>
      </div>
</div>