<div class="col-md-6 events-list-wrapper mt12" data-event="<?php echo($wo['event']['id']);?>">
	<div class="">
			<div class="events-list-cover">
			    <a href="<?php echo $wo['event']['url']; ?>">
			    <img src="<?php echo $wo['event']['cover']; ?>" class="events-list-cover-img">
                </a>
			</div>
        <div>
            <p class="events-list-name1" style="padding: 5px 0px 0px 0px; font-family: OpenSansBold;">
                <?php echo $wo['event']['name']; ?>
            </p>
<!--            <p class="events-list-name1" style="margin: 0px">
                <?php /*echo $wo['event']['start_date']; */?>
            </p>-->
            <p class="events-list-name1">
                <?php echo $wo['event']['start_time']; ?>
            </p>
            <p class="events-list-name1" style="margin: 0px;">
                <?php echo $wo['event']['description']; ?>
            </p>
        </div>
        <div>


        </div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
