<?php
$page_name = '';
$page_icon = '';
switch ($wo['active']) {
		case 1:
			$page_name = $wo['lang']['events'];
			break;
		case 2:
			$page_name = $wo['lang']['going'];
			break;
		case 3:
			$page_name = $wo['lang']['invited'];
			break;
		case 4:
			$page_name = $wo['lang']['interested'];
			break;
		case 5:
			$page_name = $wo['lang']['past'];
			break;
		case 6:
			$page_name = $wo['lang']['create'];
			break;
		case 7:
			$page_name = $wo['lang']['my_events'];
			break;
		default:
	}	
?>
<div class="page-margin">
   <div class="row">
      <div class="col-md-12"><?php /*echo Wo_LoadPage("sidebar/left-sidebar"); */?>
          <div class="list-group-itemb" style="background-color: white;">
              <i class="fa fa-calendar-o fa-fw"></i> <?php echo $page_name;?>
              <span class="<?php echo Wo_RightToLeft('pull-right');?>">
                  <div class="dropdown">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
					    <span class="caret"></span></a>
	<!--				    <ul class="dropdown-menu post-options">
					      <li><a href="<?php /*echo Wo_SeoLink('index.php?link1=events'); */?>"><?php /*echo $wo['lang']['events']; */?></a></li>
					      <li><hr></li>
					      <li><a href="<?php /*echo Wo_SeoLink('index.php?link1=events-going'); */?>"><?php /*echo $wo['lang']['going']; */?>	</a></li>
					      <li><a href="<?php /*echo Wo_SeoLink('index.php?link1=events-invited'); */?>"><?php /*echo $wo['lang']['invited']; */?></a></li>
					      <li><a href="<?php /*echo Wo_SeoLink('index.php?link1=events-interested'); */?>"><?php /*echo $wo['lang']['interested']; */?></a></li>
					      <li><a href="<?php /*echo Wo_SeoLink('index.php?link1=events-past'); */?>"><?php /*echo $wo['lang']['past']; */?></a></li>
					      <li><hr></li>
					      <li><a href="<?php /*echo Wo_SeoLink('index.php?link1=my-events'); */?>"><?php /*echo $wo['lang']['my_events']; */?></a></li>
					      <li><a href="<?php /*echo Wo_SeoLink('index.php?link1=create-event'); */?>"><?php /*echo $wo['lang']['create']; */?></a></li>
					    </ul>-->
				  </div>
               </span>
              <div class="clear"></div>
          </div>
          <div class="col-md-2">

          <div class="user-avatar flip p-fix-w-inherit" style="/*margin-left: 150px;margin-top: -130px;position: absolute; width:100%;*/">
              <div class="user-avatar-uploading-container">
                  <div class="user-avatar-uploading-progress">
                      <i class="fa fa-spinner fa-spin progress-icon" data-icon="spin"></i>
                  </div>
              </div>
<!--              <img style="border:2px solid white;" id="page-avatar-image" width="160px" alt="--><?php //echo $wo['page_profile']['name']?><!-- Profile Picture" src="--><?php //echo $wo['page_profile']['avatar']?><!--"/>-->
              <h1>page</h1>
              <?php /*if($wo['page_profile']['is_page_onwer'] == true) { */?><!--
                  <form action="#" method="post" class="profile-avatar-changer">
                      <div class="input-group">
                          <span class="input-group-btn">
                          <span class="btn btn-upload-image btn-file">
                          <i class="fa fa-camera"></i>
                          <input type="file" name="avatar" accept="image/x-png, image/jpeg" onchange="Wo_UpdateProfileAvatar();">
                          </span>
                          </span>
                      </div>
                      <input type="hidden" name="page_id" id="page-id" value="<?php /*echo $wo['page_profile']['page_id'];*/?>">
                  </form>
              --><?php /*} */?>
              <ul class=" post-options">
                  <li><a href="<?php echo Wo_SeoLink('index.php?link1=events'); ?>"><?php echo $wo['lang']['events']; ?></a></li>
                  <li><hr></li>
                  <li><a href="<?php echo Wo_SeoLink('index.php?link1=events-going'); ?>"><?php echo $wo['lang']['going']; ?>	</a></li>
                  <li><a href="<?php echo Wo_SeoLink('index.php?link1=events-invited'); ?>"><?php echo $wo['lang']['invited']; ?></a></li>
                  <li><a href="<?php echo Wo_SeoLink('index.php?link1=events-interested'); ?>"><?php echo $wo['lang']['interested']; ?></a></li>
                  <li><a href="<?php echo Wo_SeoLink('index.php?link1=events-past'); ?>"><?php echo $wo['lang']['past']; ?></a></li>
                  <li><hr></li>
                  <li><a href="<?php echo Wo_SeoLink('index.php?link1=my-events'); ?>"><?php echo $wo['lang']['my_events']; ?></a></li>
                  <li><a href="<?php echo Wo_SeoLink('index.php?link1=create-event'); ?>"><?php echo $wo['lang']['create']; ?></a></li>
              </ul>
              <div class="title">
                  <a href="<?php /*echo $wo['page_profile']['url'];*/?><!--" data-ajax="?link1=timeline&u=--><?php /*echo $wo['page_profile']['page_name'];*/?>">
<!--                      --><?php //echo $wo['page_profile']['name']; ?>
                      sdfsdf
                  </a>
                  <div class="clearfix"></div>
<!--                  <span>--><?php //echo $wo['page_profile']['category']; ?><!--</span>-->
                  <span>category</span>
              </div>
              <div class="hr"><hr></div>
<!--              --><?php //if ($wo['loggedin'] == true) { echo Wo_LoadPage('story/filter-bypage'); } ?>
          </div>
          </div>
<!--      </div>-->
      <div class="col-md-10 profile-lists">
        <div class="list-group events-content-wrapper">

        </div>
		    <div  class="col-md-8 tab-content list-group" >