<div class="filter-margin" style="position: relative;bottom: 37px;left: 167px;">
   <div class="btn-group filter-container">
      <p type="button" onclick="Wo_FilterPostBy('all');" class="btn filter type-all">
      <i class="fa fa-bars progress-icon" data-icon="bars"></i>
      <span class="filter-text"> <?php echo $wo['lang']['all']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('text');" class="btn filter  type-text">
      <i class="fa fa-pencil progress-icon" data-icon="pencil"></i>
      <span class="filter-text"> <?php echo $wo['lang']['text']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('photos');" class="btn filter  type-photos">
      <i class="far fa-images progress-icon" data-icon="file-image-o"></i>
      <span class="filter-text"> <?php echo $wo['lang']['photos']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('video');" class="btn filter  type-video">
      <i class="fa fa-video progress-icon" data-icon="video"></i>
      <span class="filter-text"> <?php echo $wo['lang']['videos']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('music');" class="btn filter  type-music">
      <i class="far fa-music progress-icon" data-icon="music"></i>
      <span class="filter-text"> <?php echo $wo['lang']['sounds']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('files');" class="btn filter type-files">
      <i class="fas fa-file progress-icon" data-icon="file-text-o"></i>
      <span class="filter-text"> <?php echo $wo['lang']['files']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('maps');" class="btn filter type-maps">
      <i class="far fa-map-marker progress-icon" data-icon="map-marker"></i>
      <span class="filter-text"> <?php echo $wo['lang']['maps']; ?><span>
      </p>
   </div>
</div>
