<div class="filter-margin page-filter pl20" style="/*position: relative;bottom: 37px;left: 167px;*/">
   <div class="btn-group filter-container" style="display: inline-grid;/* text-align: center; padding-left: 26px;*/">
      <p type="button" onclick="Wo_FilterPostBy('all');" class="btn filter type-all">
      <i class="fas fa-home progress-icon" data-icon="bars" style="background-color: #15b6fc;"></i>
      <span class="filter-text"> <?php echo $wo['lang']['all']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('text');" class="btn filter  type-text">
      <i class="fas fa-comments progress-icon" data-icon="pencil" style="background-color: #00b269;"></i>
      <span class="filter-text"> <?php echo $wo['lang']['text']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('photos');" class="btn filter  type-photos">
      <i class="far fa-images progress-icon" data-icon="file-image-o" style="background-color: #d9ae11;"></i>
      <span class="filter-text"> <?php echo $wo['lang']['photos']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('video');" class="btn filter  type-video">
      <i class="fas fa-play progress-icon" data-icon="video" style="background-color: #9613b1;"></i>
      <span class="filter-text"> <?php echo $wo['lang']['videos']; ?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('music');" class="btn filter  type-music">
      <i class="far fa-music progress-icon" data-icon="music" style="background-color: #f37835;"></i>
      <span class="filter-text"> <?php echo $wo['lang']['sounds']; ?><span>
      </p>
    <!--  <p type="button" onclick="Wo_FilterPostBy('files');" class="btn filter type-files">
      <i class="fas fa-file progress-icon" data-icon="file-text-o" style="background-color: #0d6aad;"></i>
      <span class="filter-text"> <?php /*echo $wo['lang']['files']; */?><span>
      </p>
      <p type="button" onclick="Wo_FilterPostBy('maps');" class="btn filter type-maps">
      <i class="far fa-map-marker progress-icon" data-icon="map-marker" style="background-color: #0d6aad;"></i>
      <span class="filter-text"> <?php /*echo $wo['lang']['maps']; */?><span>
      </p>-->
   </div>
</div>
