<?php
$hashtag = '';
$url = '';
if (isset($_GET['link1']) && $_GET['link1'] == 'hashtag' && !empty($_GET['hash'])) {
  $hashtag = '#' . $_GET['hash'];
}
if (!empty($_GET['url'])) {
  $url = urldecode($_REQUEST['url']);
}
?>
<div class="<!--row-->" style="margin-top: 20px">

<div class="col-md-1" style="padding: 0px;">
    <img class="post-avatar" style="width: 50px; border-radius:30px" src="<?php echo (empty($wo['page_profile']['avatar'])) ? $wo['user']['avatar'] : $wo['page_profile']['avatar'];?>">
</div>
<div class="col-md-11 ">
<form action="#" method="post" class="post publisher-box zahidT1">

   <div class="panel panel-white post panel-shadow" style="/*width: 85%; float: right;    width: 97.4%;*/">
<!--<div><img class="post-avatar" src="--><?php //echo (empty($wo['page_profile']['avatar'])) ? $wo['user']['avatar'] : $wo['page_profile']['avatar'];?><!--"></div>-->
      <div id="post-textarea">

         <?php if ($wo['page'] != 'events') { ?>

         <?php } ?>
         <i class="fa fa-spinner fa-spin" id="loading_indicator"></i>
         <textarea  onclick="Wo_ShowPosInfo();" name="postText" class="form-control postText" cols="10" rows="3" placeholder="<?php /*echo $wo['lang']['publisher_box_placeholder']; */?> What's going on?" dir="auto"></textarea> <?php /*echo $hashtag;*/?><!----><?php /*echo $url; */?>
      </div>
      <?php if ($wo['config']['video_upload'] == 1) { ?>
      <div class="publisher-hidden-option" id="video-form">
         <div class="inner-addon <?php echo Wo_RightToLeft('left-addon');?>">
            <span class="pull-left">
              <i class="glyphicon fa fa-video-camera"></i>
              <input name="videocount" type="text" class="form-control" readonly>
            </span>
            
            <span class="pull-right pointer video-custom-thumb">
              <?php echo $wo['lang']['custom_thumbnail']; ?>&nbsp;<i class="fa fa-caret-down"></i>
            </span>
         </div>
         <div class="video-poster-image">
           <div class="thumb-renderer pointer" onclick="$('#custom-video-thumb').trigger('click');">
             <div id="post_vthumb_droparea">
                <div class="preview">
                  <h3><?php echo $wo['lang']['drop_img_here']; ?></h3>
                  <div class="error-text-renderer">
                    
                  </div>
                  <div>
                    <span><?php echo $wo['lang']['or']; ?></span>
                    <p>
                      <?php echo $wo['lang']['browse_to_upload']; ?>
                    </p>
                  </div>
                </div>
                <div class="image">
                </div>
             </div>
           </div>
         </div>
         <input type="file" class="hidden" name="video_thumb" id="custom-video-thumb" accept="image/*">
      </div>

      <?php } ?>
      <?php if ($wo['config']['audio_upload'] == 1) { ?>
      <div class="publisher-hidden-option" id="music-form">
         <div class="inner-addon <?php echo Wo_RightToLeft('left-addon');?>">
            <i class="glyphicon fa fa-music"></i>
           <input name="musiccount" type="text" class="form-control" readonly>
         </div>
      </div>
      <?php } ?>
      <div id="poll-form">
        <div class="publisher-hidden-option answers">
           <input name="answer[]" type="text" class="form-control" placeholder="<?php echo $wo['lang']['answer'] ?> 1">
           <input name="answer[]" type="text" class="form-control" placeholder="<?php echo $wo['lang']['answer'] ?> 2">
        </div>
        <div class="create-album <?php echo Wo_RightToLeft('pull-right');?>" onclick="Wo_AddAnswer();" id="add_answer">
           <div class="create-text">
            <i class="fa fa-plus"></i> <?php echo $wo['lang']['add_answer'] ?>
           </div>
         </div>
      </div>
      <div id="album-form">
        <div class="publisher-hidden-option">
           <input name="album_name" type="text" class="form-control" placeholder="<?php echo $wo['lang']['album_name'];?>">
        </div>
       </div>
      <div class="publisher-hidden-option" id="photo-form">
         <div class="inner-addon <?php echo Wo_RightToLeft('left-addon');?>">
            <i class="glyphicon fa fa-file-image-o"></i>
            <input name="phtoscount" type="text" class="form-control" readonly>
         </div>
         <div class="create-album <?php echo Wo_RightToLeft('pull-right');?>" onclick="Wo_OpenAlbum();">
           <div class="create-text">
             <?php echo $wo['lang']['create_album'];?>
           </div>
         </div>
         <div class="clear"></div>  
      </div>
      <div class="publisher-hidden-option" id="file-form">
         <div class="inner-addon <?php echo Wo_RightToLeft('left-addon');?>">
            <i class="glyphicon fa fa-file-text-o"></i>
            <input name="filename" type="text" class="form-control" readonly>
         </div>
      </div>
      <div class="publisher-hidden-option" id="map-form">
         <div class="inner-addon <?php echo Wo_RightToLeft('left-addon');?>">
            <i class="glyphicon fa fa-map-marker"></i>
            <input name="postMap" id="searchTextField" type="text" class="form-control" placeholder="<?php echo $wo['lang']['maps_placeholder']?>">
         </div>
      </div>
      <div id="emo-form">
        <div class="publisher-hidden-option">
            <div class="feelings-type-to <?php echo Wo_RightToLeft('pull-left');?> pointer" onclick="Wo_RestFeelings();"></div>
            <span class="feelings-value"></span>
            <input name="feeling" id="feelings-text" type="text" class="form-control" placeholder="<?php echo html_entity_decode($wo["lang"]["feel_d"])?>" onclick="Wo_ShowFeelings();" autocomplete="no">
            <input name="feeling_type" type="hidden" id="feeling-type" value="">
            <div class="clear"></div>
        </div>
        <div class="feeling-type feeling-types">
          <ul>
            <li class="pointer" onclick='Wo_ShowFeelingType("feelings", "<?php echo $wo['lang']['feeling'];?>", "<?php echo $wo['lang']['feeling_q'];?>", "smile-o");'>
              <i class="fa fa-fw fa-smile-o fa-wh"></i> <?php echo $wo['lang']['feeling'];?>
            </li>
            <li class="pointer" onclick='Wo_ShowFeelingType("traveling", "<?php echo $wo['lang']['traveling'];?>" , "<?php echo $wo['lang']['traveling_q'];?>", "plane");'>
              <i class="fa fa-fw fa-plane"></i> <?php echo $wo['lang']['traveling'];?>
            </li>
            <li class="pointer" onclick='Wo_ShowFeelingType("watching", "<?php echo $wo['lang']['watching'];?>", "<?php echo $wo['lang']['watching_q'];?>", "eye");'>
              <i class="fa fa-fw fa-eye"></i> <?php echo $wo['lang']['watching'];?>
            </li>
            <li class="pointer" onclick='Wo_ShowFeelingType("playing", "<?php echo $wo['lang']['playing'];?>", "<?php echo $wo['lang']['playing_q'];?>", "gamepad");'>
              <i class="fa fa-fw fa-gamepad"></i> <?php echo $wo['lang']['playing'];?>
            </li>
            <li class="pointer" onclick='Wo_ShowFeelingType("listening", "<?php echo addslashes($wo['lang']['listening']);?>", "<?php echo addslashes($wo['lang']['listening_q']);?>", "headphones");'>
              <i class="fa fa-fw fa-headphones"></i> <?php echo $wo['lang']['listening'];?>
            </li>
          </ul>
        </div>
        <div class="feeling-type feelings">
          <ul>
            <?php 
            foreach ($wo['feelingIcons'] as $icon_name => $icon_code) {
            ?>
            <li class="pointer" onclick="Wo_AddFeeling('<?php echo $icon_name;?>', '<?php echo $wo['lang'][$icon_name]; ?>', '<?php echo $icon_code;?>');"><i class="twa-lg twa twa-<?php echo $icon_code; ?>"></i> <?php echo $wo['lang'][$icon_name]; ?></li>
            <?php
            }
            ?>
          </ul>
        </div>
         <?php  
        foreach ($wo['emo'] as $code => $name) {
            $code   = $code;
            echo  '<span onclick="Wo_AddEmo(\'' . $code . '\',\'#post-textarea textarea\');"><i class="pointer twa-lg twa twa-' . $name . '"></i></span>';
        } 
        ?>
        <?php if ($wo['config']['stickers'] == 1): ?>
          <div class="w100" id="publisher-box-stickers">
            <input type="text" class="form-control" style="border: none;" placeholder="<?php echo $wo['lang']['search'] ?> GIFs" onkeyup="Wo_GetPostStickers(this.value)">
            <div id="publisher-box-stickers-cont"></div>
          </div>
        <?php endif ?>
      </div>
      <div id="results"></div>
      <div class="publisher-hidden-option">
         <div id="progress">
            <span id="percent">0%</span>
            <div class="progress">
             <div id="bar" class="progress-bar progress-bar-striped active"></div> 
            </div>
            <div class="clear"></div>
         </div>
      </div>
      <div class="publisher-box-footer">
         <div class="row col-lg-2 <?php echo Wo_RightToLeft('pull-right');?>">
            <button type="button" onclick="Wo_GetPRecordLink($('#postRecord'))" id="publisher-button" class="form-control" style="background-color: #2d667f; color: #FFFFFF;">
            <i class="fa fa-edit progress-icon " data-icon="edit"></i> <span id="postbutton"><?php echo $wo['lang']['post_label']; ?></span></button>
         </div>
        <div class="row <?php echo Wo_RightToLeft('pull-left');?>">
            <div class="poster-left-buttons">
               <div class="input-group">
                  <span class="btn btn-default btn-file b-post-bg-ct">
                  <i class="fa fa-camera" ></i><input type="file" id="publisher-photos" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]" multiple="multiple">
                  </span>
               </div>
            </div>
         </div>

         <?php if ($wo['config']['video_upload'] == 1) { ?>
         <div class="row <?php echo Wo_RightToLeft('pull-left');?>">
            <div class="poster-left-buttons">
               <div class="input-group">
                  <span class="btn btn-default btn-file b-post-bg-ct">
                  <i class="fa fa-video-camera"></i><input type="file" id="publisher-video" name="postVideo" accept="video/*">
                  </span>
               </div>
            </div>
         </div>
         <?php } ?>


         <?php if ($wo['config']['audio_upload'] == 1) { ?>
         <div class="row <?php echo Wo_RightToLeft('pull-left');?>" id="recordPostAudioWrapper">
            <div class="poster-left-buttons">
               <div class="input-group">
                  <span  class="btn btn-default btn-file b-post-bg-ct" id="recordPostAudio" data-record="0">
                    <i class="fa fa-microphone"></i>
                  </span>
                  <span id="postRecordingTime" class="hidden">00:00</span>
               </div>
            </div>
         </div>
         <?php } ?>

         <div class="row <?php echo Wo_RightToLeft('pull-left');?> emo-form" >
            <div class="poster-left-buttons">
               <div class="input-group">
                  <span class="btn btn-default btn-file b-post-bg-ct">
                  <i class="fa fa-smile-o "></i>
                  </span>
               </div>
            </div>
         </div>
          <div class="row <?php echo Wo_RightToLeft('pull-left');?>">
            <div class="poster-left-buttons">
               <div class="input-group">
                  <div class="dropdown">
  <button class="btn btn-default btn-file dropdown-toggle b-post-bg-ct" type="button" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
  <ul class="dropdown-menu">
    <li>
      <?php if($wo['config']['fileSharing'] == 1) { ?>
         <div class="row <?php echo Wo_RightToLeft('pull-left');?>">
            <div class="poster-left-buttons">
               <div class="input-group">
                  <span class="btn btn-default btn-file">
                  <i class="fa fa-file-text-o"></i><input type="file" id="publisher-file" name="postFile">
                  </span>
               </div>
            </div>
         </div>
         <?php } ?>
         <?php if (($wo['page'] == 'home' || $wo['page'] == 'timeline') && $wo['config']['classified'] == 1) { ?>
         <div class="row <?php echo Wo_RightToLeft('pull-left');?>">
            <div class="poster-left-buttons">
               <div class="input-group">
                  <a href="<?php echo Wo_SeoLink('index.php?link1=new-product');?>" class="btn btn-default btn-file">
                  <i class="fa fa-shopping-cart"></i>
                  </a>
               </div>
            </div>
         </div>
         <?php } ?>
         <div class="row <?php echo Wo_RightToLeft('pull-left');?>">
            <div class="poster-left-buttons">
               <div class="input-group">
                   <span class="btn btn-default btn-file poll-form">
                     <i class="fa fa-pie-chart"></i>
                  </span>
               </div>
            </div>
         </div>
         <div class="row <?php echo Wo_RightToLeft('pull-left');?>">
            <div class="poster-left-buttons">
               <div class="input-group">
                  <span class="btn btn-default btn-file map-form">
                  <i class="fa fa-map-marker"></i>
                  </span>
               </div>
            </div>
         </div>
         <?php if ($wo['config']['audio_upload'] == 1) { ?>
         <div class="row <?php echo Wo_RightToLeft('pull-left');?>">
            <div class="poster-left-buttons">
               <div class="input-group">
                  <span class="btn btn-default btn-file">
                  <i class="fa fa-music"></i><input type="file" id="publisher-music" name="postMusic" accept="audio/*">
                  </span>

               </div>
            </div>
         </div>
         <?php } ?>
    </li>
  </ul>
</div>
               </div>
            </div>
         </div>


         <div class="input-group">
            <div class="<?php echo Wo_RightToLeft('pull-right');?> charsLeft-post"><span id="charsLeft"></span></div>
         </div>
         <div id="status"></div>
         <?php if (!isset($wo['input']['recipient']) && $wo['page'] != 'group') { ?>
         <div class="row <?php echo Wo_RightToLeft('pull-right');?>">
            <div class="poster-left-buttons">
               <div class="publisher-hidden-option inputsm">
                  <select name="postPrivacy" class="form-control inputsm b-post-bg-ct">
                     <?php if (empty($_GET['p'])) {?>
                        <option value="3"><?php echo $wo['lang']['only_me'];?></option>
                        <option value="0" selected><?php echo $wo['lang']['everyone'];?></option>
                        <?php if ($wo['config']['connectivitySystem'] == 0) { ?>
                        <option value="1"><?php echo $wo['lang']['people_i_follow'];?></option>
                        <option value="2"><?php echo $wo['lang']['people_follow_me'];?></option>
                        <?php } else {?>
                        <option value="1"><?php echo $wo['lang']['my_friends'];?></option>
                        <?php }?>
                     <?php } else { ?>
                        <option value="0"><?php echo $wo['lang']['everyone'];?></option>
                        <option value="2"><?php echo $wo['lang']['liked_my_page'];?></option>
                     <?php } ?>
                  </select>
               </div>
            </div>
         </div>
         <?php } ?>
         <div class="clear"></div>
      </div>
   </div>
   <?php if (isset($wo['input']['recipient'])) { ?>
   <input type="hidden" name="recipient_id" value="<?php echo $wo['user_profile']['user_id']; ?>">
   <?php } ?>
   <?php if ($wo['page'] == 'page') {?>
   <input type="hidden" name="page_id" value="<?php echo $wo['page_profile']['page_id']; ?>">
   <?php } else if ($wo['page'] == 'group') {?>
   <input type="hidden" name="group_id" value="<?php echo $wo['group_profile']['id']; ?>">
   <?php } else if ($wo['page'] == 'events') { ?>
   <input type="hidden" name="event_id" value="<?php echo $wo['event']['id']; ?>">
   <?php } ?>
   <input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
   <input type="hidden" name="postRecord" value="" id="postRecord">
   <input type="hidden" name="postSticker" value="" id="postSticker" onchange="alert(this.value)">
</form>
</div>
</div>
<div id="hidden_inputbox"></div>
<script type="text/javascript">
$(function () {
  <?php if (!empty($url)) { ?>
    $('textarea').trigger('click');
    setTimeout(function () {
      $('textarea').trigger('keyup')
    }, 1000);
  <?php } ?>
  $('.postText').triggeredAutocomplete({
     hidden: '#hidden_inputbox',
     source: Wo_Ajax_Requests_File() + "?f=mention",
     trigger: "@" 
  });
  <?php if ($wo['config']['maxCharacters'] != 10000) { ?>
  $('.postText').limit("<?php echo $wo['config']['maxCharacters']?>", '#charsLeft');
  <?php } ?>
  $('.emo-form').click(function () {
    $('#emo-form').slideToggle(200);
    Wo_RestFeelings();
  });

  $('.map-form').click(function () {
    $('#map-form').slideToggle(200);
  });
  $('.poll-form').click(function () {
    $('#poll-form').slideToggle(200);
     $('.answers').find('input').each(function (index_id) {
       $(this).val('');
    });
  });
  $("#publisher-file").change(function () {
    var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
    $("#file-form input").val(filename);
    $("#file-form").slideDown(200);
  });
  $("#publisher-photos").change(function () {
    var numFiles = this.files.length;
    $("#photo-form input").val(numFiles + ' photo(s) selected');
    $("#photo-form").slideDown(200);
  });

  $("#publisher-video").change(function () {
    var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
    $("#video-form input[type='text']").val(filename);
    $("#video-form").slideDown(200);
  });

  $("#publisher-music").change(function () {
    var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
    $("#music-form input").val(filename);
    $("#music-form").slideDown(200);
  });

  $(document).on("click",".read-ads-description",function(event) {
    var self = $(this);
    self.toggleClass('unsetheight');
  });

  $(document).on('click', '.rads-clicks', function(event) {
    var self  = $(this);
    var ad_id = self.attr('id');
    var url   = self.find('a').attr('href');
    window.open(url, '_blank');
    if (ad_id) {
      $.ajax({
        url: Wo_Ajax_Requests_File() ,
        type: 'GET',
        dataType: 'json',
        data: {f: 'ads',s:'rads-c',ad_id:ad_id},
      })
      .done(function(data) {/*pass*/})
      .fail(function() {/*pass*/});
    }
    event.preventDefault();
  });

  $(document).on('click', '.rvad-clicks', function(event) {
    var self  = $(this);
    self.off("click").removeClass('rvad-clicks');
    var ad_id = self.parent().attr('id');
    var url   = self.find('a').attr('href');
    if (ad_id) {
      $.ajax({
        url: Wo_Ajax_Requests_File() ,
        type: 'GET',
        dataType: 'json',
        data: {f: 'ads',s:'rads-c',ad_id:ad_id},
      })
      .done(function(data) {/*pass*/})
      .fail(function() {/*pass*/});
    }
    event.preventDefault();
  });

  $(document).on('click', '.rvad-views', function(event) {
    var self  = $(this);
    self.off("click").removeClass('rvad-views');
    var ad_id = self.parent().attr('id');
    var url   = self.find('a').attr('href');
    if (ad_id) {
      $.ajax({
        url: Wo_Ajax_Requests_File() ,
        type: 'GET',
        dataType: 'json',
        data: {f: 'ads',s:'rads-v',ad_id:ad_id},
      })
      .done(function(data) {/*pass*/})
      .fail(function() {/*pass*/});
    }
    event.preventDefault();
  });



  <?php if ($wo['config']['video_upload'] == 1) { ?>  
  var thumb_drop_block = $(".thumb-renderer");

  if (typeof(window.FileReader) == 'undefined') {
    thumb_drop_block.find('.preview').text('Drag drop is not supported in your browser!');
  }

  else{
    thumb_drop_block[0].ondragover = function() {
        thumb_drop_block.addClass('hover');
        return false;
    };
        
    thumb_drop_block[0].ondragleave = function() {
        thumb_drop_block.removeClass('hover');
        return false;
    };

    thumb_drop_block[0].ondrop = function(event) {
        event.preventDefault();
        thumb_drop_block.removeClass('hover');
        var file = event.dataTransfer.files;
        $("#custom-video-thumb").prop('files', file);
    };
  }
  <?php } ?>

  $("#custom-video-thumb").change(function(event) {
    $("#post_vthumb_droparea").find('.preview').hide(5, function() {
      $("#post_vthumb_droparea").find('.image').html($("<img>",{
        src:window.URL.createObjectURL(event.target.files[0])
      })).show(5);
    });;
  });

  $(".video-custom-thumb").click(function(event) {
    $(this).find('i').toggleClass('rotate-90d');

    $('.video-poster-image').slideToggle(50,function () {
      let display_stat = $(this).css('display');

      if (display_stat == 'none') {
        $(".video-poster-image").find('.preview').show(10);
        $(".video-poster-image").find('.image').empty().hide(10);
        $("#custom-video-thumb").val('');
      }

    });
  });

  $(document).on('click', '.rads-views', function(event) {
    var self  = $(this);
    var ad_id = self.attr('id');
    var url   = self.find('a').attr('href');
    window.open(url, '_blank');
    if (ad_id) {
      $.ajax({
        url: Wo_Ajax_Requests_File() ,
        type: 'GET',
        dataType: 'json',
        data: {f: 'ads',s:'rads-v',ad_id:ad_id},
      })
      .done(/* pass */)
      .fail(/* pass */)
    }
    event.preventDefault();
  });

  var bar = $('#bar');
  var percent = $('#percent');
  var status = $('#status');
  var publisher_button = $('#publisher-button');

  $('form.post').ajaxForm({
    url: Wo_Ajax_Requests_File() + '?f=posts&s=insert_new_post',
    beforeSend: function () {
      var percentVal = '0%';
      bar.width(percentVal);
      percent.html(percentVal);
      publisher_button.attr('disabled', true);
      publisher_button.css('color', '#333');
      Wo_progressIconLoader($('form.post').find('button'));
    },
    uploadProgress: function (event, position, total, percentComplete) {
      var percentVal = percentComplete + '%';
      bar.width(percentVal);
      $('#progress').slideDown(200);
      if(percentComplete > 50) {
        percent.addClass('white');
      }
      percent.html(percentVal);
    },
    success: function (data) {
      $('#progress').slideUp(200);
      publisher_button.attr('disabled', false);
      publisher_button.css('color', '#fff');
      percent.removeClass('white');
      $('.postText').css('height', 'auto');
      $("#postRecord").val('');
      $("#postSticker").val('');
      if(data.status == 200) {
        if(data.html.length > 0) {
          $('#posts, #posts_hashtag').find('.posts-container').remove();
        }
        $('#posts, #posts_hashtag').prepend(data.html);
        $('#video-form, #emo-form, #music-form, #map-form, #file-form, #photo-form, #album-form, .feeling-type, #poll-form').slideUp(200);
        $(".video-poster-image").hide(10, function() {
          $(this).find('.preview').show(10);
          $(this).find('.image').empty().hide(10);
          $(".video-custom-thumb").find('i').removeClass('rotate-90d');
        });

        Wo_RemoveFetchedUrl();
        $('form.post').clearForm();
        $('.feelings-value').html('');
        $('#postSticker').html('');
        $('select').prop('selectedIndex', 1);
        <?php if ($wo['config']['maxCharacters'] != 10000) { ?>
        $('#charsLeft').text("<?php echo $wo['config']['maxCharacters']?>");
        <?php } ?>
        <?php if (!empty($url)) { ?>
        window.close();
        <?php } ?>
        if (data.invalid_file == 1) {
          $("#invalid_file").modal('show');
          Wo_Delay(function(){
            $("#invalid_file").modal('hide');
          },3000);
        }
        else if(data.invalid_file == 2){
          $("#file_not_supported").modal('show');
          Wo_Delay(function(){
            $("#file_not_supported").modal('hide');
          },3000);
        }
      } 
      else if (data.status == 400) {
        if (data.invalid_file == 1) {
          $("#invalid_file").modal('show');
          Wo_Delay(function(){
            $("#invalid_file").modal('hide');
          },3000);
        }
        else if(data.invalid_file == 2){
          $("#file_not_supported").modal('show');
          Wo_Delay(function(){
            $("#file_not_supported").modal('hide');
          },3000);
        }
        else{
         // alert('Foramt is not supported, please try again later');
        }
      } 
      Wo_progressIconLoader($('form.post').find('button'));
    }
  });

  var pac_input = document.getElementById('searchTextField');
  (function pacSelectFirst(input) {
    // store the original event binding function
    var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;
    function addEventListenerWrapper(type, listener) {
      // Simulate a 'down arrow' keypress on hitting 'return' when no pac suggestion is selected,
      // and then trigger the original listener.
      if(type == "keydown") {
        var orig_listener = listener;
        listener = function (event) {
          var suggestion_selected = $(".pac-item-selected").length > 0;
          if(event.which == 13 && !suggestion_selected) {
            var simulated_downarrow = $.Event("keydown", {
              keyCode: 40,
              which: 40
            });
            orig_listener.apply(input, [simulated_downarrow]);
          }
          orig_listener.apply(input, [event]);
        };
      }
      // add the modified listener
      _addEventListener.apply(input, [type, listener]);
    }
    if(input.addEventListener)
      input.addEventListener = addEventListenerWrapper;
    else if(input.attachEvent)
      input.attachEvent = addEventListenerWrapper;
  })(pac_input);

  $(function () {
     var autocomplete = new google.maps.places.Autocomplete(pac_input);
  });

  var getUrl  = $('.form-control.postText'); //url to extract from text field

  $('.form-control.postText').bind("paste keyup input propertychange", function(e) {    
    
    if (($(".extracted_url").length > 0)){
      return false;
    }

    else if (/(https?:\/\/(?:.*)\.(?:png|jpg|gif|jpeg))/ig.test(getUrl.val())) {
      /* pass */
    }

    else{
      var match_url = /(https?:\/\/[^\s]+)/g;
      if (match_url.test(getUrl.val())) {
          $("#results").hide();
          $("#loading_indicator").show(); 
          var extracted_url = getUrl.val().match(match_url)[0];

          $.post(Wo_Ajax_Requests_File() + '?f=posts&s=fetch_url',{'url': extracted_url}, function(data){         
            extracted_images = data.images;
            total_images     = parseInt(data.images.length-1);
            img_arr_pos      = total_images;

            if(extracted_images != ''){
              inc_image   = '<div class="extracted_thumb" id="extracted_thumb"><img src="'+data.images[img_arr_pos]+'"></div>';
              input_image = data.images[img_arr_pos];
            } 

            else {
              inc_image   = '';
              input_image = '';
            }
            
            var img_content = '';
            if (total_images > 1) {
              img_content = '<div class="thumb_select"><div class="thumb_sel"><span class="prev_thumb" id="thumb_next"><i class="fa fa-arrow-circle-right"></i></span><span class="next_thumb" id="thumb_prev"><i class="fa fa-arrow-circle-left"></i></span> </div><span class="small_text" id="total_imgs">'+img_arr_pos+' of '+total_images+'</span></div></div></div>';
            }

            var content = '<div class="extracted_url"><span class="remove-fetched-url" onclick="Wo_RemoveFetchedUrl();"><i class="fa fa-remove"></i></span>'+ inc_image +'<div class="extracted_content"><input class="form-control url-input" type="text" name="url_title" value="'+data.title+'" dir="auto"><br><textarea onkeyup="textAreaAdjust(this, 70)" class="form-control url-input-textarea url-input" name="url_content" placeholder="Description" dir="auto">' + data.content + '</textarea><input type="hidden" id="url_image" name="url_image" value="'+ input_image +'"><input type="hidden" id="url_link" name="url_link" value="'+data.url+'"><div class="clear"></div>' + img_content;

            $("#results").html(content); 
            $("#results").fadeIn(); 
            $("#loading_indicator").hide();

          },'json');
      }
    }
  });


  
  $("body").on("click","#thumb_prev", function(e){    
    if(img_arr_pos>0) 
    {
      img_arr_pos--; 
      
      $("#extracted_thumb").html('<img src="'+extracted_images[img_arr_pos]+'">');

      $("#url_image").attr('value', extracted_images[img_arr_pos]);
      
      $("#total_imgs").html((img_arr_pos) +' of '+ total_images);
    }
  });
  
  $("body").on("click","#thumb_next", function(e){    
    if(img_arr_pos<total_images)
    {
      img_arr_pos++;
      
      $("#extracted_thumb").html('<img src="'+extracted_images[img_arr_pos]+'">');

      $("#url_image").attr('value', extracted_images[img_arr_pos]);
      
      $("#total_imgs").html((img_arr_pos) +' of '+ total_images);
    }
  });

});



function Wo_RemoveFetchedUrl() {
  var content = $('form.publisher-box').find('.extracted_url');
  content.slideUp(function () {
    $(this).remove();
  });
}
function Wo_OpenAlbum() {
  $('#album-form').slideToggle(200);
}
function Wo_ShowFeelings() {
  if ($('.feelings-type-to').is(':empty')) {
    $('.feeling-types').slideToggle(200);
  }
  
}
var pac_input2 = document.getElementById('feelings-text');
function Wo_ShowFeelingType(type, text, placeholder, icon) {
  $('.feeling-types').slideUp(200, function () {
    $('.feelings-type-to').html('<i class="fa fa-' + icon + '"></i> ' + text + '');
    $('#feelings-text').attr('placeholder', decodeHtml(placeholder)).focus();
    $('#feeling-type').val(type);
    if (type != 'feelings') {
      $('#feelings-text').attr('readonly', false);
    }
    if (type == 'traveling') {
      var autocomplete = new google.maps.places.Autocomplete(pac_input2);
    } else {
      google.maps.event.clearInstanceListeners(pac_input2);
    }
    $('.' + type).slideToggle(200);
  });
}
function Wo_RestFeelings() {
  $('.feelings-type-to, .feelings-value').empty();
  $('#feelings-text').val('');
  $('#feelings-text').attr('readonly', true);
  $('#feelings-text').attr('placeholder', decodeHtml("<?php echo $wo["lang"]["feel_d"]?>"));
  $('.feeling-type, .feelings-type').slideUp(200);
  google.maps.event.clearInstanceListeners(pac_input2);
  Wo_ShowFeelings();
}

function Wo_AddFeeling(type, text, icon) {
  $('#feelings-text').val(type);
  $('.feelings-value').html('<span><i class="twa-lg twa twa-' + icon + '"></i> ' + text + '</span>')
  Wo_ShowFeelingType('feelings', 'Feeling', 'What are you feeling ?', 'smile-o');
}
function smokeTheAt(str) {
  var n = str.search("@");
  if(n != "-1"){
    alert('sd');
  }
}

function Wo_AddAnswer() {
  answer_id = 0;
  $('.answers').find('input').each(function (index_id) {
     answer_id = Number(index_id) + 1;
  });
  var last_answer_id = (Number(answer_id) + 1);
  if (last_answer_id < 9) {
     $('.answers').append('<input name="answer[]" type="text" class="form-control" placeholder="<?php echo $wo['lang']['answer'] ?> ' + last_answer_id + '">');
     if (last_answer_id == 8) {
      $('#add_answer').hide();
     }
     $('.answers').find('input:last').focus();
  } else {
     $('#add_answer').hide();
  }
  
}
function Wo_ShowPosInfo() {
  if ($(".postText").attr('opened')) {
    return false;
  }
  $(".postText").attr('opened', '1');
  $(".postText").css('height', '45px');
  $(".publisher-box-footer").slideDown(100);
}
function Wo_ResetAnswers() {
  $('.answers').find('input').each(function (index_id) {
     $(this).val('');
  });
  $('#poll-form').slideUp(200);
}
function Wo_PostSticker(self){
  if (!self) {
    return false;
  }
  $('#postSticker').val($(self).attr('data-gif'));
  Wo_Delay(function(){
     Wo_GetPRecordLink();
  },500)
}
function Wo_GetPostStickers(keyword){
  if (!keyword) {
    //return false;
  }
  $("#publisher-box-stickers-cont").html('<div class="gif_spinner"><div class="b1"></div><div class="b2"></div><div class="b3"></div></div>');
  Wo_Delay(function(){
    $.ajax({
      url: 'https://api.giphy.com/v1/gifs/search?',
      type: 'GET',
      dataType: 'json',
      data: {q:keyword,api_key:'<?php echo $wo['config']['giphy_api'];?>', limit: 20},
    })
    .done(function(data) {
      if (data.meta.status == 200 && data.data.length > 0) {
        $('#publisher-box-stickers-cont').empty();
        var appended = false;
        for (var i = 0; i < data.data.length; i++) {
            appended = true;
            if (appended == true) {
              appended = false;
              $('#publisher-box-stickers-cont').append($('<img alt="gif" src="'+data.data[i].images.fixed_height_small.url+'" data-gif="' + data.data[i].images.fixed_height.url + '" onclick="Wo_PostSticker(this)" autoplay loop>'));
              appended = true;
            }
        }
        var images = 0;
        Wo_ElementLoad($('img[alt=gif]'), function(){
          images++;
        });
        if (data.data.length == images || images >= 5) {
          $('#publisher-box-stickers-cont').find('.gif_spinner').remove();
        }
      }
      else{
        $('#publisher-box-stickers-cont').html('<p class="no_gifs_found"><i class="fa fa-frown-o"></i> <?php echo $wo['lang']['no_result']; ?></p>');
      }
    })
    .fail(function() {
      console.log("error");
    })
  },100);
}




</script>
