<div class="page-margin">
   <div class="row">
      <div class="col-md-2">
        <?php echo Wo_LoadPage("sidebar/left-sidebar"); ?>
      </div>
      <div class="col-md-7 profile-lists" style="padding-right: 0px">
         <div class="list-group" style="box-shadow: none!important;">
            <div class="list-group-item bgf" style="border-bottom: 1px solid #ddd;">
                  <i class="fa fa-align-justify"></i> 
                  <?php echo $wo['lang']['my_articles'];?>
                  <span class="<?php echo Wo_RightToLeft('pull-right'); ?>" >
                    <a  href="<?php echo Wo_SeoLink('index.php?link1=create-blog');?>">
                      <?php echo $wo['lang']['create']; ?>
                    </a>
                  </span>
            </div>
            <br>
            <div class="setting-well fluid" id="blog-list" style="padding-right: 25px!important">
                <?php  

                  $pages          = Wo_GetMyBlogs($wo["user"]['id']);
                  $no_blogs_found = $wo['lang']['no_blogs_found'];

                ?>

                <?php if ($pages && count($pages) > 0): ?>
                   <?php foreach ($pages as $wo['blog']): ?>
                     <?php echo Wo_LoadPage('blog/includes/card-lg-list'); ?>
                   <?php endforeach ?>
                <?php else: ?> 
                  <?php echo "<h5 class='search-filter-center-text'>$no_blogs_found</h5>"; ?>
                <?php endif; ?> 
            </div>
            <div class="loading-alert"></div>
            <div class="posts_load">
               <?php if (count($pages) >= 10): ?>
                  <div class="load-more">
                        <button class="btn btn-default text-center pointer load-more-my-blogs">
                          <i class="fa fa-arrow-down progress-icon" data-icon="arrow-down"></i> 
                          <?php echo $wo['lang']['load_more'] ?>
                        </button>
                  </div>
               <?php endif; ?>
            </div>
         </div>
      </div>
      <?php echo Wo_LoadPage("sidebar/content"); ?>
   </div>
</div>
<?php echo Wo_LoadPage('blog/delete-blog');?>

<script>
$(document).ready(function() {
  $(".delete-blog").on("click", function() {
    $("#delete-blog").attr('data-blog-id', $(this).attr("id")).modal();      
  });

  $(".load-more-my-blogs").click(function () {
      let offset = (($(".view-blog").length > 0) ? $(".view-blog:last").attr('id') : 0);

      $.ajax({
         url: Wo_Ajax_Requests_File(),
         type: 'GET',
         dataType: 'json',
         data: {f:"load-my-blogs",offset:offset},
         success:function(data){
            if (data['status'] == 200) {
              $(".setting-well").append(data['html']);
            }

            else{
              $(".posts_load").remove();
            }
         }
      });
   });
});
</script>