<div class="list-group">
    <div class="list-group-itemb"><i class="fa fa-fw fa-trash"></i>Adimin Setting <a href="<?php echo $wo['setting']['url'];?>" data-ajax="?link1=timeline&u=<?php echo $wo['setting']['page_name'];?>">(<?php echo $wo['setting']['name'];?>)</a></div>


    <div class="">
    <!--       <i class="fa fa-fw fa-cog"></i>--><?php //echo $wo['lang']['general_setting'];?><!-- -->
    <!--       <a href="--><?php //echo $wo['setting']['url'];?><!--" data-ajax="?link1=timeline&u=--><?php //echo $wo['setting']['page_name'];?><!--">(--><?php //echo $wo['setting']['name'];?><!--)</a>-->

    <div class="pt10 mb0" style="padding-top: 10px; ">

        <div class="clear"></div>
        <ul class="list-group filterby settings-by" style="display: -webkit-box">
            <li class="list-group-item hidden" contenteditable="false">Settings</li>
            <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'general-setting') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=general-setting');?>" data-ajax="?link1=page-setting&page=<?php echo $wo['setting']['page_name'];?>&link3=general-setting"><?php echo $wo['lang']['general'];?></a></li>
            <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'profile-setting') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=profile-setting');?>" data-ajax="?link1=page-setting&page=<?php echo $wo['setting']['page_name'];?>&link3=profile-setting"><?php echo $wo['lang']['page_information'];?></a></li>
            <!--      <li class="list-group-item filter-by-li --><?php //echo ($wo['setting_page'] == 'social-links') ? 'avtive': '';?><!--"><a href="--><?php //echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=social-links');?><!--" data-ajax="?link1=page-setting&page=--><?php //echo $wo['setting']['page_name'];?><!--&link3=social-links">--><?php //echo $wo['lang']['social_links'];?><!--</a></li>-->
            <!--      <li class="list-group-item filter-by-li --><?php //echo ($wo['setting_page'] == 'avatar-setting') ? 'avtive': '';?><!--"><a href="--><?php //echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=avatar-setting');?><!--" data-ajax="?link1=page-setting&page=--><?php //echo $wo['setting']['page_name'];?><!--&link3=avatar-setting">--><?php //echo $wo['lang']['avatar_and_cover'];?><!--</a></li>-->

            <!--      <li class="list-group-item filter-by-li --><?php //echo ($wo['setting_page'] == 'design-setting') ? 'avtive': '';?><!--"><a href="--><?php //echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=design-setting');?><!--" data-ajax="?link1=page-setting&page=--><?php //echo $wo['setting']['page_name'];?><!--&link3=design-setting">--><?php //echo $wo['lang']['design'];?><!--</a></li>-->

            <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'admins') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=admins');?>" data-ajax="?link1=page-setting&page=<?php echo $wo['setting']['page_name'];?>&link3=admins"><?php echo $wo['lang']['admin'];?></a></li>

            <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'delete-page') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=delete-page');?>" data-ajax="?link1=page-setting&page=<?php echo $wo['setting']['page_name'];?>&link3=delete-page"><?php echo $wo['lang']['delete_page'];?></a></li>
        </ul>
    </div>
</div>

<div class="list-group profile-lists">
   <div class="list-group-itemb"><i class="fa fa-fw fa-users"></i> Admins
   <input type="text" placeholder="<?php echo $wo['lang']['search']; ?>.." class='pull-right' id='search-page-admins' onkeydown="Wo_SearchPageAdminUsers(this.value)">
   <div class="clear"></div>
   </div>
      <div class="setting-well" id="page_admins">
                  <?php
                     $requests = Wo_GetPageAdmins($wo['setting']['page_id']);
                     if (count($requests) > 0) {
                        foreach ($requests as $wo['member']) {
                            echo Wo_LoadPage('page-setting/admin-list');
                        }
                     } else {
                        echo '<h5 class="search-filter-center-text"> ' . $wo['lang']['no_members_found'] . '</h5>';
                     }
                  ?>
      </div>

</div>
</div>


<style>
   #search-page-admins{
      outline: 0;
      width:60%;
      border: 1px solid #ebeaea;
      border-radius: 2px;
      padding-left: 10px;
      height: 30px;
      margin-top: -4px;
   }
</style>

<script>
   function Wo_SearchPageAdminUsers(name = '') {
      if (!name) {
         return false;
      }
      $.ajax({
         url: Wo_Ajax_Requests_File(),
         type: 'GET',
         dataType: 'json',
         data: {f: 'pages',s:'get_mbr',name:name,page:'<?php echo $wo['setting']['page_id']; ?>'},
      })
      .done(function(data) {
         if (data.status == 200) {
            $("#page_admins").html(data.html)
         }
         else{
            $("#page_admins").html('<h5 class="search-filter-center-text"><?php echo $wo['lang']['no_result']; ?></h5>');
         }
      })
      .fail(function() {
         console.log("error");
      })

   }

   function Wo_AddPageAdmin(member_id = false,page_id = false,self = false){
     if (!member_id || !page_id || !self) {
       return false;
     }
     $.ajax({
       url: Wo_Ajax_Requests_File(),
       type: 'GET',
       dataType: 'json',
       data: {f: 'pages',s:'add_admin',user_id:member_id,page_id:page_id},
     })
     .done(function(data) {
       if (data.status == 200 && data.code == 1) {
         $(self).find('i').replaceWith('<i class="fa fa-times-circle-o"></i>');
       }
       else if(data.status == 200 && data.code == 0){
         $(self).find('i').replaceWith('<i class="fa fa-plus-square-o"></i>');
       }
     })
     .fail(function() {
       console.log("error");
     })
     
   }
</script>