<div class="list-group">
   <div class="list-group-itemb"><i class="fa fa-fw fa-trash"></i><?php echo $wo['lang']['delete_page'];?> <a href="<?php echo $wo['setting']['url'];?>" data-ajax="?link1=timeline&u=<?php echo $wo['setting']['page_name'];?>">(<?php echo $wo['setting']['name'];?>)</a></div>

    <div class="">
        <!--       <i class="fa fa-fw fa-cog"></i>--><?php //echo $wo['lang']['general_setting'];?><!-- -->
        <!--       <a href="--><?php //echo $wo['setting']['url'];?><!--" data-ajax="?link1=timeline&u=--><?php //echo $wo['setting']['page_name'];?><!--">(--><?php //echo $wo['setting']['name'];?><!--)</a>-->

        <div class="pt10 mb0" style="padding-top: 10px; ">

            <div class="clear"></div>
            <ul class="list-group filterby settings-by" style="display: -webkit-box">
                <li class="list-group-item hidden" contenteditable="false">Settings</li>
                <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'general-setting') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=general-setting');?>" data-ajax="?link1=page-setting&page=<?php echo $wo['setting']['page_name'];?>&link3=general-setting"><?php echo $wo['lang']['general'];?></a></li>
                <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'profile-setting') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=profile-setting');?>" data-ajax="?link1=page-setting&page=<?php echo $wo['setting']['page_name'];?>&link3=profile-setting"><?php echo $wo['lang']['page_information'];?></a></li>
                <!--      <li class="list-group-item filter-by-li --><?php //echo ($wo['setting_page'] == 'social-links') ? 'avtive': '';?><!--"><a href="--><?php //echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=social-links');?><!--" data-ajax="?link1=page-setting&page=--><?php //echo $wo['setting']['page_name'];?><!--&link3=social-links">--><?php //echo $wo['lang']['social_links'];?><!--</a></li>-->
                <!--      <li class="list-group-item filter-by-li --><?php //echo ($wo['setting_page'] == 'avatar-setting') ? 'avtive': '';?><!--"><a href="--><?php //echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=avatar-setting');?><!--" data-ajax="?link1=page-setting&page=--><?php //echo $wo['setting']['page_name'];?><!--&link3=avatar-setting">--><?php //echo $wo['lang']['avatar_and_cover'];?><!--</a></li>-->

                <!--      <li class="list-group-item filter-by-li --><?php //echo ($wo['setting_page'] == 'design-setting') ? 'avtive': '';?><!--"><a href="--><?php //echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=design-setting');?><!--" data-ajax="?link1=page-setting&page=--><?php //echo $wo['setting']['page_name'];?><!--&link3=design-setting">--><?php //echo $wo['lang']['design'];?><!--</a></li>-->

                <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'admins') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=admins');?>" data-ajax="?link1=page-setting&page=<?php echo $wo['setting']['page_name'];?>&link3=admins"><?php echo $wo['lang']['admin'];?></a></li>

                <li class="list-group-item filter-by-li <?php echo ($wo['setting_page'] == 'delete-page') ? 'avtive': '';?>"><a href="<?php echo Wo_SeoLink('index.php?link1=page-setting&page=' . $wo['setting']['page_name'] . '&link3=delete-page');?>" data-ajax="?link1=page-setting&page=<?php echo $wo['setting']['page_name'];?>&link3=delete-page"><?php echo $wo['lang']['delete_page'];?></a></li>
            </ul>
        </div>
    </div>

   <div class="setting-well">
   <form action="#" method="post" class="form-horizontal setting-delete-page-form">
      <fieldset>
         <div class="setting-delete-page-alert setting-update-alert"></div>
         <div class="form-group">
            <label class="col-md-3" for="password"><?php echo $wo['lang']['password']; ?></label>
            <div class="col-md-6">
               <input id="password" name="password" type="password" class="form-control input-md">
            </div>
         </div>
         <input type="hidden" name="page_id" value="<?php echo $wo['setting']['page_id'];?>">
         <div class="form-group last-btn">
            <label class="col-md-3"></label>
            <div class="col-sm-3 text-left">
               <button type="submit" class="sumbit-button-b">
               <i class="fa fa-remove progress-icon" data-icon="remove"></i> <?php echo $wo['lang']['delete']; ?>
               </button>
            </div>
         </div>
      </fieldset>
      <input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
   </form>
</div>
</div>
<script type="text/javascript">
$(function() {
  $('form.setting-delete-page-form').ajaxForm({
    url: Wo_Ajax_Requests_File() + '?f=pages&s=delete_page',
    beforeSend: function() {
      Wo_progressIconLoader($('form.setting-delete-page-form').find('button'));
    },
    success: function(data) {
      if (data.status == 200) {
        $('.setting-delete-page-alert').html('<div class="alert alert-success">' + data.message + '</div>');
        $('.alert-success').fadeIn('fast', function() {
          window.setTimeout(function() {
            window.location.href = data.location;
          },2000);
        });
      } else {
        var errors = data.errors.join("<br>");
        $('.setting-delete-page-alert').html('<div class="alert alert-danger">' + errors + '</div>');
        $('.alert-danger').fadeIn(300);
      }
      Wo_progressIconLoader($('form.setting-delete-page-form').find('button'));
    }
  });
});
</script>