<div class="container-fluid">
    <div class="block-header">
        <h2>Users > Manage User Stories / Status</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Manage User Stories / Status</h2>
                </div>
                <div class="body">
                   <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                      <th>ID</th>
					                  <th>Expires</th>
					                  <th>Owner</th>
					                  <th>Time</th>
					                  <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                if(Wo_IsAdmin()){
                                    foreach (Wo_GetAllStories() as $wo['status']) {
                                        echo Wo_LoadAdminPage('manage-stories/list');
                                    }
                                }elseif(Wo_IsNormalAdmin()){
                                    foreach (Wo_GetAllCompanyStories() as $wo['status']) {
                                        echo Wo_LoadAdminPage('manage-stories/list');
                                    }
                                }
				                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
    <!-- #END# Vertical Layout -->
<script>
$(function () {
  $('table').DataTable();
});
function Wo_DeleteStatus(id){
  if (!id || !confirm('Are you sure you want to delete this status?')) {
    return false;
  }
  $("[data-status-id='"+id+"']").slideUp(function(){
    $(this).remove();
  });
  $.ajax({
    url: Wo_Ajax_Requests_File(),
    type: 'GET',
    dataType: 'json',
    data: {f: 'status',s:'remove',id:id},
  })
  .done(function(data) {
    
  })
  .fail(function() {
    console.log("error");
  })
}
</script>