<div class="verification btn-sm btn btn-danger" onclick="Wo_RemoveVerification(<?php echo $wo['verification']['id']?>,'<?php echo $wo['verification']['type']?>');"><i class="fas fa-clock progress-icon"></i> <?php echo $wo['lang']['pending'];?></div>