<div class="verification btn-sm btn btn-primary" onclick="Wo_DeleteUserVerification(<?php echo $wo['verification']['id']?>,'<?php echo $wo['verification']['type']?>');"><i class="fas fa-check progress-icon"></i> <?php echo $wo['lang']['verified'];?></div>