<div class="verification btn-sm btn btn-success" onclick="Wo_RequestVerification(<?php echo $wo['verification']['id']?>,'<?php echo $wo['verification']['type']?>');"><i class="fas fa-share-square progress-icon"></i> <?php echo $wo['lang']['request']?></div>