<div class="sidebar-conatnier">
    <div class="col-md-12 <!--sidebar-->" style="/*margin-top: 25px;*//*border-top: 1px solid #ddd;*/margin-top: 10.5px;">
<!--        <div class="home profile-style main sidebar-profile-style">
            <div class="card hovercard">
                <div class="cardheader">
                    <img src="<?php /*echo $wo['user']['cover']*/?>" id="cover-image" alt="<?php /*echo $wo['user']['name']*/?> Cover Image">
                </div>
                <div class="avatar">
                    <img id="updateImage-<?php /*echo $wo['user']['user_id']*/?>" alt="<?php /*echo $wo['user']['name']*/?> Profile Picture" src="<?php /*echo $wo['user']['avatar']*/?>">
                </div>
                <div class="info">
                    <div class="title">
                        <a id="user-full-name" data-ajax="?link1=timeline&u=<?php /*echo $wo['user']['username'];*/?>" href="<?php /*echo $wo['user']['url'];*/?>"><?php /*echo $wo['user']['name']*/?></a>
                        <?php /*if($wo['user']['verified'] == 1):*/?>
                        <i class="fa fa-check-circle verified-color" data-toggle="tooltip" title="<?php /*echo $wo['lang']['verified_user'];*/?>"></i>
                        <?php /*endif;*/?>
                    </div>
                </div>
            </div>
        </div>-->
<!--        <?php /*if ($wo['page'] == 'home') { */?>
        <ul class="list-group filterby">
            <li class="list-group-item hidden" contenteditable="false">Filter by</li>
            <li class="list-group-item avtive filter-by-li" onclick="Wo_FilterPostBy('all');" dir="auto"><span></span><?php /*echo $wo['lang']['all']; */?> <i class="hidden float-right fa fa-spinner fa-spin"></i></li>
            <li class="list-group-item filter-by-li" onclick="Wo_FilterPostBy('text');" dir="auto"><?php /*echo $wo['lang']['text']; */?>  <i class="hidden float-right fa fa-spinner fa-spin"></i></li>
            <li class="list-group-item filter-by-li" onclick="Wo_FilterPostBy('photos');" dir="auto"><?php /*echo $wo['lang']['photos']; */?> <i class="hidden float-right fa fa-spinner fa-spin"></i></li>
            <li class="list-group-item filter-by-li"  onclick="Wo_FilterPostBy('video');" dir="auto"><?php /*echo $wo['lang']['videos']; */?> <i class="hidden float-right fa fa-spinner fa-spin"></i></li>
            <li class="list-group-item filter-by-li" onclick="Wo_FilterPostBy('music');" dir="auto"><?php /*echo $wo['lang']['sounds']; */?> <i class="hidden float-right fa fa-spinner fa-spin"></i></li>
            <li class="list-group-item filter-by-li" onclick="Wo_FilterPostBy('files');" dir="auto"><?php /*echo $wo['lang']['files']; */?> <i class="hidden float-right fa fa-spinner fa-spin"></i></li>
            <li class="list-group-item filter-by-li" onclick="Wo_FilterPostBy('maps');" dir="auto"><?php /*echo $wo['lang']['maps']; */?> <i class="hidden float-right fa fa-spinner fa-spin"></i>
            </li>
        </ul>
        --><?php /*} */?>
        <?php
        if ($wo['config']['pages'] == 1) {
        $promoted_page = Wo_GetPromotedPage();
        if (count($promoted_page) > 0) { ?>
        <ul class="list-group">
            <li class="list-group-item text-muted nobg" contenteditable="false">
                <img style="width:20px;" src="<?php echo $wo['config']['theme_url'] . '/img/promote.png';?>" alt="promoted"> <?php echo $wo['lang']['promoted'];?> 
                </span>
            </li>
            <li>
            <?php 
            foreach ($promoted_page as $wo['PageList']) {
              $wo['PageList']['user_name'] = $wo['PageList']['name'];
              echo Wo_LoadPage('sidebar/sidebar-home-page-list');
            }
            ?>
            <div class="clear"></div>
            </li>
        </ul>
        <?php } } ?>
        <?php
        $birth = Wo_CheckBirthdays();
        if (count($birth) > 0) { ?>
        <ul class="list-group">
            <li class="list-group-item active text-muted nobg" contenteditable="false">
                <i class="fa fa-birthday-cake fa-fw"></i> <?php echo $wo['lang']['friends_birthdays'];?>
            </li>
            <div class="sidebar-users-may-know-containerr">
                <?php 
                    foreach ($birth as $wo['UsersList']) {
                        $wo['UsersList']['user_name'] = mb_substr($wo['UsersList']['name'],0,10, "utf-8");
                        echo Wo_LoadPage('sidebar/sidebar-birthday-list');
                    } 
                    ?>
            </div>
            <div class="clear"></div>
        </ul>
            <!--people_you_may_know Start-->
        <?php 
            }
            $users = Wo_UserSug(5);
            if (count($users) != 0) {
//                var_dump($users);
            ?>
        <ul class="list-group b-p-m-u-l b-right-sidebar" id="sidebar-user-list-container">
            <li class="list-group-item text-muted bgf" contenteditable="false">
                <?php echo $wo['lang']['people_you_may_know'];?> <span onclick="Wo_ReloadSideBarUsers();" class="<?php echo Wo_RightToLeft('pull-right');?> refresh">
                <i class="fa fa-repeat progress-icon" data-icon="repeat"></i>
                </span>
            </li>
            <li class="bgf">
                <div class="sidebar-users-may-know-container nobg" >
                    <?php 
                        foreach ($users as $wo['UsersList']) {
                            $wo['UsersList']['user_name'] = mb_substr($wo['UsersList']['name'],0,10, "utf-8");
                            echo Wo_LoadPage('sidebar/sidebar-user-list');
                        } 
                        ?>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
<!--people_you_may_know End-->
<!--Trending part-->
        <ul class="list-group trending b-right-sidebar bgf">
            <li class="list-group-item bgf" contenteditable="false"><i class="fa fa-bolt fa-fw"></i> <?php echo $wo['lang']['trending']; ?></li>
            <?php
            $hashtags = Wa_GetTrendingHashs('popular');
            if (count($hashtags) > 0) {
                foreach ($hashtags as $wo['hashtag']) {
                    ?>
                    <li class="list-group-item b-trending" dir="auto" >
                        <a href="<?php echo $wo['hashtag']['url'];?>">#<?php echo $wo['hashtag']['tag'];?></a>
                    </li>
                    <?php
                }
            }
            ?>
            <li>
                <div class="clear"></div>
            </li>
        </ul>
<!--Trending part End-->
        <?php
            }
            if ($wo['config']['pages'] == 1) {
            $pages = Wo_PageSug(1);
            if (count($pages) != 0) {
            ?>
        <ul class="list-group b-sidebar-pages-s b-right-sidebar" id="sidebar-page-list-container">
            <li class="list-group-item text-muted bgf" contenteditable="false">
                <?php echo $wo['lang']['pages_you_may_like']; ?>
                <span onclick="Wo_ReloadSideBarPages();" class="<?php echo Wo_RightToLeft('pull-right');?> refresh">
                    <i class="fa fa-chevron-circle-right progress-icon" data-icon="chevron-circle-right"></i>
                </span>
            </li>
            <li style="background-color: #ffffff; padding: 12px;border-radius: 3px">
                <div class="sidebar-pages-may-know-container">
                    <?php
                        foreach ($pages as $wo['PageList']) {
                            $wo['PageList']['user_name'] = $wo['PageList']['name'];
                            echo Wo_LoadPage('sidebar/sidebar-home-page-list');
                        } 
                        ?>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
        <?php } }  ?>
        <?php
        if ($wo['config']['groups'] == 1) {
            $groups = Wo_GroupSug(5);
            if (count($groups) > 0) {
            ?>
        <ul class="list-group no-shadowb" id="sidebar-group-list-container">
            <li class="list-group-item text-muted bgf" contenteditable="false">
                <?php echo $wo['lang']['suggested_groups'];?> <span onclick="Wo_ReloadSideBarGroups();" class="<?php echo Wo_RightToLeft('pull-right');?>  refresh">
                <i class="fa fa-repeat progress-icon" data-icon="repeat"></i>
                </span>
            </li>
            <li>
                <div class="sidebar-group-may-know-container">
                    <?php 
                        foreach ($groups as $wo['GroupList']) {
                            $wo['GroupList']['name'] = mb_substr($wo['GroupList']['name'],0,20, "utf-8");
                            echo Wo_LoadPage('sidebar/sidebar-group-list');
                        } 
                        ?>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
        <?php } } ?>
        <?php if ($wo['config']['online_sidebar'] == 1) { ?>
        <!--<ul class="list-group">
            <?php /*$online = Wo_CountOnlineData();*/?>
            <li class="list-group-item" contenteditable="false"> <?php /*echo $wo['lang']['online_users'];*/?> <?php /*echo $online;*/?></li>
            <li>
                <div class="clear"></div>
            </li>
        </ul>-->
            <!-- Adds Starts-->
        <?php
            }
            $sidebar_ad = Wo_GetAd('sidebar', false);
            if (!empty($sidebar_ad)) {?>
        <ul class="list-group sidebar-ad">
            <li><?php echo $sidebar_ad; ?></li>
        </ul>
        <?php } ?>
        <!--Adds End-->
        <ul class="list-group b-right-sidebar" style="background-color:#FFFFFF; ">
            <li class="list-group-item bgf" contenteditable="false"><?php echo $wo['lang']['invite_your_frineds_home']; ?></li>
            <li style="background-color:#FFFFFF; ">
                <form action="#" style="margin:10px; margin-bottom: 0;" method="post" class="row invite-user-form">
                <div class="invite-user-form-alert"></div>
                    <input type="text" name="email" placeholder="<?php echo $wo['lang']['email']; ?>" class="form-control" onclick="Wo_ShowInviteButton()"><br>
                    <button class="btn btn-main btn-sm"><i class="fa fa-paper-plane-o progress-icon" data-icon="paper-plane-o"></i> <?php echo $wo['lang']['send_invitation']; ?></button>
                    <div class="clear"></div>
                </form>
            </li>
        </ul>
        <?php if ($wo['config']['classified'] == 1): ?>
       <!-- <div id="sidebar-latest-products" class="sidebar-latest-products">
            <?php /*$get_latest_products = Wo_GetProducts(array('limit' => 6)); */?>
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false"><a href="<?php /*echo Wo_SeoLink('index.php?link1=products') */?>"><?php /*echo $wo['lang']['latest_products'] */?></a>
                </li>
                <li class="activities-wrapper">
                    <?php /*
                    foreach ($get_latest_products as $key => $wo['product']) {
                         echo Wo_LoadPage('products/product-style');
                    } 
                    */?>
                </li>
            </ul>
        </div>-->
        <?php endif ?>
        <div id="sidebar-sticky">
            <?php $activities = Wo_GetActivities();?>
            <ul class="list-group activity-container b-right-sidebar">
                <li class="list-group-item text-muted bgf" contenteditable="false"><?php echo $wo['lang']['latest_activities']; ?>
                    <?php if (count($activities) > 0) { ?> <span onclick="Wo_GetMoreActivities();" data-toggle="tooltip" title= "<?php echo $wo['lang']['load_more_activities'];?>" class="<?php echo Wo_RightToLeft('pull-right');?>  refresh" >
                    <i class="fa fa-chevron-circle-down progress-icon" data-icon="chevron-circle-down"></i>
                    </span><?php } ?>
                </li>
                <li class="activities-wrapper" id="activities-wrapper">
                    <?php
                        if (count($activities) == 0) {
                            echo '<h2><div class="no-activities text-center">' . $wo['lang']['no_activities'] . '</div><h2>';
                        } else {
                            foreach ($activities as $wo['activity']) {
                                echo Wo_LoadPage('sidebar/activities-list');
                            }
                        }
                        ?>
                </li>
                <li>
                    <div class="no-activities center-text"></div>
                </li>
            </ul>
            
        </div>
        <?php if ($wo['config']['user_ads'] == 1): ?>
        <div id="sidebar-sticky">
            <?php 
                foreach (Wo_GetSideBarAds() as $wo['sidebar-ad']) {
                    echo Wo_LoadPage('ads/includes/sidebar-ad');
                }
            ?>
            <div class="clear"></div>
            <div>
                
                <div class="clear"></div>
            </div>
        </div>
        <?php endif; ?>
        <?php echo Wo_LoadPage('footer/sidebar-footer')?>
    </div>
</div>

<script>
    function Wo_GetNewActivities() {
      var before_activity_id = $('#activities-wrapper > .activity').attr('data-activity-id');
      if (typeof before_activity_id === 'undefined') {
           return false;
      }
      $.post(Wo_Ajax_Requests_File() + '?f=activities&s=get_new_activities', {
        before_activity_id: before_activity_id
      }, function (data) {
        if(data.status == 200) {
          $('.activities-wrapper').prepend(data.html);
        }
      });
    }
    function Wo_GetMoreActivities() {
      var activity_container = $('.activity-container');
      var after_activity_id = $('#activities-wrapper .activity:last').attr('data-activity-id');
      Wo_progressIconLoader(activity_container);
      $.post(Wo_Ajax_Requests_File() + '?f=activities&s=get_more_activities', {
        after_activity_id: after_activity_id
      }, function (data) {
        if(data.status == 200) {
          if(data.html.length == 0) {
            $('.no-activities').html(data.message);
          } else {
            $('#activities-wrapper').append(data.html);
          }
          $("#activities-wrapper").animate({
            scrollTop: $('#activities-wrapper')[0].scrollHeight
          }, 100);
          Wo_progressIconLoader(activity_container);
        }
      });
    }
   $(function() {
     $('form.invite-user-form').ajaxForm({
       url: Wo_Ajax_Requests_File() + '?f=invite_user',
       beforeSend: function() {
         Wo_progressIconLoader($('form.invite-user-form').find('button'));
       },
       success: function(data) {
         if (data.status == 200) {
            $('.invite-user-form-alert').html('<div class="alert alert-success">' + data.message + '</div>');
            $('.alert-success').fadeIn(300);
         } else {
             var errors = data.errors.join("<br>");
             $('.invite-user-form-alert').html('<div class="alert alert-danger">' + errors + '</div>');
             $('.alert-danger').fadeIn(300);
         }
         Wo_progressIconLoader($('form.invite-user-form').find('button'));
       }
     });
   });
function Wo_ShowInviteButton() {
    $('.invite-user-form').css('margin-bottom', '10px');
    $('.invite-user-form button').css('display', 'block');
}
</script>