<?php if ($wo['loggedin'] == true) { ?>
<div class="left-sidebar sidebar-sticky b-custom-leftsidebar">
    <div class="user-avatar" style="display:; margin-bottom: 10px;/*margin-top: 15px;*//*width: 100%;overflow: auto;*/">
        <img id="updateImage-<?php echo $wo['user']['user_id']?>" style="margin-left:30px;float: left;" height="50px" width="50px" class="b-circle-img" src="<?php echo $wo['user']['avatar'];?>" alt="<?php echo $wo['user']['name'];?> Profile Picture">
        <span class="b-left-sidebar-image">
            <?php echo $wo['user']['first_name']; echo " "; echo $wo['user']['last_name']; ?>
        </span>
        <span style="padding: 0px 8px 8px 4px; font-family: ProximaNoveSemiBold;display: inline-block;"><a href="<?php echo $wo['user']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['user']['username'];?>"><?php echo $wo['lang']['my_profile'];?></a></span>
<!--        <br>-->
<!--        <div class="clear-fix"></div>-->
    </div><!--<span class="caret"></span>-->
<!--    <span style="padding: 0px 8px 8px 4px; font-family: ProximaNoveSemiBold;"><a href="--><?php //echo $wo['user']['url']; ?><!--" data-ajax="?link1=timeline&u=--><?php //echo $wo['user']['username'];?><!--">--><?php //echo $wo['lang']['my_profile'];?><!--</a></span>-->
<!--    <div style="width:85%;"><hr></div>-->
    <div class="clear-fix"></div>
    <ul>
        <?php if ($wo['config']['pages'] == 1) { ?>
            <li class="lhFs">
                <a href="<?php echo Wo_SeoLink('index.php?link1=pages'); ?>" data-ajax="?link1=pages">
                    <div class="ldb" style="background-color: #00b169">
                        <img class="sidebar-icon" src="<?php echo Wo_GetIcon('flagb'); ?>" alt="flag-2">
                    </div><?php echo $wo['lang']['pages'];?>
                </a>
            </li>
        <?php } ?>
        <?php if ($wo['config']['groups'] == 1) { ?>
            <li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=groups'); ?>" data-ajax="?link1=groups">
                <div class="ldb" style="background-color: #9a12b4">
                    <img class="<!--sidebar-icon-->" width="19px"  style="margin: auto;float: none;"  src="<?php echo Wo_GetIcon('groupb'); ?>" alt="users-1">
                </div>
                <?php echo $wo['lang']['groups'];?>
            </a>
            </li>
        <?php } ?>
        <li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=messages'); ?>" data-ajax="?link1=messages">
                <div class="ldb" style="background-color: #d6ae0e">
                    <img class="sidebar-icon" src="<?php echo Wo_GetIcon('messageb'); ?>" alt="paper-plane">
                </div><?php echo $wo['lang']['messages'];?>
            </a>
        </li>
        <li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=albums'); ?>" data-ajax="?link1=albums">
                <div class="ldb" style="background-color: #f27835">
                    <img class="sidebar-icon"  src="<?php echo Wo_GetIcon('albumb'); ?>" alt="picture-2">
                </div><?php echo $wo['lang']['albums'];?>
            </a>
        </li>

        <?php if ($wo['config']['classified'] == 1) { ?>
            <li class="lhFs">
                <a href="<?php echo Wo_SeoLink('index.php?link1=products'); ?>">
                    <div class="ldb" style="background-color: #36d7b6">
                        <img class="sidebar-icon"  src="<?php echo Wo_GetIcon('marketb'); ?>" alt="store">
                    </div>
                    <?php echo $wo['lang']['market'];?>
                </a>
            </li>
        <?php } ?>

        <?php if ($wo['config']['events'] == 1) { ?>
            <li class="lhFs">
                <a href="<?php echo Wo_SeoLink('index.php?link1=events'); ?>">
                    <div class="ldb" style="background-color: #2d3e50">
                        <img class="sidebar-icon"  src="<?php echo Wo_GetIcon('eventb'); ?>" alt="calendar">
                    </div>
                    <?php echo $wo['lang']['events'] ?>
                </a>
            </li>
        <?php } ?>
        <li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=search?query=');?>">
                <div class="ldb" style="background-color: #67809f">
                    <img class="sidebar-icon" src="<?php echo Wo_GetIcon('searchb'); ?>" alt="search">
                </div>
                <?php echo $wo['lang']['explore'];?>
            </a>
        </li>

        <?php if (Wo_CanBlog() == true) { ?>
            <li class="lhFs">
                <a href="<?php echo Wo_SeoLink('index.php?link1=my-blogs'); ?>" data-ajax="?link1=my-blogs">
                    <div class="ldb" style="background-color: #1f3a93">
                        <img class="sidebar-icon"  src="<?php echo Wo_GetIcon('articaleb'); ?>" alt="notebook-3">
                    </div><?php echo $wo['lang']['my_articles'] ?>
                </a>
            </li>
        <?php } ?>


<!--		<li><hr></li>-->

<!--        <li><hr></li>-->
        <li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=saved-posts');?>" data-ajax="?link1=saved-posts">
                <div class="ldb" style="background-color: #c1392b">
                    <img class="sidebar-icon"  src="<?php echo Wo_GetIcon('savedpostb'); ?>" alt="medal">
                </div><?php echo $wo['lang']['saved_posts'];?>
            </a>
        </li>

		<?php if ($wo['config']['classified'] == 1) { ?>
		<li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=my-products'); ?>" data-ajax="?link1=my-products">
                <div class="ldb" style="background-color: #9a12b4">
                    <img class="sidebar-icon"  src="<?php echo Wo_GetIcon('shopping-cart'); ?>" alt="shopping-cart">
                </div><?php echo $wo['lang']['my_products'];?>
            </a>
        </li>
		<?php } ?>
<!--        <li><hr></li>-->
		<?php if ($wo['config']['blogs'] == 1) { ?>
<!--		<li><hr></li>-->
		<li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=blogs'); ?>">
                <div class="ldb" style="background-color: #9a12b4">
                    <img class="sidebar-icon"  src="<?php echo Wo_GetIcon('blogb'); ?>" alt="document">
                </div>
                <?php echo $wo['lang']['blog'] ?>
            </a>
        </li>
		<?php } ?>

        <?php if ($wo['config']['find_friends'] == 1) { ?>
            <li class="lhFs">
                <a href="<?php echo Wo_SeoLink('index.php?link1=friends-nearby'); ?>">
                    <div class="ldb" style="background-color: #d64542">
                        <img class="sidebar-icon" src="<?php echo Wo_GetIcon('searchb'); ?>" alt="placeholder">
                    </div>
                    Search
                </a>
            </li>
        <?php } ?>
        <li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=setting'); ?>" data-ajax="?link1=setting">
                <div class="ldb" style="background-color: #a4a4a4">
                    <img class="sidebar-icon"  src="<?php echo Wo_GetIcon('settingb'); ?>" alt="settings">
                </div>
                <?php echo $wo['lang']['setting'];?>
            </a>
        </li>
		<?php if ($wo['config']['forum'] == 1) { ?>
<!--		<li><hr></li>-->

		<li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=forum'); ?>">
                <div class="ldb" style="background-color: #9a12b4">
                    <img class="sidebar-icon"  src="<?php echo Wo_GetIcon('chatting'); ?>" alt="chatting">
                </div>
                <?php echo $wo['lang']['forum'];?>
            </a>
        </li>
		<?php } ?>

		<?php if ($wo['user']['is_pro'] == 0 && $wo['config']['pro'] == 1) { ?>
<!--		<li><hr></li>-->
		<li class="lhFs">
            <a href="<?php echo Wo_SeoLink('index.php?link1=go-pro');?>">
                <i class="fa fa-arrow-down fa-fw"></i>
                <?php echo $wo['lang']['put_me_here'];?>
            </a>
        </li>
		<?php } ?>
	</ul>
	<?php if ($wo['config']['pro'] == 1) { ?>
      <div class="featured-users">
        <ul class="list-inline">
          <?php 
          $users = Wo_FeaturedUsers(9);
          ?>
          <?php 
          foreach ($users as $wo['user-list']) {
              echo Wo_LoadPage('home/user-list');
          }
          ?>
        </ul>
      </div><br>
      <?php } ?>
</div>
<?php } ?>

<!--		--><?php //if ($wo['config']['movies'] == 1) { ?>
<!--		<li><a href="--><?php //echo Wo_SeoLink('index.php?link1=movies'); ?><!--"><img class="sidebar-icon" src="--><?php //echo Wo_GetIcon('video-player-1'); ?><!--" alt="video-player-1">--><?php //echo $wo['lang']['movies'];?><!--</a></li>-->
<!--		--><?php //} ?>

<!--		--><?php //if ($wo['config']['games'] == 1) { ?><!--<li><a href="--><?php //echo Wo_SeoLink('index.php?link1=games'); ?><!--" data-ajax="?link1=games"><img class="sidebar-icon"  src="--><?php //echo Wo_GetIcon('app'); ?><!--" alt="app">--><?php //echo $wo['lang']['games'];?><!--</a></li>--><?php //} ?>

<!--		<li><a href="--><?php //echo $wo['user']['url']; ?><!--" data-ajax="?link1=timeline&u=--><?php //echo $wo['user']['username'];?><!--"><img class="sidebar-icon" src="--><?php //echo Wo_GetIcon('user-3'); ?><!--" alt="user-3">--><?php //echo $wo['lang']['my_profile'];?><!--</a></li>-->
