<div class="home-sidebar profile-style cprofile-styleb">
    <div class="avatar <?php echo Wo_RightToLeft('pull-left');?>">
            <img src="<?php echo $wo['GroupList']['avatar'];?>" alt="<?php echo $wo['GroupList']['name']; ?> Profile Picture" />
     </div>
     <span class="user-popover" data-id="<?php echo $wo['GroupList']['id'];?>" data-type="<?php echo $wo['GroupList']['type'];?>">
    <a href="<?php echo $wo['GroupList']['url'];?>" data-ajax="?link1=timeline&u=<?php echo $wo['GroupList']['username']?>">
        <span class="user-name">
            <?php echo $wo['GroupList']['name']; ?>
        </span>
    </a>
    </span>
    <div class="user-lastseen">
        <?php echo Wo_CountGroupMembers($wo['GroupList']['id']);?> <?php echo $wo['lang']['members'];?>
    </div>
   <!-- <div class="<?php echo Wo_RightToLeft('pull-right');?>  group user-follow-btn">
        <div class="user-follow-button">
            <?php echo Wo_GetJoinButton($wo['GroupList']['id']);?>
        </div>
    </div>-->
</div>