<div class="container-fluid">
            <!-- Changelogs -->
            <div class="block-header">
                <h2>CHANGELOGS <small>Updates are provided freely for life-time if you own a valid purchase code, don't have one? <a href="https://goo.gl/nJ8NRD" target="_blank">Get Valid Purchase Code!</a></small></h2>
            </div>
             <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.5.4.2
                                <small>4th January 2018</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added Indian currency.</li>
                                <li> Added new API for movies, stories.</li>
                                <li> Fixed 7+ important reported bugs.</li>
                                <li> Script stability checkout.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.5.4.1
                                <small>22th December 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added Cache-Control to Amazon hosted files.</li>
                                <li> Fixed 5+ important reported bugs.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.5.4
                                <small>13th December 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added the ability for users to send money to each other using their wallet balance. </li>
                                <li> Added Email messages notification for offline users. </li>
                                <li> Added the ability to import images from links in post system. </li>
                                <li> Added profile percentage system. (Fill your profile details for new users). </li>
                                <li> Added new pagination system with a search feature to admin panel (Users, Pages, Groups, Posts).</li>
                                <li> Added new ads placed in the ads system (Users can create ads on videos posts).</li>
                                <li> Added Iframe support for the forum Editor. </li>
                                <li> Added share to wowonder button to blogs.</li>
                                <li> Added the ability for users to choose a default thumb when uploading a video in publisher box.</li>
                                <li> Added playtube video player integration.</li>
                                <li> Changed video player to mediaelement.js </li>
                                <li> Expired events will be deleted automatically.</li>
                                <li> Hid admin details in mass notification system and replaced it with site favicon/name.</li>
                                <li> Changed the blog system design.</li>
                                <li> Fixed 7+ reported bugs.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.5.3.2
                                <small>15th November 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added more regions to Amazon S3. </li>
                                <li> Added explore link to left sidebar. </li>
                                <li> Fixed 15+ reported bugs. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.5.3.1
                                <small>21th October 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added custom currency for the ads system. </li>
                                <li> Added web push notifications. </li>
                                <li> Added custom CSS / JS code to admin panel. </li>
                                <li> Fixed 10+ reported bugs. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.5.3
                                <small>1st October 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added new powerful admin panel. </li>
                                <li> Added push notification system for all site notifications. </li>
                                <li> Added the abiltiy to disable wonder/dislike buttons. </li>
                                <li> Added new API files, find friends, events, stories create groups pages and events. </li>
                                <li> Added support for Opera mini and UC browsers. </li>
                                <li> Fixed 15+ reported bugs. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.5.2
                                <small>4th September 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added privacy option for users “Share my location with public?”. </li>
                                <li> Added friends stories to home page. </li>
                                <li> User now can view his own ads. </li>
                                <li> Added the option to upload images to blog system. </li>
                                <li> Added multi currency in classified. </li>
                                <li> Added video chat API for the windows application. </li>
                                <li> Added ads prices in craete ads page. </li>
                                <li> Improved the ads view design. </li>
                                <li> Improved admin panel, changed tables to datatable.js </li>
                                <li> User can't create ads if wallet is empty. </li>
                                <li> Fixed 40+ reported bugs / improvements. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.5.1
                                <small>27th August 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Fixed all reported bugs. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.5
                                <small>24th August 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added advertisement system. (Clicks, impressions) </li> 
                                <li> Added story system. (status, automatically gets removed after 24 hours).  </li> 
                                <li> Added new comment system for blogs and movies. </li> 
                                <li> Added group chat system. </li> 
                                <li> Added mass notification system in the admin panel. </li> 
                                <li> Added the ability to edit comment's replies. </li> 
                                <li> Added the ability to delete posts directly from home page (admins). </li> 
                                <li> Added the ability to delete any comment (admins). </li> 
                                <li> Added hide posts feature. </li> 
                                <li> Added 30+ more emojis. </li> 
                                <li> Added full verification form (ID, photo, description). </li> 
                                <li> Added new post sharing system. </li> 
                                <li> Added sitemap generator. </li> 
                                <li> Added registration invite system (Users can register just with invite link). </li> 
                                <li> Added new albums style (Collapsed). </li> 
                                <li> Added new admin panel sidebar (Collapsed). </li> 
                                <li> Added the ability to choose specific users in Mailing List. </li> 
                                <li> Added the ability to enable/disable ads system, story system. </li> 
                                <li> Added manage ads, stories (status) in the admin panel. </li> 
                                <li> Added "Who can see my friends" privacy option. </li> 
                                <li> Added multi date formats support. </li> 
                                <li> Added the ability to lose the verification if the username was changed. </li> 
                                <li> Added youtube/video link support for movies system. </li> 
                                <li> Added multi admins for groups and pages. </li> 
                                <li> Added gifs using "Giphy" API for messages/posts. </li> 
                                <li> Added API support for upcoming IOS application. </li> 
                                <li> Added Lightbox for images on messages, comments, and replies. </li> 
                                <li> Added page rate system, users can rate page from 0/5. </li> 
                                <li> Added report system for profiles, pages, and groups. </li> 
                                <li> Added new API for the new powerful windows desktop application. </li> 
                                <li> Added family members list (add a friend as a brother, father etc..) </li> 
                                <li> Added relationship assignment, e.g: Lisa is in a relationship with Zach </li> 
                                <li> Added find friends nearby (find friends near you within 100KM). </li> 
                                <li> Added alert feedback if file mime type/extension is not supported. </li> 
                                <li> Added alert if the file is larger than the max allowed size in publisher box, messages and chat. </li> 
                                <li> Upgraded Password hash system from MD5 to SHA1 </li> 
                                <li> Changed the trending system to be updated weekly. </li> 
                                <li> Updated font-awesome library. </li> 
                                <li> Updated emojis library. </li> 
                                <li> Fixed bugs on API. </li> 
                                <li> Fixed major bugs in the script. (+30) </li> 
                                <li> Improved load speed. </li> 
                                <li> Fixed 2 security issues. </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.5.2
                                <small>18th June 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added audio recording to Post/Comment systems.  </li>
                                <li> Upgraded the API to the newest version for the new android messenger update.  </li>
                                <li> Fixed bugs in the script.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.5.1
                                <small>6th June 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added movies system. </li>
                                <li> Added translate system for posts. </li>
                                <li> Added video views system. </li>
                                <li> Fixed twilio SMS bug. </li>
                                <li> Fixed bugs in the native app API. </li>
                                <li> Fixed few bugs in the script. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.5
                                <small>25th May 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added forum system. </li>
                                <li> Added events system.  </li>
                                <li> Added "Login with WoWonder" API feature + applications + documentation.   </li>
                                <li> Added "load more" button to the advanced search page.   </li>
                                <li> Added "Share to wowonder" button for third-party websites + documentation.    </li>
                                <li> Added custom chat colors for each conversation.   </li>
                                <li> Added push notifications support for Android messenger.   </li>
                                <li> Fixed video/audio call bugs.  </li>
                                <li> Fixed bugs in the native app API.   </li>
                                <li> Fixed few bugs in the script.  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.4.5
                                <small>11th April 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added blog system. </li>
                                <li> Final release for full API system (for native apps). </li>
                                <li> Fixed few bugs. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.4.4
                                <small>2nd March 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added auto-updater system. </li>
                                <li> Added windows server rewrite URL support (web.config). </li>
                                <li> Fixed few bugs in the API. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.4.3
                                <small>23th February 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Improved the script theme.</li>
                                <li> Upgraded jQuery library. </li>
                                <li> Increased script speed. </li>
                                <li> Fixed few bugs in the API. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.4.2
                                <small>10th February 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Updated API for IOS messenger.</li>
                                <li> Fixed few bugs in the script. </li>
                                <li> Fixed few bugs in the API. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.4.1
                                <small>27th January 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Updated Hybridauth library (Facebook login bug). </li>
                                <li> Fixed more than +3 other bugs. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.4
                                <small>11th January 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added "Read more" to product description. </li>
                                <li> Added custom currency option for classified. </li>
                                <li> Added custom mime types option to admin panel. </li>
                                <li> Updated PHPmailer library (Security bug).</li>
                                <li> Updated Hybridauth library (Google+ login bug). </li>
                                <li> Fixed "copyright" text in footer. </li>
                                <li> Fixed RTL design problems. </li>
                                <li> Fixed UTF-8 issues in hashtag system. </li>
                                <li> Fixed JavaScript code bugs in Apple products. </li>
                                <li> Fixed Android / Windows messengers API requests. </li>
                                <li> Optimized admin panel. </li>
                                <li> Fixed more than +5 other bugs. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.3
                                <small>8th December 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added the ability to translate custom fields. </li>
                                <li> Added the ability to add/edit/remove languages from admin panel. </li>
                                <li> Added audio calls. </li>
                                <li> Added integration with the new <a href="https://codecanyon.net/item/wowonder-android-messenger-mobile-application-for-wowonder/19034167?s_rank=1">WoWonder Android Messenger</a>.</li>
                                <li> Added the ability to manage pro membership periods. </li>
                                <li> Added a button to manage and cancel expired pro users. </li>
                                <li> Added Twilio API for sending SMS messages. </li>
                                <li> Added android API for the upcoming native apps. </li>
                                <li> Added Alipay to Stipe. </li>
                                <li> Added hashtag post streaming. </li>
                                <li> Added YouTube field to page social link settings. </li>
                                <li> Added location field to classified system. </li>
                                <li> Improved database structure. </li>
                                <li> Improved SQL queries. </li>
                                <li> Improved script speed. </li>
                                <li> Design/Code optimization. </li>
                                <li> Fixed bugs in messages system. </li>
                                <li> Fixed few bugs. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.2
                                <small>10th October 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                           <ul>
                                <li> Added Amazon S3 integration. </li>
                                <li> Added the ability to delete full conversations. </li>
                                <li> Added the ability to delete recipient messages. </li>
                                <li> Added Nginx support. </li>
                                <li> Fixed an issue in login system. </li>
                                <li> Fixed an issue while deleting a page from admin panel. </li>
                                <li> Fixed few more bugs. </li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4.1
                                <small>3rd October 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> More than 10+ old and new bug fixes. </li>
                                <li> Design/Code optimization. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.4
                                <small>25th September 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>Added new welcome page. </li>
                                <li>Added custom fields system. </li>
                                <li>Added classified system. </li>
                                <li>Added full affiliates system + payments. </li>
                                <li>Added poll system. </li>
                                <li>Added custom pages system. </li>
                                <li>Added more payment methods, (Credit card, Bitcoin, american express). </li>
                                <li>Added YouTube field to social links. </li>
                                <li>Added integration with the new <a href="https://codecanyon.net/item/wowonder-desktop-a-windows-messenger-for-wowonder/18029772">Windows Desktop Messenger</a>. </li>
                                <li>Added new posts updater system (Like twitter). </li>
                                <li>Added image on comments system. </li>
                                <li>Added full messaging API code for windows / Android / IOS. </li>
                                <li>Added CSRF protection for more forms / ajax requests. </li>
                                <li>Added terms link to registration page. </li>
                                <li>Added the option to enable/disable notification sound. </li>
                                <li>Added the option for user to filter posts by all or following. </li>
                                <li>Added more ad placements (between posts). </li>
                                <li>Added 'latest products' placement in sidebar. </li>
                                <li>Added longer user session time. </li>
                                <li>Added new design for messages system. </li>
                                <li>Added custom backgrounds for pages. </li>
                                <li>Replaced the URL scrape system with better one. </li>
                                <li>Re-coded style.css file to .scss for easy coding and outputting. </li>
                                <li>Speed/Design/Code optimization. </li>
                                <li>Fixed Hashtag issues. </li>
                                <li>Fixed birthday privacy issue. </li>
                                <li>Fixed image rotation issue. </li>
                                <li>Fixed image cropping issues. </li>
                                <li>Fixed session hijacking security.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.3.4
                                <small>27th June 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Fixed all reported bug. </li>
                                <li> Increased the script speed by 50%. </li>
                                <li> Design/Code optimization. </li>
                                <li> Upgraded the image optimization system to next level. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.3.3
                                <small>19th June 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added video call/chat system for all devices. </li>
                                <li> Added the option to view all posts or following posts. </li>
                                <li> Added the option to enable/disable "developers" page. </li>
                                <li> Added the option to enable/disable user registration. </li>
                                <li> Added "maintenance_mode" to shut down the whole site. </li>
                                <li> Added the option to send mailing list to "active, inactive, all" users. </li>
                                <li> Added "disabled button" background color to admin panel. </li>
                                <li> Added dropdown menu for messages button in header. </li>
                                <li> Added gender field for Facebook social login. </li>
                                <li> Added max posts/pages boosts allowed for per pro user to admin panel. </li>
                                <li> Added "eapi link" for sending SMS. </li>
                                <li> Added multi chat tabs (max 3 tabs). </li>
                                <li> Added the option to change favicon from admin panel. </li>
                                <li> Added CSRF protection for few more forms. </li>
                                <li> Upgraded chat system + messages. </li>
                                <li> Updated API to v1.3.1 </li>
                                <li> Optimized admin panel layout. </li>
                                <li> Fixed few bugs. </li>
                                <li> Speed/Design/Code optimization. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.3.2
                                <small>17th May 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added the ability enable/disable games, pages, groups. </li>
                                <li> Added full backup system, (backup your files, database, uploads easily with one click via admin panel). </li>
                                <li> Added more currency types for payments, (RUB, PLN, ILS, BRL). </li>
                                <li> Added pull to refresh to android application. </li>
                                <li> Added test log for PayPal configuration. </li>
                                <li> Speeded up loading time. </li>
                                <li> Fixed redirection issue, (www or without www). </li>
                                <li> Fixed default language on sign up. </li>
                                <li> Fixed common bugs. </li>
                                <li> Script optimization. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.3.1
                                <small>24th April 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added more currency types for payments.</li>
                                <li> Added the ability for groups admin to delete users posts.</li>
                                <li> Added Portuguese language.</li>
                                <li> Added 2 new design types to admin panel for header, (header input text, buttons text shadow).</li>
                                <li> Added send button to comment field. (On mobile) </li>
                                <li> Fixed common bugs.</li>
                                <li> Fixed security bugs.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.3
                                <small>21th April 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added SMS verification system (verify user by phone number).</li>
                                <li> Added premium members (Star - Hot - Utlima - Vip) with PayPal / credit card integration.</li>
                                <li> Added Android, IOS, and Windows Phone apps (web-view).</li>
                                <li> Added cover re-position feature.</li>
                                <li> Added birthday events on home page.</li>
                                <li> Added the ability to boost posts & pages with monthly payments.</li>
                                <li> Added post limit p/ hour for every user.</li>
                                <li> Added registration limit p/ hour for every IP.</li>
                                <li> Added custom CSS file for every user (user can completely re-design his own profile).</li>
                                <li> Added Video.JS/Audio.JS for video & audio players.</li>
                                <li> Added new speed for all action, (follow, add friend, chat, like, dislike, wonder, join etc ..).</li>
                                <li> Added desktop notifications for Google Chrome / FireFox.</li>
                                <li> Added the ability to upload .mov, .flv, .mpeg Videos.</li>
                                <li> Added CSRF protection for common forms.</li>
                                <li> Added user ranks, admin - moderator - user.</li>
                                <li> Added send button to messages.</li>
                                <li> Added top featured users bar (applying by paying).</li>
                                <li> Added online users list to admin panel.</li>
                                <li> Added invite system.</li>
                                <li> Added og-Meta tags for social sharing.</li>
                                <li> Added new loading system (loading content without refreshing the page) & bandwidth saver system.</li>
                                <li> Added new E-mail notification system.</li>
                                <li> Added block system.</li>
                                <li> Added new sources for games importing.</li>
                                <li> Optimized layout.</li>
                                <li> Speeded up SMTP.</li>
                                <li> Replaced cache system.</li>
                                <li> Removed /welcome from welcome page URL.</li>
                                <li> Updated API to v1.3.</li>
                                <li> Script & code optimization.</li>
                                <li> SEO optimization.</li>
                                <li> Improved chat system usage of resources.</li>
                                <li> Increased site security (XSS, CSRF, SQL, Spams).</li>
                                <li> Fixed default country (USA).</li>
                                <li> Fixed common bugs.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.2.3
                                <small>26th February 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added SMTP server.<br>
                                <li> Added Login with username or email.</li>
                                <li> Added Build Version to admin panel.</li>
                                <li> Fixed major bugs.</li>
                                <li> Improved Security.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.2.2
                                <small>29th January 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added auto suggestion for mentions in publisher box, comments, replies.</li>
                                <li> Added Start up pages (Add photo, Fill some information, Follow users).</li>
                                <li> Added terms pages to admin panel. (Admin can now edit terms pages from admin panel).</li>
                                <li> Added video, audio upload setting to admin panel.</li>
                                <li> Added welcome background image changer to admin panel.</li>
                                <li> Added site design colors to email notification.</li>
                                <li> Added user profile privacy for non-logged users.</li>
                                <li> Added smiles button to comment, send message boxs.</li>
                                <li> Added installer for easy installation.</li>
                                <li> Fixed Bugs from your feedback.</li>
                                <li> Script Optimization.</li>
                                <li> Improved Speed.</li>
                                <li> Improved Security.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.2.1
                                <small>12th January 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added words wonder, dislike, like to the post action buttons.</li>
                                <li> Added the ability to just like or dislike. (can't do it both).</li>
                                <li> Re added emotions to post publisher box. </li>
                                <li> Optimized chat requests.</li>
                                <li> Fixed bugs from your feedback.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.2
                                <small>10th January 2016</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added group system</li>
                                <li> Added game system</li>
                                <li> Added dislike button (wonder or dislike)</li>
                                <li> Added new lightbox</li>
                                <li> Added login via Instagram</li>
                                <li> Added verification request system</li>
                                <li> Added photo album system</li>
                                <li> Added multi photos upload</li>
                                <li> Added autoload system for posts</li>
                                <li> Added new search system</li>
                                <li> Added recent searches</li>
                                <li> Added page invitation system</li>
                                <li> Added group invitation system</li>
                                <li> Added ban ip system</li>
                                <li> Added feelings/travailing/watching/playing/listening post status</li>
                                <li> Added call to action system for pages</li>
                                <li> Added online user counter on admin & home page</li>
                                <li> Added location autocomplete for user/page setting</li>
                                <li> Added design system (Customize your own website style & colors on very easy way from admin panel)</li>
                                <li> Added recent searches</li>
                                <li> Added notification popup</li>
                                <li> Added profile visit privacy</li>
                                <li> Added last seen privacy</li>
                                <li> Added profile birthday privacy</li>
                                <li> Added auto detector for Youtube, Dailymotion, Vine, Vimeo, Facebook videos & soundcloud links.</li>
                                <li> Added https support</li>
                                <li> Added comment replies system</li>
                                <li> Added comment auto detector</li>
                                <li> Added education to user profile information</li>
                                <li> Added the ability to like/dislike/wonder/comment on user's profile picture & cover image</li>
                                <li> Added email notification setting</li>
                                <li> Added site statistics charts in admin panel</li>
                                <li> Added ip address field to manage users page</li>
                                <li> Added new language (Italian)</li>
                                <li> Removed "@" from user profile URL</li>
                                <li> Removed "p/" from page URL</li>
                                <li> Removed "/home" from home page URL</li>
                                <li> Changed the entire admin panel layout</li>
                                <li> Changed the entire user/page/group setting layout</li>
                                <li> Improved user popover</li>
                                <li> Improved layout</li>
                                <li> Improved layout on smartphones</li>
                                <li> Improved chat system</li>
                                <li> Improved site security</li>
                                <li> Improved link preview</li>
                                <li> Improved cache system to a higher level</li>
                                <li> Updated API version to v1.1</li>
                                <li> Script optimization</li>
                                <li> Bug fixes </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.1
                                <small>8th December 2015</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li> Added Page System.</li>
                                <li> Added Link Preview.</li>
                                <li> Added User Typing System & Message "Seen" System.</li>
                                <li> Added Profile Custom fields (Work, Company, Relationship, Location .. etc).</li>
                                <li> Added Profile Google Map location.</li>
                                <li> Added Profile Background image. (user can choose his own background image).</li>
                                <li> Added Facebook, Vimeo, Dailymotion videos.</li>
                                <li> Added User Details On Hovering on user link.</li>
                                <li> Added Censored Words System.</li>
                                <li> Added 4 New Languages (Dutch, German, Spanish, French).</li>
                                <li> Added Search Posts System.</li>
                                <li> Added HTML Support For Announcements.</li>
                                <li> Changed Welcome Page Style.</li>
                                <li> Changed Sidebar Style.</li>
                                <li> Improved Layout & Styles.</li>
                                <li> Improved Layout On Smartphones.</li>
                                <li> Improved Admin Panel Layout.</li>
                                <li> Added More features for Sending emails to all users.</li>
                                <li> Script Optimization.</li>
                                <li> Fixed Bugs.</li>
                                <li> Improved Security.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0</h2>
                        </div>
                        <div class="body">
                            Version 1.0 released on 26 November 2015.
                        </div>
                    </div>
                </div>
            </div>
        </div>