<?php $show_list = false;
             if ($wo['group_profile']['privacy'] == 1) {
               $show_list = true;
             } else if ($wo['group_profile']['privacy'] == 2) {
                if (!Wo_IsGroupOnwer($wo['group_profile']['id'])) {
                   if (Wo_IsGroupJoined($wo['group_profile']['id'])) {
                      $show_list = true;
                   }
                } else {
                  $show_list = true;
                }
             }  ?>
<div class="row page-margin" data-page="group" data-id="<?php echo $wo['group_profile']['id'];?>">
    <div class="profile-container">
        <div class="profile-top-line"></div>
        <div class="col-md-2 page-uimg-b">
            <div class="user-avatar flip p-fix-w-inherit" style="/*margin-left: 135px;margin-top: -130px;position: absolute; width:100%;*/">
                <div class="user-avatar-uploading-container">
                    <div class="user-avatar-uploading-progress">
                        <i class="fa fa-spinner fa-spin progress-icon" data-icon="spin"></i>
                    </div>
                </div>
              <img style="border:2px solid white;" width="160px" id="group-avatar-image" alt="<?php echo $wo['group_profile']['name']?> Profile Picture" src="<?php echo $wo['group_profile']['avatar']?>"/>
              <?php if(Wo_IsGroupOnwer($wo['group_profile']['id']) === true) { ?>
                  <form action="#" method="post" class="profile-avatar-changer">
                      <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-upload-image btn-file">
                                <i class="fa fa-camera"></i>
                                <input type="file" name="avatar" accept="image/x-png, image/jpeg" onchange="Wo_UpdateProfileAvatar();">
                            </span>
                        </span>
                      </div>
                      <input type="hidden" name="group_id" id="group-id" value="<?php echo $wo['group_profile']['id'];?>">
                  </form>
                <?php } ?>
                <div class="title">
<!--                    <a href="--><?php //echo Wo_SeoLink('index.php?link1=?link1=timeline&u=' . $wo['group_profile']['group_name'] . '');?><!--" data-ajax="?link1=timeline&u=--><?php //echo $wo['group_profile']['group_name'];?><!--">-->
                        <?php echo $wo['group_profile']['name']; ?>
<!--                    </a>-->
                </div>
                <div class="hr"><hr></div>
                <?php if ($wo['loggedin'] == true) { echo Wo_LoadPage('story/filter-bypage'); } ?>
          </div>
        </div>
        <div class="col-md-8">
        <div class="card hovercard"><!--container-->
            <div class="" style="color: #344463;margin-top: 40px;border-bottom: 2px solid #e0e0e0;padding: 0px 10px 5px 0px;">
                <img src="<?php echo Wo_GetIcon('timelineb') ?>" style="height: 20px;width: 30px;float: left;margin-right: 20px">
                <p style="font-family: OpenSansRegular;font-size: 17px;margin-bottom: 0px!important"><bold style="font-family: OpenSansSemiBold;font-size: 17px;">Group</bold></p>
<!--                --><?php //var_dump($wo['group_profile']['group_name']); ?>
                <?php if(Wo_IsGroupOnwer($wo['group_profile']['id']) === true) { ?>
                    <span>
                        <a href="<?php echo Wo_SeoLink('index.php?link1=group-setting&group=' .  $wo['group_profile']['group_name']); ?>" data-ajax="?link1=group-setting&group=<?php echo $wo['group_profile']['group_name'];?>" class=""  style="top: 43px;position: absolute;right: 0;">
                            <i class="fa fa-pencil-square-o"></i> <?php echo $wo['lang']['edit']; ?>
                        </a>
                    </span>
                <?php } ?>
            </div>
            <div class="cardheader user-cover">
                <?php if(Wo_IsGroupOnwer($wo['group_profile']['id']) === true) { ?>
                <form action="#" method="post" class="profile-cover-changer">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-upload-image btn-file">
                                <i class="fa fa-camera"></i>
                                <input type="file" name="cover" accept="image/x-png, image/jpeg" onchange="Wo_UpdateProfileCover();">
                            </span>
                        </span>
                    </div>
                    <input type="hidden" name="group_id" id="group-id" value="<?php echo $wo['group_profile']['id'];?>">
                </form>
                <?php } ?>
                <div class="user-cover-uploading-container"></div>
                <div class="user-cover-uploading-progress">
                    <i class="fa fa-spinner fa-spin progress-icon" data-icon="spin"></i>
                </div>
                <img id="cover-image" src="<?php echo $wo['group_profile']['cover']?>" alt="<?php echo $wo['group_profile']['name']?> Cover Image"/>
            </div>

            <div class="text-shadow"></div>
            <div class="info">

                <div class="options-buttons <?php echo Wo_RightToLeft('pull-left');?> ">
                    <span class="user-follow-button group-join-btn">
                    <?php echo Wo_GetJoinButton($wo['group_profile']['id']);?>
                    </span>
                </div>
            </div>
        </div>

        <div class="<!--container-->">
        <div class="col-md-8">
        <?php
        if (isset($_GET['type'])) {
        if ($_GET['type'] == 'members') {
          if ($show_list == true) {
              # code...

              ?>
              <div class="list-group profile-lists">
                  <div class="list-group-item"><i class="fa fa-fw fa-users"></i> <?php echo $wo['lang']['members'];?></div>
                  <div class="setting-well">
                      <?php
                      if (Wo_CountGroupMembers($wo['group_profile']['id']) == 0) {
                          echo '<h5 class="search-filter-center-text">' . $wo['lang']['no_members_found'] . '</h5>';
                      } else {
                          foreach (Wo_GetGroupMembers($wo['group_profile']['id']) as $wo['UsersList']) {
                              echo Wo_LoadPage('timeline/follow-list');
                          }
                      }
                      ?>
                  </div>
                  <div class="clear"></div>
              </div>
          <?php } } else if ($_GET['type'] == 'add_members') {
          ?>
          <div class="list-group profile-lists">
              <div class="list-group-item"><i class="fa fa-fw fa-user-plus"></i> <?php echo $wo['lang']['add_your_frineds'];?></div>
              <div class="setting-well">
                  <?php
                  if (Wo_CountGroupsNotMember($wo['group_profile']['id']) == 0) {
                      echo '<h5 class="search-filter-center-text">' . $wo['lang']['added_all_friends'] . '</h5>';
                  } else {
                      foreach (Wo_GetGroupsNotMember($wo['group_profile']['id']) as $wo['UsersList']) {
                          echo Wo_LoadPage('group/add-list');
                      }
                  }
                  ?>
              </div>
              <div class="clear"></div>
          </div>
        <?php } } else { ?>
        <?php echo Wo_GetGroupPostPublisherBox($wo['group_profile']['id']); ?>

        <div id="posts" data-story-group="<?php echo $wo['group_profile']['id'];?>">
          <div class="pinned-post-container">
              <?php
              $pinedstory = Wo_GetPinnedPost($wo['group_profile']['id'], 'group');
              if (count($pinedstory) == 1) {
                  foreach ($pinedstory  as $wo['story']) {
                      echo Wo_LoadPage('story/content');
                  }
              }
              ?>
          </div>
          <?php
          $stories = Wo_GetPosts(array('filter_by' => 'all', 'group_id' => $wo['group_profile']['id']));
          if (count($stories) == 0 && count($pinedstory) == 0) {
              echo Wo_LoadPage('story/group-no-stories');
          } else {
              foreach ($stories as $wo['story']) {
                  echo Wo_LoadPage('story/content');
              }
          }
          ?>
        </div>
        <?php if ($wo['loggedin'] == true && count($stories) > 0) {  ?>
          <div class="load-more pointer" id="load-more-posts" onclick="Wo_GetMorePosts();">
        <span class="btn btn-default"><i class="fa fa-chevron-circle-down progress-icon" data-icon="chevron-circle-down"></i> <?php echo $wo['lang']['load_more_posts']; ?><span>
          </div>
          <?php
        }
        }
        ?>
        <div id="load-more-filter">
        <span class="filter-by-more hidden" data-filter-by="all"></span>
        </div>
        </div>
        <div class="col-md-4">
        <ul class="list-group">
        <?php
        $group_privacy = $wo['lang']['public'];
        $group_icon = 'globe';
        if ($wo['group_profile']['privacy'] == 2) {
          $group_privacy = $wo['lang']['private'];
          $group_icon = 'lock';
        }
        ?>
        <?php if ($show_list == true): ?>

          <li class="list-group-item" style="background-color: #fff;border-bottom:0;  position: relative; display: block; padding: 5px 15px;font-size: 13px;background-color: #fff;color: #555">
              <strong><i class="fa fa-users fa-fw"></i></strong>
              <a href="<?php echo Wo_SeoLink('index.php?link1=timeline&u=' . $wo['group_profile']['group_name'] . '&type=members');?>" data-ajax="?link1=timeline&u=<?php echo $wo['group_profile']['group_name'];?>&type=members"><?php echo Wo_CountGroupMembers($wo['group_profile']['id']);?> <?php echo $wo['lang']['members'];?></a>
              <?php if (Wo_IsGroupOnwer($wo['group_profile']['id'])) { ?>
                  <span class="green">+<?php echo Wo_CountJoinedThisWeek($wo['group_profile']['id']); ?> <?php echo $wo['lang']['this_week']; ?></span>
              <?php } ?>
          </li>
        <?php endif ?>
        <li class="list-group-item" <?php if ($show_list == false): ?>style="background-color: #fff;border-bottom:0;  position: relative; display: block; padding: 5px 15px;font-size: 13px;background-color: #fff;color: #555"<?php endif ?>>
          <strong><i class="fa fa-<?php echo $group_icon; ?> fa-fw" data-toggle="tooltip" ></i></strong>
          <?php echo $group_privacy; ?>
        </li>
        <li class="list-group-item">
          <strong><i class="fa fa-bars fa-fw" data-toggle="tooltip" title="<?php echo $wo['lang']['category']; ?>"></i></strong>
          <?php echo $wo['group_profile']['category']; ?>
        </li>
        <li class="list-group-item">
          <strong><i class="fa fa-pencil-square-o fa-fw"></i></strong> <?php echo Wo_CountGroupPosts($wo['group_profile']['id']);?> <?php echo $wo['lang']['posts']; ?>
        </li>
        <?php if ($wo['loggedin'] == true) { ?>
          <?php if (Wo_IsGroupJoined($wo['group_profile']['id']) === true) { ?>
              <li class="list-group-item">
                  <strong><i class="fa fa-user-plus fa-fw"></i></strong> <a href="<?php echo Wo_SeoLink('index.php?link1=timeline&u=' . $wo['group_profile']['group_name'] . '&type=add_members');?>" data-ajax="?link1=timeline&u=<?php echo $wo['group_profile']['group_name'];?>&type=add_members"><?php echo $wo['lang']['add_your_frineds']; ?></a>
              </li>
          <?php } } ?>

        <?php if ($wo['loggedin'] && !Wo_IsAdmin() && $wo['user']['id'] != $wo['group_profile']['user_id'] && !Wo_IsAdmin($wo['group_profile']['user_id'])): ?>
          <?php if (!Wo_IsReportExists($wo['group_profile']['id'],'group')): ?>
              <li id="report_status" class="list-group-item pointer" onclick="$('#report_group').modal('show');">
                  <strong><i class="fa fa-flag" aria-hidden="true"></i></strong>
                  <span>&nbsp;<?php echo $wo['lang']['report_group']; ?></span>
              </li>
          <?php else: ?>
              <li id="report_status" class="list-group-item pointer" onclick="Wo_ReportGroup(<?php echo $wo['group_profile']['id']; ?>,false);">
                  <strong><i class="fa fa-flag" aria-hidden="true"></i></strong>
                  <span>&nbsp;<?php echo $wo['lang']['unreport']; ?></span>
              </li>
          <?php endif; ?>
        <?php endif;?>

        </ul>
        <?php if(!empty($wo['group_profile']['about'])) {  ?>
        <ul class="list-group">
          <li class="list-group-item text-muted" contenteditable="false"><i class="fa fa-exclamation fa-fw"></i> <?php echo $wo['lang']['about']; ?></li>
          <li class="list-group-item text-muted" contenteditable="false"><?php echo $wo['group_profile']['about']; ?></li>
        </ul>
        <?php } ?>
        <?php if($wo['loggedin'] == true) {  ?>
        <ul class="list-group">
          <li class="list-group-item text-muted search-for-posts-container" contenteditable="false"><i class="fa fa-search progress-icon fa-fw" data-icon="search"></i> <?php echo $wo['lang']['search_for_posts']; ?>
          </li>
          <li class="list-group-item">
              <input type="text" class="form-control search-for-posts" onkeyup="Wo_SearchForPosts(this.value);">
          </li>
        </ul>
        <?php
        $groups = Wo_GroupSug(5);
        if (count($groups) > 0) {
          ?>
          <ul class="list-group" id="sidebar-group-list-container">
              <li class="list-group-item text-muted" contenteditable="false">
                  <i class="fa fa-users fa-fw"></i> <?php echo $wo['lang']['suggested_groups'];?>
                  <span onclick="Wo_ReloadSideBarGroups();" class="<?php echo Wo_RightToLeft('pull-right');?>  refresh">
                    <i class="fa fa-repeat progress-icon" data-icon="repeat"></i>
                  </span>
              </li>
              <div class="sidebar-group-may-know-container">
                  <?php
                  foreach ($groups as $wo['GroupList']) {
                      $wo['GroupList']['name'] = substr($wo['GroupList']['name'],0,20);
                      echo Wo_LoadPage('sidebar/sidebar-group-list');
                  }
                  ?>
              </div>
              <div class="clear"></div>
          </ul>
        <?php } ?>
        <?php } ?>
        <?php
        $sidebar_ad = Wo_GetAd('sidebar', false);
        if (!empty($sidebar_ad)) {?>
        <ul class="list-group sidebar-ad">
          <?php echo $sidebar_ad; ?>
        </ul>
        <?php } ?>
        </div>
        </div>
        <div>
        <!--<div class="user-avatar flip" style="margin-left: 135px;margin-top: -130px;position: absolute; width:100%;">
        <div class="user-avatar-uploading-container">
        <div class="user-avatar-uploading-progress">
        <i class="fa fa-spinner fa-spin progress-icon" data-icon="spin"></i>
        </div>
        </div>
        <img style="border:2px solid white;" width="160px" id="group-avatar-image" alt="<?php /*echo $wo['group_profile']['name']*/?> Profile Picture" src="<?php /*echo $wo['group_profile']['avatar']*/?>"/>
        <?php /*if(Wo_IsGroupOnwer($wo['group_profile']['id']) === true) { */?>
        <form action="#" method="post" class="profile-avatar-changer">
        <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-upload-image btn-file">
                <i class="fa fa-camera"></i>
                <input type="file" name="avatar" accept="image/x-png, image/jpeg" onchange="Wo_UpdateProfileAvatar();">
            </span>
        </span>
        </div>
        <input type="hidden" name="group_id" id="group-id" value="<?php /*echo $wo['group_profile']['id'];*/?>">
        </form>
        <?php /*} */?>
        <?php /*if ($wo['loggedin'] == true) { echo Wo_LoadPage('story/filter-by'); } */?>
        </div>-->

        </div>

        </div>
</div>
</div>
<div class="modal fade" id="report_group" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-flag"></i> <?php echo $wo['lang']['report_group']; ?></h4>
         </div>
         <div class="modal-body">
            <textarea class="form-control" placeholder="Type text" dir="auto" rows="6" id="report-group-text-<?php echo $wo['group_profile']['id']; ?>"></textarea>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn  btn-main" id="report-group-button" onclick="Wo_ReportGroup(<?php echo $wo['group_profile']['id']; ?>,true)" >
            <i class="fa fa-paper-plane-o progress-icon" data-icon="paper-plane-o"></i>
             <?php echo $wo['lang']['send']; ?></button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $wo['lang']['cancel']; ?></button>
         </div>
      </div>
   </div>
</div>
<!-- JS Pages functions -->
<script>
$(function () {
  if($(window).width() > 600) {
    $(".user-avatar").hover(function () {
      $('.profile-avatar-changer').fadeIn(100);
    }, function () {
      $('.profile-avatar-changer').fadeOut(100);
    });
  }
  if($(window).width() > 600) {
    $(".user-cover").hover(function () {
      $('.profile-cover-changer').fadeIn(100);
    }, function () {
      $('.profile-cover-changer').fadeOut(100);
    });
  }
  $('form.profile-avatar-changer').ajaxForm({
    url: Wo_Ajax_Requests_File() + '?f=update_group_avatar_picture',

    beforeSend: function () {
      $('.user-avatar-uploading-container,.user-avatar-uploading-progress').fadeIn(200);
    },
    success: function (data) {
      if(data.status == 200) {
        $('[id^=group-avatar-image]').attr("src", data.img);
      }
      $('.user-avatar-uploading-container, .user-avatar-uploading-progress').fadeOut(200);
    }
  });

  $('form.profile-cover-changer').ajaxForm({
    url: Wo_Ajax_Requests_File() + '?f=update_group_cover_picture',

    beforeSend: function () {
      $('.user-cover-uploading-container,.user-cover-uploading-progress').fadeIn(200);
    },
    success: function (data) {
      if(data.status == 200) {
        $('[id^=cover-image]').attr("src", data.img);
      }
      $('.user-cover-uploading-container,.user-cover-uploading-progress').fadeOut(200);
    }
  });
});

function Wo_UpdateProfileAvatar() {
  $("form.profile-avatar-changer").submit();
}

function Wo_UpdateProfileCover() {
  $("form.profile-cover-changer").submit();
}

function Wo_ReportGroup(id = false,report = true){
    var report_text = $("#report-group-text-<?php echo $wo['group_profile']['id']; ?>").val();
    if (!id) {return false;}
    else if(report == true){
      if (!report_text) {return false;}  
    }
    Wo_progressIconLoader($("#report-group-button"));
    $.ajax({
        url: Wo_Ajax_Requests_File() + '?f=reports&s=report_group',
        type: 'POST',
        dataType: 'json',
        data: {text:report_text,group:id}
    })
    .done(function(data) {
        if(data.status == 200 && data.code == 0){
            $('#report_status').replaceWith('\
                <li id="report_status" class="list-group-item pointer" onclick="$(\'#report_group\').modal(\'show\');">\
                    <strong><i class="fa fa-flag" aria-hidden="true"></i></strong>\
                    <span>&nbsp;<?php echo $wo['lang']['report_group']; ?></span>\
                </li>');
        }

        else if (data.status == 200 && data.code == 1) {
            $("#report-group-text-<?php echo $wo['group_profile']['id']; ?>").val('');
            $("#report_group").modal('hide');
            $('#report_status').replaceWith('\
                <li id="report_status" class="list-group-item pointer" onclick="Wo_ReportGroup(<?php echo $wo['group_profile']['id']; ?>,false);">\
                    <strong><i class="fa fa-flag" aria-hidden="true"></i></strong>\
                    <span>&nbsp;<?php echo $wo['lang']['unreport']; ?></span>\
                </li>');
        }
        Wo_progressIconLoader($("#report-group-button"));
        
    })
    .fail(function() {
        console.log("error");
    })
}
</script>