<div class="profile-style col-md-4" style="background-color: #FFFFFF!important;">
   <a href="<?php echo $wo['group']['url'];?>" data-ajax="?link1=timeline&u=<?php echo $wo['group']['group_name'];?>">
      <div class="avatar <?php echo Wo_RightToLeft('pull-left');?>" style="margin-right: 15px;">
         <img src="<?php echo $wo['group']['avatar'];?>" style="width: 100%;border: 1px solid #b5a8a8;" alt="<?php echo $wo['group']['group_name']; ?> Profile Picture" />
      </div>
   </a>
    <div class="clearfix"></div>
    <div style="margin-top: 10px;font-size: 16px;font-family: OpenSansRegular;text-transform: capitalize;">
        <a href="<?php echo $wo['group']['url'];?>" data-ajax="?link1=timeline&u=<?php echo $wo['group']['group_name'];?>">
            <?php echo $wo['group']['group_title']; ?>
        </a>
    </div>
   <div class="page-website">
      <?php echo $wo['lang']['members'];?>: <?php echo Wo_CountGroupMembers($wo['group']['id']);?>
   </div>
<!--   <a href="--><?php //echo Wo_SeoLink('index.php?link1=group-setting&group=' .  $wo['group']['group_name']); ?><!--" data-ajax="?link1=group-setting&group=--><?php //echo $wo['group']['group_name'];?><!--" class="btn btn-default btn-sm"  style="top: 17px;position: absolute;right: 0;"><i class="fa fa-pencil-square-o"></i> --><?php //echo $wo['lang']['edit']; ?><!--</a>-->
</div>
<?php //var_dump($wo['group']); ?>
