<div class="page-margin">
   <div class="row">
      <div class="col-md-2"><?php echo Wo_LoadPage("sidebar/left-sidebar"); ?></div>
      <div class="col-md-10 profile-lists">
        <div class="list-group no-shadowb">
   <div class="list-group-itemb"><i class="fa fa-fw fa-users"></i> <?php echo $wo['lang']['my_groups'];?><span class="<?php echo Wo_RightToLeft('pull-right'); ?>" ><a data-ajax="?link1=create-group" href="<?php echo Wo_SeoLink('index.php?link1=create-group');?>" class=""><?php echo $wo['lang']['create']; ?></a></span></div>
   <div class="setting-well" style="/*padding: 0px 100px;*/">
       <div class="<!--row--> bgf">
       <table class="b-sug-table" style="/*display: inline-flex;*/">
           <tr>
               <td class="yg">Your Groups</td>
               <td class="tg">Top Suggestions</td>
<!--               <td class="lg">Liked Groups</td>-->
           </tr>
       </table>
       <div class="clearfix"></div>
       <div class="col-md-12 gp-jq">
           <?php
               $pages = Wo_GetMyGroups();
               if (count($pages) > 0) {
                   $wo['group'] = $pages[0];
                   echo Wo_LoadPage('group/group-list');
                    echo "<div class='col-md-8'><div class='row'>";
                  foreach ($pages as $key => $wo['group']) {
                      echo ($key != 0) ? Wo_LoadPage('group/group-list') : "";
                  }
                  echo "</div></div>";
               } else {
                  echo '<h5 class="search-filter-center-text"> ' . $wo['lang']['no_groups_found'] . '</h5>';
               }
               
               ?>
            <div class="clear"></div>
         </div>
       </div>
   </div>
      </div></div>
      <!-- .col-md-8 -->
<!--      --><?php //echo Wo_LoadPage('sidebar/content');?>
   </div>
   <!-- .row -->
</div>


<script>
    $(document).ready(function () {
        $(".lg").click(function () {
            $.get(Wo_Ajax_Requests_File(), {
                f: 'groups',
                s: 'liked',
            }, function (data) {
                if(data.status == 200) {
                    if (data.html.length == 0) {
                        $('.gp-jq').html('<h2><div class="no-more-pages text-center">No more pages to like</div></h2>');
                    } else {
                        $('.gp-jq').hide().html(data.html).fadeIn(300);
                        // $( ".profile-style:nth-child(1)" ).removeClass( "col-md-4" );
                        // $( ".profile-style:nth-child(1)" ).addClass( "col-md-4" );
                        // $(".profile-style:first").nextAll().removeClass("col-md-4");
                        // $(".profile-style:nth-child(1)").nextAll().addClass("col-md-3");
                    }
                }
                Wo_progressIconLoader($('#sidebar-page-list-container').find('.refresh'));
            });
        });
        $(".tg").click(function () {
            $.get(Wo_Ajax_Requests_File(), {
                f: 'groups',
                s: 'suggestion',
            }, function (data) {
                if(data.status == 200) {
                    if (data.html.length == 0) {
                        $('.gp-jq').html('<h2><div class="no-more-pages text-center">No more pages to like</div></h2>');
                    } else {
                        $('.gp-jq').hide().html(data.html).fadeIn(300);
                        // $( ".profile-style:nth-child(1)" ).removeClass( "col-md-4" );
                        // $( ".profile-style:nth-child(1)" ).addClass( "col-md-4" );
                        // $(".profile-style:first").nextAll().removeClass("col-md-4");
                        // $(".profile-style:nth-child(1)").nextAll().addClass("col-md-3");
                    }
                }
                Wo_progressIconLoader($('#sidebar-page-list-container').find('.refresh'));
            });
        });
        $(".yg").click(function () {
            $.get(Wo_Ajax_Requests_File(), {
                f: 'groups',
                s: 'your',
            }, function (data) {
                if(data.status == 200) {
                    if (data.html.length == 0) {
                        $('.gp-jq').html('<h2><div class="no-more-pages text-center">No more pages to like</div></h2>');
                    } else {
                        $('.gp-jq').hide().html(data.html).fadeIn(300);
                        // $( ".profile-style:nth-child(1)" ).removeClass( "col-md-4" );
                        // $( ".profile-style:nth-child(1)" ).addClass( "col-md-4" );
                        // $(".profile-style:first").nextAll().removeClass("col-md-4");
                        // $(".profile-style:nth-child(1)").nextAll().addClass("col-md-3");
                        // $("profile-style:not(:first-child)").nextAll().removeClass("col-md-4");

                        // $("profile-style:not(:first-child)").nextAll().addClass("col-md-3");
                    }
                }
                Wo_progressIconLoader($('#sidebar-page-list-container').find('.refresh'));
            });
        });



    });
</script>