<div class="container-fluid">
    <div class="block-header">
        <h2>Users > Online Users</h2>
    </div>
    <!-- Vertical Layout -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Online Users</h2>
                </div>
                <div class="body">
                   <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                      <th>ID</th>
					                  <th>Username</th>
					                  <th>Source</th>
					                  <th>E-mail</th>
					                  <th>IP Address</th>
					                  <th>Status</th>
					                  <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                if(Wo_IsAdmin()){
                                    foreach (Wo_GetAllOnlineData() as $wo['userlist']) {
                                        echo Wo_LoadAdminPage('manage-users/list');
                                    }
                                }elseif(Wo_IsNormalAdmin()){
                                    foreach (Wo_GetAllOnlineCompanyData() as $wo['userlist']) {
                                        echo Wo_LoadAdminPage('manage-users/list');
                                    }
                                }
				                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <input type="hidden" id="hash_id" name="hash_id" value="<?php echo Wo_CreateSession();?>">
    </div>
    <!-- #END# Vertical Layout -->
<script>
$(function () {
  $('table').DataTable();
});
function Wo_DeleteUser(user_id) {
  if (confirm("Are you sure you want to delete this user?") == false) {
    return false;
  }
  hash_id = $('#hash_id').val();
  $('#UserID_' + user_id).fadeOut(300, function() {
    $(this).remove();
  });
  $.get(Wo_Ajax_Requests_File(),{f:'admin_setting', s:'delete_user', user_id: user_id, hash_id: hash_id});
}
</script>