<div class="page-margin">
   <div class="row">
      <div class="col-md-2"><?php echo Wo_LoadPage("sidebar/left-sidebar"); ?></div>
      <div class="col-md-7">
         <div class="list-group">
            <div class="list-group-item">
               <i class="fa fa-plus-square-o"></i> 
                Register Company
               <div class="clear"></div>
                <h5 class="cmperror" style="color: red;"></h5>
            </div>
            <div class="setting-well">
               <form class="company-register-form form-horizontal" method="post">
                  <fieldset>
                     <div class="create-status-alert hidden">
                        <div class="alert alert-danger">
                           <p><?php echo $wo['lang']['max_number_status'] ?></p>
                        </div>
                     </div>
                     <!-- Text input-->
                     <div class="form-group">
                        <label class="col-md-3 optional-field" for="group_name">Username</label>
                        <div class="col-md-6">
                           <input name="username" type="text" class="form-control input-md">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-3 optional-field" for="group_name">Password</label>
                        <div class="col-md-6">
                           <input name="password" type="text" class="form-control input-md">
                        </div>
                     </div>
                      <div class="form-group">
                        <label class="col-md-3 optional-field" for="group_name">Domain</label>
                        <div class="col-md-6">
                           <input name="domain" type="text" class="form-control input-md">
                        </div>
                     </div>
                     <hr>
                     <div class="form-group last-btn">
                        <label class="col-md-3"></label>
                        <div class="col-sm-3">
                           <button type="submit" class="form-control btn btn-main">
                           <i class="fa fa-plus-square progress-icon" data-icon="plus-square"></i> <?php echo $wo['lang']['create'];?>
                           </button>
                        </div>
                     </div>
                  </fieldset>
               </form>
            </div>
         </div>
      </div>
      <!-- .col-md-8 -->
<!--      --><?php //echo Wo_LoadPage('sidebar/content');?>
   </div>
   <!-- .row -->
</div>

<script>
   jQuery(document).ready(function($) {
      $("#user-storymedia").change(function () {
        var numFiles = this.files.length;
        if (numFiles > 20) {
         $("#user-storymedia").val('');
         $(".create-status-alert").removeClass('hidden');
        }
        else{
            $("#user-story-total input").val(numFiles + ' file(s) selected');
            $("#user-story-total").removeClass('hidden').slideDown(200);
        }

      });

      $("#select-status-media").click(function(event) {
         $("#user-storymedia").click();
      });

      $('.company-register-form').ajaxForm({
       url: Wo_Ajax_Requests_File() + '?f=company&s=register',
       type:"POST",
          dataType: 'json',
       beforeSend: function() {
        Wo_progressIconLoader($('.create-user-story').find('button.btn-main'));
       },
       success: function(data) {
        /*scrollToTop();*/
        if(data['data_error']){
            $(".cmperror").text(data['data_error']);
        }
        if (data['status'] == 200) {
          $(".create-status-alert").removeClass('hidden').html('<div class="alert alert-success">'+ data['message'] +'</div>');
          window.location = '<?php echo $wo['config']['site_url']; ?>';
        } 

        else if (data['message']) {
          $(".create-status-alert").removeClass('hidden').html('<div class="alert alert-danger">' + data['message'] + '</div>');
        } 

        Wo_progressIconLoader($('.create-user-story').find('button.btn-main'));
      }});

   });
</script>
