<div class="post-container">
  <div class="post<?php echo (!empty($wo['story']['post_is_promoted'])) ? ' boosted': '';?>" id="post-<?php echo $wo['story']['id']; ?>" data-post-id="<?php echo $wo['story']['id'];?>">
    <?php
      if (empty($wo['page'])) {
        $wo['page'] = 'home';
      }
     if ($wo['story']['is_post_pinned'] === true && ($wo['page'] == 'timeline' || $wo['page'] == 'events' || $wo['page'] == 'page' || $wo['page'] == 'group' )) {?>
    <div class="pin-icon" data-toggle="tooltip" title="<?php echo $wo['lang']['pinned_post'];?>">
      <i class="fa fa-bookmark"></i>
    </div>
    <?php } ?>
    <div class="panel <!--panel-white--> panel-shadow">
        <div class="col-md-1" style="padding: 0px">
            <a href="<?php echo $wo['story']['publisher']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['story']['publisher']['username']?>">
                <img src="<?php echo $wo['story']['publisher']['avatar']; ?>" id="updateImage-<?php echo $wo['story']['publisher']['user_id']?>" class="avatar b-post-user-image" alt="<?php echo $wo['story']['publisher']['name']; ?> profile picture">
            </a>
        </div>
        <div class="col-md-11"  style="margin-bottom: 10px">

      <div class="post-heading b-post-bg-ct zahidT">
          <!--Small Image of user at leftsidebar Start-->
        <div class="<?php echo Wo_RightToLeft('pull-left');?> image">
            <!--<a href="<?php /*echo $wo['story']['publisher']['url']; */?>" data-ajax="?link1=timeline&u=<?php /*echo $wo['story']['publisher']['username']*/?>">
            <img src="<?php /*echo $wo['story']['publisher']['avatar']; */?>" id="updateImage-<?php /*echo $wo['story']['publisher']['user_id']*/?>" class="avatar" alt="<?php /*echo $wo['story']['publisher']['name']; */?> profile picture">
            </a>-->
        </div>
          <!--Small Image of user at leftsidebar End-->
  <!--Right dropdown button with options of post start-->
        <div class="<?php echo Wo_RightToLeft('pull-right');?>">
          <?php  if ($wo['story']['admin'] === true || $wo['story']['group_admin'] === true) { ?>
          <span class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="fa-ellipsis-h fa pointer gray-1"></span>
            </a>
            <ul class="dropdown-menu post-privacy-menu post-options" role="menu">
            <?php if ($wo['story']['admin'] === true && empty($wo['story']['product_id'])) { ?>
              <li>
                <div class="pointer" onclick="Wo_OpenPostEditBox(<?php echo $wo['story']['id']; ?>);">
                <i class="fa fa-pencil progress-icon fa-fw" data-icon="pencil"></i> 
                <?php echo $wo['lang']['edit_post'];?>
                </div>
              </li>
              <?php } else if (!empty($wo['story']['product_id'])) { 
                if ($wo['story']['product']['status'] == 0) { ?>
              <li>
                <div class="pointer mark-as-sold-post" onclick="Wo_MarkAsSold(<?php echo $wo['story']['id']; ?>, <?php echo $wo['story']['product_id']; ?>);">
                <i class="fa fa-cart-arrow-down progress-icon fa-fw" data-icon="cart-arrow-down"></i> 
                <?php echo $wo['lang']['mark_as_sold']?>
                </div>
              </li>
              <li>
                <a class="pointer" href="<?php echo Wo_SeoLink('index.php?link1=edit-product&id=' . $wo['story']['product_id']);?>">
                  <i class="fa fa-pencil progress-icon fa-fw" data-icon="pencil"></i> <?php echo $wo['lang']['edit_product']?>
                </a>
              </li>
              <?php } } ?>
              <li>
                <div class="pointer" onclick="Wo_OpenPostDeleteBox(<?php echo $wo['story']['id']; ?>);">
                <i class="fa fa-trash-o progress-icon fa-fw" data-icon="trash-o"></i> 
                <?php echo $wo['lang']['delete_post'];?>
                </div>
              </li>
              <?php if (empty($wo['story']['recipient']) && $wo['story']['admin'] === true) { ?>
              <?php if ($wo['story']['is_group_post'] == false) { ?>
              <li>
              <?php
              $pin_post_id = $wo['story']['publisher']['id'];
              $pin_post_text = 'profile';
              if (!empty($wo['story']['page_id'])) {
                $pin_post_id = $wo['story']['page_id'];
                $pin_post_text = 'page';
              } else if (!empty($wo['story']['group_id'])) {
                $pin_post_id = $wo['story']['group_id'];
                $pin_post_text = 'group';
              }  else if (!empty($wo['story']['event_id'])) {
                $pin_post_id = $wo['story']['event_id'];
                $pin_post_text = 'event';
              }
              ?>
                <div class="pin-post pointer" onclick="Wo_PinPost(<?php echo $wo['story']['id']; ?>, <?php echo $pin_post_id;?>, '<?php echo $pin_post_text; ?>');">
                <?php if($wo['story']['is_post_pinned'] === true) { ?>
                <i class="fa fa-thumb-tack progress-icon pinned-text fa-fw" data-icon="thumb-tack"></i> <?php echo $wo['lang']['unpin_post'];?>
                <?php } else { ?>
                <i class="fa fa-thumb-tack progress-icon fa-fw" data-icon="thumb-tack"></i> <?php echo $wo['lang']['pin_post'];?>
                <?php } ?>
                </div>
              </li>
              <?php } } ?>
              <?php if (!empty($wo['story']['album_name']) && ($wo['story']['group_admin'] === false || $wo['story']['admin'] === true)) {?>
              <li>
                <a href="<?php echo Wo_SeoLink('index.php?link1=create-album&album=' . $wo['story']['id']);?>" >
                <i class="fa fa-camera progress-icon fa-fw" data-icon="camera"></i> <?php echo $wo['lang']['add_photos'];?>
                </a>
              </li>
              <?php } ?>
              <?php $hr = 0; if ($wo['config']['pro'] == 1 && ($wo['story']['group_admin'] === false || $wo['story']['admin'] === true)) { ?>
              <li>
                <?php if ($wo['user']['is_pro'] == 0) { ?>
                <a href="<?php echo Wo_SeoLink('index.php?link1=go-pro');?>" data-ajax="?link1=go-pro">
                  <i class="fa fa-bolt progress-icon fa-fw"  data-icon="bolt"></i> <?php echo $wo['lang']['boost_post']; ?>
                </a>
                <?php } else if ($wo['user']['is_pro'] == 1 && $wo['user']['pro_type'] == 1) { $hr = 1;?>
                
                <?php } else if ($wo['user']['is_pro'] == 1 && $wo['user']['pro_type'] > 1) { ?>
                <?php if ($wo['story']['is_post_boosted'] == 0) { ?>
                <div class="boost-post pointer" onclick="Wo_BoostPost(<?php echo $wo['story']['id']; ?>)">
                  <i class="fa fa-bolt progress-icon fa-fw"  data-icon="bolt"></i> <?php echo $wo['lang']['boost_post']; ?>
                </div>
                <?php } else { ?>
                <div class="boost-post pointer" onclick="Wo_BoostPost(<?php echo $wo['story']['id']; ?>)">
                  <i class="fa fa-bolt boosted-text progress-icon fa-fw"  data-icon="bolt"></i> <?php echo $wo['lang']['unboost_post']; ?>
                </div>
                <?php } ?>
                <?php } ?>
              </li>
              <?php if ($hr == 0) { ?>
              
              <?php } } ?>
            </ul>
          </span>
          <?php  } elseif ($wo['loggedin'] == true) { ?>
          <span class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="pointer">
              <span class="fa-ellipsis-h fa pointer gray-1"></span>
            </span>
            </a>
            <ul class="dropdown-menu post-privacy-menu post-options post-recipient" role="menu"  >
              <?php if (Wo_IsAdmin()): ?>
                <li>
                  <div class="pointer" onclick="Wo_OpenPostDeleteBox(<?php echo $wo['story']['id']; ?>);">
                  <i class="fa fa-trash-o progress-icon fa-fw" data-icon="trash-o"></i> 
                  <?php echo $wo['lang']['delete_post'];?>
                  </div>
                </li> 
              <?php endif; ?>
              <li>
                <div class="save-post pointer" class="save-post" onclick="Wo_SavePost(<?php echo $wo['story']['id']; ?>);">
                <?php if($wo['story']['is_post_saved'] === true) { ?>
                <i class="fa fa-check progress-icon fa-fw" data-icon="check"></i> <?php echo $wo['lang']['unsave_post'];?>
                <?php } else { ?>
                <i class="fa fa-floppy-o progress-icon fa-fw" data-icon="floppy-o"></i> <?php echo $wo['lang']['save_post'];?>
                <?php } ?>
                </div>
              </li>
              <li>
                <div  class="report-post pointer" onclick="Wo_ReportPost(<?php echo $wo['story']['id']; ?>);">
                <?php if($wo['story']['is_post_reported'] === true) { ?>
                <i class="fa fa-check progress-icon fa-fw" data-icon="flag"></i> <?php echo $wo['lang']['unreport_post'];?>
                <?php } else { ?>
                <i class="fa fa-flag progress-icon fa-fw" data-icon="flag"></i> <?php echo $wo['lang']['report_post'];?>
                <?php } ?>
                </div>
              </li>
              <li>
                <a href="<?php echo $wo['story']['url'];?>" target="_blank" >
                <i class="fa fa-link progress-icon fa-fw" data-icon="link"></i> <?php echo $wo['lang']['open_post_in_new_tab'];?>
                </a>
              </li>
              <li>
                <a class="pointer" onclick="Wo_HidePost(<?php echo $wo['story']['id'];?>);">
                  <i class="fa fa-eye-slash  fa-fw" aria-hidden="true"></i>
                  <?php echo $wo['lang']['hide_post'];?>
                </a>    
              </li>
            </ul>
          </span>
          <?php } ?>
        </div>
  <!--Right dropdown button with options of post end-->

      <!--Admin name post time etc post header Start-->
      <div class="meta">
          <div class="title h5">
            <span class="user-popover" data-type="<?php echo $wo['story']['publisher']['type']; ?>" data-id="<?php echo $wo['story']['publisher']['id']; ?>">

              <a href="<?php echo $wo['story']['publisher']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['story']['publisher']['username']; ?>"><b style="color: #70bbb3;"><?php echo $wo['story']['publisher']['name']; ?></b></a>
              <?php if($wo['story']['publisher']['verified'] == 1) { ?>
                <span class="verified-color">
                <i class="fa fa-check-circle fa-fw" title="<?php echo $wo['lang']['verified_user'];?>" data-toggle="tooltip"></i>
                </span>
              <?php } ?>
              
            
            </span>
            <?php if (isset($wo['story']['publisher']['is_pro'])) { 
              if(Wo_IsUserPro($wo['story']['publisher']['is_pro']) === true) { ?>
            <?php
            $user_pro_type = Wo_GetUserProType($wo['story']['publisher']['pro_type']);
            ?>
            <span style="color:<?php echo $user_pro_type['color_name'];?>"><i class="fa fa-<?php echo $user_pro_type['icon'];?> fa-fw" title="<?php echo $user_pro_type['type_name'];?>" data-toggle="tooltip"></i></span>
            <?php } } ?>

            <?php if ($wo['story']['shared_from'] && is_array($wo['story']['shared_from'])): ?>
              <span class="user-popover" data-type="<?php echo $wo['story']['shared_from']['type']; ?>" data-id="<?php echo $wo['story']['shared_from']['id']; ?>">         
                    <span><?php echo $wo['lang']['shared']; ?></span> 
                    <a href="<?php echo $wo['story']['shared_from']['url']; ?>" class="pointer no_decor" data-ajax="?link1=timeline&u=<?php echo $wo['story']['shared_from']['username']; ?>">
                        <b><?php echo $wo['story']['shared_from']['name']; ?></b>
                    </a>
                    <?php if($wo['story']['shared_from']['verified'] == 1) { ?>
                    <span class="verified-color">
                    <i class="fa fa-check-circle fa-fw" title="<?php echo $wo['lang']['verified_user'];?>" data-toggle="tooltip"></i>
                    </span>
              <?php } ?>
              </span>
            <?php endif; ?>
            <?php if ($wo['story']['shared_from'] && is_array($wo['story']['shared_from'])): ?>
            <span>  
              <a href="<?php echo $wo['story']['post_url']; ?>" class="pointer"><span style="color: #666;"><?php echo strtolower($wo['lang']['post']); ?></span></a>
            </span>
            <?php endif; ?>

            <?php if ($wo['story']['recipient_exists'] == true) {  ?>
            <i class="fa fa-arrow-right"></i>
            <span class="user-popover" data-type="<?php echo $wo['story']['recipient']['type']; ?>" data-id='<?php echo $wo['story']['recipient']['id']; ?>'>
            <a href="<?php echo $wo['story']['recipient']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['story']['recipient']['username']; ?>">
            <b>
            <?php echo $wo['story']['recipient']['name']; ?>
            </b>
            </a>
            <?php if($wo['story']['recipient']['verified'] == 1) { ?> <span class="verified-color"><i class="fa fa-check-circle" title="<?php echo $wo['lang']['verified_user'];?>"></i></span>
            <?php } ?>
            </span>
            <?php } ?>

            <?php if (!empty($wo['story']['page_event_id'])) {?>
            <small class="small-text"> <?php echo $wo['lang']['created_new_event'] ?></small>
            <?php } ?>
            <?php if (!empty($wo['story']['event_id']) && $wo['page'] != 'events') {  ?>
            <i class="fa fa-arrow-right"></i> <a href="<?php echo $wo['story']['event']['url']; ?>" data-ajax="?link1=show-event&eid=<?php echo $wo['story']['event']['id']; ?>"><b><?php echo $wo['story']['event']['name']; ?></b></a>
            <?php } ?>
            <?php if ($wo['story']['group_recipient_exists'] == true && $wo['page'] != 'group') {  ?>
            <i class="fa fa-arrow-right"></i>
            <span class="user-popover" data-type="<?php echo $wo['story']['group_recipient']['type']; ?>" data-id='<?php echo $wo['story']['group_recipient']['id']; ?>'>
            <a href="<?php echo $wo['story']['group_recipient']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['story']['group_recipient']['username']; ?>">
            <b><?php echo $wo['story']['group_recipient']['name']; ?></b>
            </a>
            </span>
            <?php } ?>
            <?php if (!empty($wo['story']['album_name']) && empty($wo['story']['shared_from'])) {  ?>
            <small class="small-text"><?php echo $wo['lang']['added_new_photos_to'];?> <b><a href="<?php echo $wo['story']['url']; ?>" data-ajax="?link1=post&id=<?php echo $wo['story']['id'];?>"><?php echo $wo['story']['album_name']; ?></a></b></small>
            <?php } ?>
            <?php if (!empty($wo['story']['product_id']) && empty($wo['story']['shared_from'])) {  ?>
            <small class="small-text"><?php echo $wo['lang']['added_new_product_for_sell']; ?></small>
            <?php } ?>
            <?php if (!empty($wo['story']['blog_id'])  && empty($wo['story']['shared_from'])) {  ?>
            <small class="small-text"><?php echo $wo['lang']['created_new_blog'] ?></small>
            <?php } ?>
            <?php if (empty($wo['story']['shared_from'])): ?>
              <small class="small-text">
                <?php 
                  if($wo['story']['postType'] == 'profile_picture') { 
                     $changed_profile_pic_lang = $wo['lang']['changed_profile_picture_male'];
                     if ($wo['story']['publisher']['gender'] == 'female') {
                        $changed_profile_pic_lang = $wo['lang']['changed_profile_picture_female'];
                     } else {
                        $changed_profile_pic_lang = $wo['lang']['changed_profile_picture_male'];
                     }
                     echo $changed_profile_pic_lang;
                  } 
                  if($wo['story']['postType'] == 'profile_cover_picture') { 
                     $changed_profile_cover_pic_lang = $wo['lang']['changed_profile_cover_picture_male'];
                     if ($wo['story']['publisher']['gender'] == 'female') {
                        $changed_profile_cover_pic_lang = $wo['lang']['changed_profile_cover_picture_female'];
                     } else {
                        $changed_profile_cover_pic_lang = $wo['lang']['changed_profile_cover_picture_male'];
                     }
                     echo $changed_profile_cover_pic_lang;
                  } 
                  ?>
              </small>
            <?php endif; ?>
            <?php if($wo['story']['via_type'] == 'share') {  ?>
            <small style="color:#a33e40;"><?php echo $wo['story']['via']['name'];?> <?php echo $wo['lang']['shared_this_post'];?></small>
            <?php }  ?>
            <?php 
          $extra_exists = 0;
          if (!empty($wo['story']['postFeeling'])) {
            if (empty($changed_profile_pic_lang) 
              && $wo['story']['via_type'] != 'share'
              && $wo['story']['group_recipient_exists'] != true
              && empty($wo['story']['album_name'])) {
          ?>
          <span class="feeling-text"> <?php echo $wo['lang']['is_feeling'];?> <i class="twa-lg twa twa-<?php echo $wo['story']['postFeelingIcon'];?>"></i> <?php echo $wo['lang'][$wo['story']['postFeeling']];?></span>
          <?php
          } else {
            $extra_exists = 1;
          }
          }
          if (!empty($wo['story']['postTraveling'])) {
            if (empty($changed_profile_pic_lang) 
              && $wo['story']['via_type'] != 'share'
              && $wo['story']['group_recipient_exists'] != true
              && empty($wo['story']['album_name'])) {
          ?>
          <span class="feeling-text"><i class="fa fa-plane"></i> <?php echo $wo['lang']['is_traveling'];?> <?php echo $wo['story']['postTraveling'];?></span>
          <?php
          } else {
            $extra_exists = 1;
          }
          }
          if (!empty($wo['story']['postListening'])) {
            if (empty($changed_profile_pic_lang) 
              && $wo['story']['via_type'] != 'share'
              && $wo['story']['group_recipient_exists'] != true
              && empty($wo['story']['album_name'])) {
          ?>
          <span class="feeling-text"><i class="fa fa-headphones"></i> <?php echo $wo['lang']['is_listening'];?> <?php echo $wo['story']['postListening'];?></span>
          <?php
          } else {
            $extra_exists = 1;
          }
          }
          if (!empty($wo['story']['postPlaying'])) {
            if (empty($changed_profile_pic_lang) 
              && $wo['story']['via_type'] != 'share'
              && $wo['story']['group_recipient_exists'] != true
              && empty($wo['story']['album_name'])) {
          ?>
          <span class="feeling-text"><i class="fa fa-gamepad"></i> <?php echo $wo['lang']['is_playing'];?> <?php echo $wo['story']['postPlaying'];?></span>
          <?php
          } else {
            $extra_exists = 1;
          }
          }
          if (!empty($wo['story']['postWatching'])) {
            if (empty($changed_profile_pic_lang) 
              && $wo['story']['via_type'] != 'share'
              && $wo['story']['group_recipient_exists'] != true
              && empty($wo['story']['album_name'])) {
          ?>
          <span class="feeling-text"><i class="fa fa-eye"></i> <?php echo $wo['lang']['is_watching'];?> <?php echo $wo['story']['postWatching'];?></span>
          <?php
          } else {
            $extra_exists = 1;
          }
          }
          ?>
          </div>
          <h6>
            <span class="time">
               <a  style="color:#9197a3" class="ajax-time" href="<?php echo $wo['story']['url'];?>" title="<?php echo date('c',$wo['story']['time']); ?>" target="_blank"><?php echo Wo_Time_Elapsed_String($wo['story']['time']); ?></a>
            </span>
            <?php if (strlen($wo['story']['postText']) >= 2): ?>
                <span onclick="Wo_Translate($(this).attr('id'),$(this).attr('data-language'))" title="<?php echo $wo['lang']['translate'];?>" class="pointer time" id="<?php echo $wo['story']['id']; ?>" data-language="<?php echo DetermineUserLang(); ?>" data-trans-btn="<?php echo $wo['story']['id']; ?>">
                  - <?php echo $wo['lang']['translate'];?>
                </span> 
            <?php endif ?>
            <?php  if ($wo['story']['admin'] === true && $wo['story']['group_recipient_exists'] == false && empty($wo['story']['product_id'])) { ?>
            <?php  if (empty($wo['story']['page_id'])) { ?>
            <span class="dropdown" style="color:#9197a3">
              <span class="dropdown-toggle pointer" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="pointer post-privacy" style="color:#9197a3">
              <?php  if($wo['story']['postPrivacy'] == 0) { ?>
              <i class="fa fa-globe progress-icon fa-fw" data-toggle="tooltip" title="<?php echo $wo['lang']['everyone'];?>" data-icon="globe"></i>
              <?php  } ?>
              <?php  if($wo['story']['postPrivacy'] == 1) { ?>
              <i class="fa fa-users progress-icon fa-fw" data-toggle="tooltip" title="<?php echo ($wo['config']['connectivitySystem'] == 1) ? $wo['lang']['my_friends'] : $wo['lang']['people_i_follow'];?>" data-icon="user"></i>
              <?php  }  ?>
              <?php  if($wo['story']['postPrivacy'] == 2) { ?>
              <i class="fa fa-user progress-icon fa-fw" data-toggle="tooltip" title="<?php echo ($wo['config']['connectivitySystem'] == 1) ? $wo['lang']['my_friends'] : $wo['lang']['people_follow_me'];?>" data-icon="users"></i>
              <?php  }  ?>
              <?php  if($wo['story']['postPrivacy'] == 3) { ?>
              <i class="fa fa-lock progress-icon fa-fw" data-toggle="tooltip" title="<?php echo $wo['lang']['only_me'];?>" data-icon="lock"></i>
              <?php  }  ?>
              </span>
              <span class="caret" style="color:#9197a3"></span>
              </span>
              
              <ul class="dropdown-menu post-privacy-menu" role="menu">
                <li>
                  <div class="pointer" onclick="Wo_UpdatePostPrivacy(<?php echo $wo['story']['id']; ?>,3,event);">
                  <i class="fa fa-lock progress-icon fa-fw" data-toggle="tooltip" data-icon="lock"></i> 
                  <?php echo $wo['lang']['only_me'];?>
                  </div>
                </li>
                <li>
                  <div class="pointer" onclick="Wo_UpdatePostPrivacy(<?php echo $wo['story']['id']; ?>,0,event);">
                  <i class="fa fa-globe progress-icon fa-fw" data-toggle="tooltip" data-icon="pencil"></i> <?php echo $wo['lang']['everyone'];?>
                  </div>
                </li>
                <?php if ($wo['config']['connectivitySystem'] == 1) { ?>
                <li>
                  <div class="pointer" onclick="Wo_UpdatePostPrivacy(<?php echo $wo['story']['id']; ?>,1,event);">
                  <i class="fa fa-users progress-icon fa-fw" data-toggle="tooltip" data-icon="pencil"></i> <?php echo $wo['lang']['my_friends'];?>
                  </div>
                </li>
                <?php } else { ?>
                <li>
                  <div class="pointer" onclick="Wo_UpdatePostPrivacy(<?php echo $wo['story']['id']; ?>,1,event);">
                  <i class="fa fa-user progress-icon fa-fw" data-toggle="tooltip" data-icon="pencil"></i> 
                  <?php echo $wo['lang']['people_i_follow'];?>
                  </div>
                </li>
                <li>
                  <div class="pointer" onclick="Wo_UpdatePostPrivacy(<?php echo $wo['story']['id']; ?>,2,event);">
                  <i class="fa fa-users progress-icon fa-fw" data-toggle="tooltip" data-icon="pencil"></i> <?php echo $wo['lang']['people_follow_me'];?>
                  </div>
                </li>
                <?php } ?>
              </ul>
            </span>
            <?php } else { ?>
            <span class="dropdown">
              <span class="dropdown-toggle pointer" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="pointer post-privacy" style="color:#9197a3">
              <?php  if($wo['story']['postPrivacy'] == 0) { ?>
              <i class="fa fa-globe progress-icon " data-toggle="tooltip" title="<?php echo $wo['lang']['everyone'];?>" data-icon="globe"></i>
              <?php  } ?>
              <?php  if($wo['story']['postPrivacy'] == 2) { ?>
              <i class="fa fa-thumbs-up progress-icon" data-toggle="tooltip" title="Liked My Page" data-icon="thumbs-up"></i>
              <?php  }  ?>
              </span>
              <span class="caret"></span>
              </span>
              <ul class="dropdown-menu post-privacy-menu" role="menu">
                <li>
                  <span class="pointer" onclick="Wo_UpdatePostPrivacy(<?php echo $wo['story']['id']; ?>,0,event);">
                  <i class="fa fa-globe progress-icon" data-toggle="tooltip" data-icon="pencil"></i> <?php echo $wo['lang']['everyone'];?>
                  </span>
                </li>
                <li>
                  <hr>
                </li>
                <li>
                  <span class="pointer" onclick="Wo_UpdatePostPrivacy(<?php echo $wo['story']['id']; ?>,2,event);">
                  <i class="fa fa-thumbs-up progress-icon" data-toggle="tooltip" data-icon="thumbs-up"></i> Liked My Page
                  </span>
                </li>
              </ul>
            </span>
            <?php } ?>
            <?php }  ?>

            <?php if(!empty($wo['story']['postMap'])) { ?>
            <?php if(!empty($wo['story']['postSoundCloud']) || 
              !empty($wo['story']['postVine']) || 
              !empty($wo['story']['postYoutube']) || 
              !empty($wo['story']['postPlaytube']) || 
              !empty($wo['story']['postVimeo']) || 
              !empty($wo['story']['postText']) || 
              !empty($wo['story']['postFile']) || 
              !empty($wo['story']['postLink']) || 
              !empty($wo['story']['postFacebook']) || 
              !empty($wo['story']['postDailymotion']) ||
              !empty($wo['story']['album_name'])) { ?>
            <span style="color:#9197a3"> - <i class="fa fa-map-marker"></i> <?php echo $wo['story']['postMap'];?>.</span>
            <?php } ?>
            <?php } else { ?>
            <?php
              $small_icon = '';
              $icon_type = '';
              if(!empty($wo['story']['postVine'])) { 
                 $small_icon = 'vine';
                 $icon_type = 'Vine';
              } else if (!empty($wo['story']['postVimeo'])) {
                 $small_icon = 'vimeo';
                 $icon_type = 'Vimeo';
              } else if (!empty($wo['story']['postFacebook'])) {
                 $small_icon = 'facebook-official';
                 $icon_type = 'Facebook';
              } else if (!empty($wo['story']['postDailymotion'])) {
                 $small_icon = 'film';
                 $icon_type = 'Dailymotion';
              } else if (!empty($wo['story']['postYoutube'])) {
                 $small_icon = 'youtube-square';
                 $icon_type = 'Youtube';
              } else if (!empty($wo['story']['postPlaytube'])) {
                // $small_icon = 'play-circle';
                // $icon_type = 'PlayTube';
              } else if (!empty($wo['story']['postSoundCloud'])) {
                 $small_icon = 'soundcloud';
                 $icon_type = 'SoundCloud';
              }
              if (!empty($icon_type)) {
              ?>
            <span style="color:#9197a3; text-transform: capitalize;">
             - <i class="fa fa-<?php echo $small_icon; ?>"></i> <?php echo $icon_type; ?>
            </span>
            <?php  } } ?>
          </h6>
        </div>
      <!--Admin name post time etc post header End-->
      </div>

      <div class="post-description b-post-bg-ct" id="post-description-<?php echo $wo['story']['id']; ?>">
        <?php
        if (!empty($wo['story']['product_id'])) {
            $symbol =  (!empty($wo['currencies'][$wo['story']['product']['currency']]['symbol'])) ? $wo['currencies'][$wo['story']['product']['currency']]['symbol'] : $wo['config']['classified_currency_s'];
            $text =  (!empty($wo['currencies'][$wo['story']['product']['currency']]['text'])) ? $wo['currencies'][$wo['story']['product']['currency']]['text'] : $wo['config']['classified_currency'];
            echo '<div class="product-name">' . $wo['lang']['product_name'] . ':<br><span class="product-description">' . $wo['story']['product']['name'] . '</span></div><br>';
            echo '<div class="product-name">' . $wo['lang']['description'] . ':<br><p class="product-description product-description-'.$wo['story']['product']['id'].'">' . $wo['story']['product']['description'] . '</p></div><br>';
            echo '<div class="product-name">' . $wo['lang']['price'] . ': <span class="product-price">' . $symbol . $wo['story']['product']['price'] . ' (' . $text . ')</span></div><br>';
            if (!empty($wo['story']['product']['location'])) {
               echo '<div class="product-name">' . $wo['lang']['location'] . ': <span class="product-description"><i class="fa fa-map-marker"></i> ' . $wo['story']['product']['location'] . '</span></div><br>';
            } 
            $status = ($wo['story']['product']['status'] == 0) ? '<span class="product-description">' . $wo['lang']['in_stock'] . '</span>' : '<span class="product-status-sold">' . $wo['lang']['sold'] . '</span><br><br>';
            $type = ($wo['story']['product']['type'] == 0) ? '<span class="product-description">' . $wo['lang']['new'] . '</span>' : '<span class="product-description">' . $wo['lang']['used'] . '</span><br>';
            echo '<div class="product-name">' . $wo['lang']['type'] . ': ' . $type . '</div><br>';
            echo '<div class="product-name">' . $wo['lang']['status'] . ': ' . $status . '</div><br>';
            $class = '';
            $small = '';
            if (count($wo['story']['product']['images']) == 2) {
                 $class = 'width-2';
            }
            if (count($wo['story']['product']['images']) > 1) {
                 $small = '_small';
            }
            if (count($wo['story']['product']['images']) > 2) {
                 $class = 'width-3';
            }
            if (count($wo['story']['product']['images']) > 3) {
             foreach (array_slice($wo['story']['product']['images'],0,3) as $key => $photo) {
              if ($key == 2) {
                  echo "<div onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"product\");' class='album-collapse pointer'> 
                            <img src='".($photo['image_org'])."' class='image-file'>
                            <span>+".count(array_slice($wo['story']['product']['images'],2))."</span>
                        </div>
                        "; 
              }
              else{
                echo  "<img src='" . ($photo['image_org']) ."' alt='image' class='" . $class . " image-file pointer' 
                       onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"product\");'>";
              }
              
             }
             foreach (array_slice($wo['story']['product']['images'],3) as $photo) {
                echo  "<img src='" . ($photo['image_org']) ."' alt='image' class='" . $class . " image-file pointer hidden' 
                      onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"product\");'>";
             }
            }
            else{
              foreach ($wo['story']['product']['images'] as $photo) {
                echo  "<img src='" . ($photo['image_org']) ."' alt='image' class='" . $class . " image-file pointer' 
                      onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"product\");'>";
              }
            }
          } 
        ?>
        <p dir="auto">
        <span data-translate-text="<?php echo $wo['story']['id']; ?>"> <?php echo $wo['story']['postText']; ?></span>
        <?php if (!empty($wo['story']['postFeeling']) && $extra_exists == 1) { ?>
        <span class="feeling-text"> — <i class="twa-lg twa twa-<?php echo $wo['story']['postFeelingIcon'];?>"></i> <?php echo $wo['lang']['feeling'];?> <?php echo $wo['lang'][$wo['story']['postFeeling']];?></span>
        <?php } ?>
        <?php if (!empty($wo['story']['postTraveling']) && $extra_exists == 1) { ?>
        <span class="feeling-text"> — <i class="fa fa-plane"></i> <?php echo $wo['lang']['traveling'];?><?php echo $wo['story']['postTraveling'];?></span>
        <?php } ?>
        <?php if (!empty($wo['story']['postWatching']) && $extra_exists == 1) { ?>
        <span class="feeling-text"> — <i class="fa fa-eye"></i> <?php echo $wo['lang']['watching'];?> <?php echo $wo['story']['postWatching'];?></span>
        <?php } ?>
        <?php if (!empty($wo['story']['postPlaying']) && $extra_exists == 1) { ?>
        <span class="feeling-text"> — <i class="fa fa-gamepad"></i> <?php echo $wo['lang']['playing'];?> <?php echo $wo['story']['postPlaying'];?></span>
        <?php } ?>
         <?php if (!empty($wo['story']['postListening']) && $extra_exists == 1) { ?>
        <span class="feeling-text"> — <i class="fa fa-headphones"></i> <?php echo $wo['lang']['listening'];?> <?php echo $wo['story']['postListening'];?></span>
        <?php } ?>
        </p>
        <?php if(!empty($wo['story']['postYoutube'])) {  ?>
        <div class="post-youtube">
          <iframe id="ytplayer" type="text/html" width="100%" height="340" src="https://www.youtube.com/embed/<?php echo $wo['story']['postYoutube']; ?>?autoplay=0"
            frameborder="0"/></iframe>
        </div>
        <?php } ?>
        <?php if(!empty($wo['story']['postPlaytube'])) {  ?>
        <div class="post-youtube">
          <iframe id="ptplayer" type="text/html" width="100%" height="340" src="<?php echo $wo['config']['playtube_url']; ?>/embed/<?php echo $wo['story']['postPlaytube']; ?>?autoplay=0"
            frameborder="0"/></iframe>
        </div>
        <?php } ?>
        <?php if(!empty($wo['story']['postVimeo'])) {  ?>
        <div class="post-youtube">
          <iframe src="https://player.vimeo.com/video/<?php echo $wo['story']['postVimeo'];?>?byline=0&portrait=0" width="100%" height="340" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <?php } ?>
        <?php if(!empty($wo['story']['postFacebook'])) {  ?>
        <div class="post-youtube">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/<?php echo $wo['story']['postFacebook'];?>&show_text=0" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
          <div class="clear"></div>
        </div>

        <?php } ?>
        <?php if(!empty($wo['story']['postDailymotion'])) {  ?>
        <div class="post-youtube">
          <iframe frameborder="0" width="100%" height="340" src="https://www.dailymotion.com/embed/video/<?php echo $wo['story']['postDailymotion']?>" allowfullscreen></iframe>
        </div>

        
        <?php } ?>
        <?php if(!empty($wo['story']['postVine'])) {  ?>
        <iframe src="https://vine.co/v/<?php echo $wo['story']['postVine']; ?>/embed/simple" width="100%" height="400" frameborder="0"></iframe>
        <?php } ?>
        <?php if(!empty($wo['story']['postSoundCloud'])) { ?>
        <iframe width="100%" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<?php echo $wo['story']['postSoundCloud'];?>&auto_play=false"></iframe>
        <?php } ?>
        <?php if(!empty($wo['story']['postMap']) && empty($wo['story']['postVine']) && empty($wo['story']['postSoundCloud']) && empty($wo['story']['postVimeo']) && empty($wo['story']['postDailymotion']) && empty($wo['story']['postYoutube']) && empty($wo['story']['postPlaytube']) && empty($wo['story']['postFile'])) { ?>
        <div class="post-map">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=<?php echo $wo['story']['postMap'];?>&zoom=13&size=600x250&maptype=roadmap&markers=color:red%7C<?php echo $wo['story']['postMap'];?>&key=<?php echo $wo['config']['google_map_api'];?>" width="100%">
        </div>
        <?php } ?>
        <?php if(!empty($wo['story']['postLink']) && empty($wo['story']['postVine']) && empty($wo['story']['postPlaytube']) && empty($wo['story']['postSoundCloud']) && empty($wo['story']['postYoutube']) && empty($wo['story']['postFile'])) { ?>
        <div class="post-fetched-url">
          <a href="<?php echo $wo['story']['postLink'];?>" target="_blank">
            <?php if (!empty($wo['story']['postLinkImage'])) {?>
            <div class="post-fetched-url-con">
              <img src="<?php echo $wo['story']['postLinkImage'];?>" class="<?php echo Wo_RightToLeft('pull-left');?>" alt="<?php echo $wo['story']['postLinkTitle'];?>"/>
            </div>
            <?php } ?>
            <div class="fetched-url-text">
              <h4><?php echo $wo['story']['postLinkTitle'];?></h4>
              <div class="description"><?php echo $wo['story']['postLinkContent'];?></div>
              <div class="url">
                <?php 
                  $parse = parse_url($wo['story']['postLink']);
                  echo $parse['host'];
                  ?>
              </div>
            </div>
            <div class="clear"></div>
            </a>
        </div>
        <?php } ?>
        <?php if(!empty($wo['story']['page_event_id'])) { ?>
        <div class="post-fetched-url">
          <a href="<?php echo $wo['story']['event']['url'];?>" target="_blank">
            <?php if (!empty($wo['story']['event']['cover'])) {?>
            <div class="post-fetched-url-con">
              <img src="<?php echo $wo['story']['event']['cover'];?>" class="<?php echo Wo_RightToLeft('pull-left');?>"/>
            </div>
            <?php } ?>
            <div class="fetched-url-text">
              <h4><?php echo $wo['story']['event']['name'];?></h4>
              <div class="description">
                <p><?php echo $wo['story']['event']['description'];?></p>
              </div>
              <div class="url">
               <?php echo $wo['story']['event']['start_date'];?> - <?php echo $wo['story']['event']['end_date'];?>
              </div>
            </div>
            <div class="clear"></div>
            </a>
        </div>
        <?php } ?>
        <?php if(!empty($wo['story']['blog_id'])) { ?>
        <div class="post-fetched-url">
          <a href="<?php echo $wo['story']['blog']['url'];?>" target="_blank">
            <?php if (!empty($wo['story']['blog']['thumbnail'])) {?>
            <div class="post-fetched-url-con">
              <img src="<?php echo $wo['story']['blog']['thumbnail'];?>" class="<?php echo Wo_RightToLeft('pull-left');?>" alt="<?php echo $wo['story']['blog']['title'];?>"/>
            </div>
            <?php } ?>
            <div class="fetched-url-text">
              <h4><?php echo $wo['story']['blog']['title'];?></h4>
              <div class="description"><?php echo $wo['story']['blog']['description'];?></div>
              <div class="url">
                <?php 
                  $parse = parse_url($wo['config']['site_url']);
                  echo $parse['host'];
                  ?>
              </div>
            </div>
            <div class="clear"></div>
            </a>
        </div>
        <?php } ?>
        <?php if(!empty($wo['story']['postFile'])) { ?>
        <div class="post-file">
            <?php
            $media = array(
                'type' => 'post',
                'storyId' => $wo['story']['id'],
                'filename' => $wo['story']['postFile'],
                'name' => $wo['story']['postFileName'],
                'postFileThumb' => $wo['story']['postFileThumb'],
            );
            echo Wo_DisplaySharedFile($media);
            ?>
        </div>

        <?php } ?>
        <?php if (Wo_IsUrl($wo['story']['postSticker'])): ?>
          <div class="post-file">
            <?php if (strpos('.mp4', $wo['story']['postSticker'])) { ?>
            <video autoplay loop><source src="<?php echo $wo['story']['postSticker']; ?>" type="video/mp4"></video>
            <?php } else { ?>
            <img src="<?php echo $wo['story']['postSticker']; ?>" alt="GIF">
            <?php } ?>
          </div>
        <?php endif; ?>
        <?php if (Wo_IsUrl($wo['story']['postPhoto'])): ?>
          <div class="post-file">
            <img src="<?php echo $wo['story']['postPhoto']; ?>" alt="Picture">
          </div>
        <?php endif; ?>
        <?php if(!empty($wo['story']['postRecord'])) { ?>
        <div class="post-file">
            <?php  
              $media = array(
                'type' => 'post',
                'storyId' => $wo['story']['id'],
                'filename' => $wo['story']['postRecord'],
                'name' => ''
              );
              echo  Wo_DisplaySharedFile($media,'record');
            ?>
        </div>
        <?php } ?>
        <div>
        <?php if (!empty($wo['story']['photo_album'])) {
           $class = '';
           $small = '';
           if (count($wo['story']['photo_album']) == 2) {
                $class = 'width-2';
           }
           if (count($wo['story']['photo_album']) > 1) {
                $small = '_small';
           }
           if (count($wo['story']['photo_album']) > 2) {
                $class = 'width-3';
           }
           $delete  = '';
           $onhover = '';

          if (count($wo['story']['photo_album']) > 3) {
             foreach (array_slice($wo['story']['photo_album'],0,3) as $key => $photo) {
              if ($key == 2) {
                  echo "<div onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"album\");' class='album-collapse pull-left pointer'> 
                            <img src='".Wo_GetMedia($photo['image_org'])."' class='image-file'>
                            <span>+".count(array_slice($wo['story']['photo_album'],2))."</span>
                        </div>
                        "; 
              }
              else{
                if ($wo['story']['admin'] === true) {
                  $delete = "<span onclick='Wo_RemoveAlbumImage(" . $photo['post_id'] . "," . $photo['id'] . ");' class='pointer'><i class='fa fa-remove'></i></span>";
                  $onhover = "onmouseover='Wo_ShowDeleteButton(" . $photo['post_id'] . "," . $photo['id'] . ")' onmouseleave='Wo_HideDeleteButton(" . $photo['post_id'] . "," . $photo['id'] . ");'";
                }
                echo  "<div class='album-image " . $class . "' id='image-" . $photo['id'] . "' {$onhover}>{$delete}<img src='" . Wo_GetMedia($photo['image_org']) . "' alt='image' class='image-file  pointer' onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"album\");'></div>";
                }
             }
             foreach (array_slice($wo['story']['photo_album'],3) as $photo) {
                if ($wo['story']['admin'] === true) {
                $delete = "<span onclick='Wo_RemoveAlbumImage(" . $photo['post_id'] . "," . $photo['id'] . ");' class='pointer'><i class='fa fa-remove'></i></span>";
                  $onhover = "onmouseover='Wo_ShowDeleteButton(" . $photo['post_id'] . "," . $photo['id'] . ")' onmouseleave='Wo_HideDeleteButton(" . $photo['post_id'] . "," . $photo['id'] . ");'";
                }
                echo  "<div class='album-image " . $class . "' id='image-" . $photo['id'] . "' {$onhover}>{$delete}<img src='" . Wo_GetMedia($photo['image_org']) . "' alt='image' class='image-file pointer hidden' onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"album\");'></div>";
             }
          }
          else{
              foreach ($wo['story']['photo_album'] as $photo) {
                if ($wo['story']['admin'] === true) {
                  $delete = "<span onclick='Wo_RemoveAlbumImage(" . $photo['post_id'] . "," . $photo['id'] . ");' class='pointer'><i class='fa fa-remove'></i></span>";
                  $onhover = "onmouseover='Wo_ShowDeleteButton(" . $photo['post_id'] . "," . $photo['id'] . ")' onmouseleave='Wo_HideDeleteButton(" . $photo['post_id'] . "," . $photo['id'] . ");'";
                }
                echo  "<div class='album-image " . $class . "' id='image-" . $photo['id'] . "' {$onhover}>{$delete}<img src='" . Wo_GetMedia($photo['image_org']) . "' alt='image' class='image-file pointer' onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"album\");'></div>";
              }
          }
        } 
        ?>
        <?php if ($wo['story']['multi_image'] == 1) {
           $class = '';
           $small = '';
           if (count($wo['story']['photo_multi']) == 2) {
                $class = 'width-2';
           }
           if (count($wo['story']['photo_multi']) > 1) {
                $small = '_small';
           }
           if (count($wo['story']['photo_multi']) > 2) {
                $class = 'width-3';
           }

           if (count($wo['story']['photo_multi']) > 3) {
             foreach (array_slice($wo['story']['photo_multi'],0,3) as $key => $photo) {
              if ($key == 2) {
                  echo "<div onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"album\");' class='album-collapse pointer'> 
                            <img src='".Wo_GetMedia($photo['image_org'])."' class='image-file'>
                            <span>+".count(array_slice($wo['story']['photo_multi'],2))."</span>
                        </div>
                        "; 
              }
              else{
                echo  "<img src='" . Wo_GetMedia($photo['image_org']) ."' alt='image' class='" . $class . " image-file pointer' 
                       onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"album\");'>";
              }
              
             }
             foreach (array_slice($wo['story']['photo_multi'],3) as $photo) {
                echo  "<img src='" . Wo_GetMedia($photo['image_org']) ."' alt='image' class='" . $class . " image-file pointer hidden' 
                      onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"album\");'>";
             }
           }else{
              foreach ($wo['story']['photo_multi'] as $photo) {
                echo  "<img src='" . Wo_GetMedia($photo['image_org']) ."' alt='image' class='" . $class . " image-file pointer' 
                      onclick='Wo_OpenAlbumLightBox(" . $photo['id'] . ", \"album\");'>";
              }
           }
        }
        ?>
        <div class="clear"></div>
        </div>
        <?php
        if ($wo['story']['poll_id'] == 1) {
           echo Wo_LoadPage('story/entries/options');
        }
        ?>
        <div class="clear"></div>

        <?php if ($wo['loggedin'] == true) { ?>
        <div class="stats post-actions  <?php echo Wo_RightToLeft('pull-left');?>">
          <div class="btn btn-default stat-item post-like-status b-post-bg-ct" title="<?php echo $wo['lang']['likes'];?>" onclick="Wo_OpenPostLikedUsers(<?php echo $wo['story']['id'] ?>);">
            <i class="fa fa-thumbs-up progress-icon" data-icon="thumbs-up"></i>
            <span id="likes">
            <?php echo $wo['story']['post_likes'];?>
            </span>
          </div>
          <?php if ($wo['config']['second_post_button'] != 'disabled') { ?>
          <div class="btn btn-default stat-item post-wonders-status b-post-bg-ct" title="<?php echo ($wo['config']['second_post_button'] == 'wonder') ? $wo['lang']['wonders']: $wo['lang']['dislikes'];?>" onclick="Wo_OpenPostWonderedUsers(<?php echo $wo['story']['id'] ?>);">
            <i class="fa fa-<?php echo $wo['second_post_button_icon'];?> progress-icon" data-icon="exclamation-circle"></i>
            <span id="wonders">
            <?php echo $wo['story']['post_wonders'];?>
            </span>
          </div>
          <?php } ?>
          <?php if (!empty($wo['story']['postFile']) && strpos($wo['story']['postFile'], '_video') !== false): ?>
            <div class="btn btn-default stat-item post-wonders-status b-post-bg-ct"  >
             <i class="fa fa-eye" aria-hidden="true"></i>
              <span data-post-video-views="<?php echo $wo['story']['id']; ?>">
              <?php echo $wo['story']['videoViews'];?>
              </span>
            </div>
          <?php endif; ?>
        </div>
        <div class="stats post-actions <?php echo Wo_RightToLeft('pull-right');?>">
          <div class="btn btn-default stat-item b-post-bg-ct" onclick="Wo_ShowComments(<?php echo $wo['story']['id'] ?>);"  title="<?php echo $wo['lang']['comments'];?>">
             <span id="comments"> 
            <?php echo $wo['story']['post_comments'];?> 
            </span> 
            <?php echo $wo['lang']['comments'];?>
          </div>
        </div>
        <div class="clear"></div>
        <hr>
        <?php } ?>
        <?php if($wo['loggedin'] == true) { ?>
        <div class="stats <?php echo Wo_RightToLeft('pull-left');?>">
          <?php echo Wo_LoadPage('buttons/like-wonder');?>
          <div class="btn btn-default stat-item b-post-bg-ct" onclick="Wo_ShowComments(<?php echo $wo['story']['id']; ?>);" title="<?php echo $wo['lang']['comments'];?>">
            <i class="fa fa-comments-o"></i> <?php echo $wo['lang']['comment_post_label'] ?>
          </div>
          <div onclick="Wo_OpenShareBtns(<?php echo $wo['story']['id']; ?>);" class="btn btn-default stat-item b-post-bg-ct" title="<?php echo $wo['lang']['share'];?>">
            <i class="fa fa-share-square-o"></i> <?php echo $wo['lang']['share'];?>
            <!--<span id="shares">
            <?php echo $wo['story']['post_shares'];?>
            </span>-->
          </div>
          
        </div>
        <?php } else {  ?>
        <span class="<?php echo Wo_RightToLeft('pull-left');?>"><a href="<?php echo Wo_SeoLink('index.php?link1=welcome&last_url=' . urlencode($wo['story']['url']));?>"><?php echo $wo['lang']['post_login_requriement'];?></a></span>
        <div class="clear"></div>
        <?php } ?>
        <div class="clear"></div>
      </div>
      <?php if ($wo['loggedin'] == true) { ?>
      <div class="post-footer post-share">
        <div class="bottom">
          <a class="btn social-btn btn-primary btn-twitter btn-sm" href="https://twitter.com/intent/tweet?text=<?php echo (!empty($wo['story']['blog']['url'])) ? $wo['story']['blog']['url']  : $wo['story']['url'];?>" target="_blank">
          <i class="fa fa-twitter"></i>
          </a>
          <a class="btn social-btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/share?url=<?php echo (!empty($wo['story']['blog']['url'])) ? $wo['story']['blog']['url']  : $wo['story']['url'];?>" target="_blank">
          <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn social-btn btn-primary btn-sm" rel="publisher" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo (!empty($wo['story']['blog']['url'])) ? $wo['story']['blog']['url']  : $wo['story']['url'];?>" target="_blank">
          <i class="fa fa-facebook"></i>
          </a>
          <?php if ($wo['story']['admin'] != true && $wo['story']['group_admin'] != true && !Wo_IsSharedPostExists($wo['story']['id']) && empty($wo['story']['page_id'])): ?>
            <a class="btn bgmain social-btn btn-sm popup-modal" rel="publisher" href="#test-modal" onclick="Wo_SharePost(<?php echo $wo['story']['id']; ?>,<?php echo $wo['story']['user_id']; ?>,this)">
                <span class="bold"><i class="fa fa-share-square-o"></i></span>
            </a>  
          <?php endif;?>
        </div>
      </div>
      <div class="post-footer post-likes"></div>
      <div class="clear"></div>
      <div class="post-footer post-wonders"></div>
      <div class="clear"></div>
      <div class="post-footer post-comments <?php echo ($wo['page'] != 'story') ? 'hidden' : ''; ?>" id="post-comments-<?php echo $wo['story']['id']; ?>">
        <div class="post-commet-textarea dropdown">
          <textarea class="form-control comment-textarea textarea" placeholder="<?php echo $wo['lang']['write_comment'];?>" type="text" onkeydown="Wo_RegisterComment(this.value,<?php echo $wo['story']['id']; ?>,<?php echo $wo['story']['publisher']['user_id']; ?>, event, <?php echo (!empty($wo['story']['publisher']['page_id'])) ? $wo['story']['publisher']['page_id'] : '0'; ?>)" onkeyup="textAreaAdjust(this, 30,'comm')" dir="auto"></textarea>
          <a href="#" class="input-group-btn emo-comment dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >
            <span class="btn btn-file">
            <i class="fa fa-smile-o progress-icon" data-icon="smile-o"></i>
            </span>
          </a>
          <div class="image-comment">
            <form action="#" method="post" class="hidden">
              <input accept="image/x-png, image/jpeg" type="file" name="comment_image" id="comment_image_<?php echo $wo['story']['id']; ?>" onchange="Wo_UploadCommentImage(<?php echo $wo['story']['id']; ?>);">
              <input type="hidden" value="" id="comment_src_image">
            </form>
            <div class="comment-btn-wrapper">
              <div>
                <span data-record="0"  class="btn record-comment-audio" id="<?php echo $wo['story']['id']; ?>">
                  <i class="fa fa-microphone"></i>
                </span>
                <span class="hidden" data-comment-rtime="<?php echo $wo['story']['id']; ?>">00:00</span>
              </div>
              <span class="btn btn-file btn-upload-comment">
                <i class="fa fa-picture-o progress-icon" data-icon="picture-o" onclick="document.getElementById('comment_image_<?php echo $wo['story']['id'];?>').click(); return false"></i>
              </span>
            </div>
          </div>
          <span class="input-group-btn send-comment" onclick="Wo_RegisterCommentClick($('#post-comments-<?php echo $wo["story"]["id"];?> .textarea').val(),<?php echo $wo['story']['id']; ?>,<?php echo $wo['story']['publisher']['user_id']; ?>, <?php echo (!empty($wo['story']['publisher']['page_id'])) ? $wo['story']['publisher']['page_id'] : '0'; ?>)">
            <span class="btn btn-file">
            <i class="fa fa-comment-o progress-icon" data-icon="comment-o"></i>
            </span>
          </span>
          <ul class="dropdown-menu">
            <?php  
            foreach ($wo['emo'] as $code => $name) {
              $code   = $code;
              echo  '<span onclick="Wo_AddEmoToCommentInput(' . $wo["story"]["id"] . ', \'' . $code . '\');"><i class="pointer twa-lg twa twa-' . $name . '"></i></span>'; 
            } 
            ?>
         </ul>
        </div>
        <div id="comment-image" class="hidden comment-image-con"></div>
        <div id="hidden_inputbox_comment"></div>
        <?php if($wo['story']['post_comments'] > 5 && $wo['story']['limited_comments'] === true) { ?>
        <div class="view-more-wrapper load-more-comments page-margin" onclick="Wo_loadAllComments(<?php echo $wo['story']['id']; ?>);">
          <span>
          <i class="fa fa-arrow-up progress-icon" data-icon="arrow-up"></i> 
          <?php echo $wo['lang']['view_more_comments'];?>
          </span>
        </div>
        <?php } ?>
        <div class="comments-list">
          <span class="comment-container"></span>
          <?php 
            foreach($wo['story']['get_post_comments'] as $wo['comment']) {
              echo Wo_LoadPage('comment/content');
            }
            ?>
        </div>
      </div>
      <?php } ?>
      <?php 
        if ($wo['loggedin'] == true) {
            echo Wo_LoadPage('modals/edit-post');
            echo Wo_LoadPage('modals/delete-post');
        }
        ?>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $("#post-<?php echo $wo['story']['id']; ?> .post-description p, .product-description").readmore({
      speed: 75,
      moreLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_more"];?></a>',
      lessLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_less"];?></a>'
    });

    <?php if (!empty($wo['story']['product_id'])): ?>
       $(".product-description-<?php echo $wo['story']['product_id']; ?>").readmore({
        speed: 75,
        moreLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_more"];?></a>',
        lessLink: '<a href="#" class="hash"><?php echo $wo["lang"]["read_less"];?></a>'
      });
    <?php endif; ?>
    $("#post-<?php echo $wo['story']['id']; ?> .textarea").triggeredAutocomplete({
       hidden: '#hidden_inputbox_comment',
       source: Wo_Ajax_Requests_File() + "?f=mention",
       trigger: "@" 
    });
    $('[data-toggle="tooltip"]').tooltip();
    $('.dropdown-menu.post-recipient, .dropdown-menu.post-options').click(function (e) {
      e.stopPropagation();
    });

  });
</script>